#!/usr/bin/make -f

# Uncomment to see verbose output
#export DH_VERBOSE=1

DEB_PYTHON3_MODULE_PACKAGES=freppledb
DEB_PYTHON_SETUP_CMD=setup.py
DEB_BUILD_OPTIONS = parallel=2
DEB_CONFIGURE_EXTRA_FLAGS = --disable-static --disable-dependency-tracking --disable-doc PYFLAGS='--install-layout=deb'

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk

override_dh_auto_test:
	export TESTARGS="--regression" && cd test && make check
	./frepplectl.py test freppledb --noinput -v3

install/frepple::
	# Install apache configuration
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/sites-available
	install -m 644 debian/httpd.conf $(CURDIR)/debian/tmp/etc/apache2/sites-available/frepple.conf
	# Rename script file
	mv $(CURDIR)/debian/tmp/usr/bin/frepplectl.py $(CURDIR)/debian/tmp/usr/bin/frepplectl
