{% load i18n %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:"en"}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="NONE,NOARCHIVE">
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
{% block nav-global %}{% endblock %}
{% endif %}

<div class="container-fluid" id="workarea" {% block extracontainer %}{% endblock %}>

{% if messages %}<div class="row"><div class="col-md-12">{% for message in messages %}<ul class="alert {{message.tags}}"><li >{{message}}</li></ul>{% endfor %}</div></div>{% endif %}

{% block content_title %}<div class="row"><div class="col-md-12">{% if title %}<h1>{{title|capfirst|force_escape}}{% if post_title %}: {{post_title|capfirst}}{% endif %}<small>&nbsp;&nbsp;<span id="curfilter"></span></small></h1>{% block tools %}{% endblock %}{% endif %}</div></div>{% endblock %}

{% block content %}<div id="content" class="row">
{% block object-tools %}{% endblock %}
{{content}}
</div>
{% endblock %}

{% block footer %}

<div id="popup" class="modal fade in" role="dialog"></div>

{% endblock %}

</div> <!-- end container -->
{% block modal %}{% endblock %}
</body>
</html>
