{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">
  $(function() {
    $("input:submit").button();
  });
  $(document).ready(function() {
    $('#submit')removeClass('ui-button ui-state-default');
  });
</script>
{% endblock %}

{% block content_title %}<div>{% block tools %}{% endblock %}{% if title %}<h1 style="float:left">{{title|capfirst|force_escape}}: {% trans 'comments'|capfirst|force_escape %}</h1>{% endif %}
{% tabs opts %}</div>{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
{% if perms.common.add_comment %}<form method="post">
  {% csrf_token %}
  <textarea id="comment" name="comment" rows="10" style="width:100%" oninput="$('#submit').addClass('save_undo_button_active').removeClass('save_undo_button_inactive');"></textarea>
  {% comment %}Translators: Translation included with Django {% endcomment %}  
  <input id="submit" type="submit" class="button ui-corner-all save_undo_button_inactive" role="button" value="{% filter force_escape %}{% trans 'Save' %}{% endfilter %}"/>
</form>{% endif%}

{% for c in comments %}
<hr/><h3>{{c.user}} ({{c.user.get_full_name}})<span class="float_right">{{c.lastmodified}}</span></h3>
<pre>{{c.comment}}</pre>
{% endfor %}

</div>
</div>
{% endblock %}
