{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}}
<style>
#content-main td {
  padding-bottom: 1em;
}
#content-main th {
  line-height: 2em;
}
</style>
<script type="text/javascript">
  $(function() {
    $("input:submit").button();
  });
</script>
{% endblock %}
{% block content %}
<div id="content-main">
<form action="." method="post" class="form">{% csrf_token %}
<table>{{form.as_table}}
{% comment %}Translators: Translation included with Django {% endcomment %}  
<tr><td><input type="submit" value="{% filter force_escape %}{% trans 'Save' %}{% endfilter %}"/></td></tr>
</table></form>

</div>

{% endblock %}
