{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div id="content-main">

<form action="." method="post" class="form">{% csrf_token %}
<table>{{ form.as_table }}
<tr><td><input type="submit" value="{% trans 'Save' %}"/></td></tr>
</table></form>

</div>

{% endblock %}
