<div>
  <div class="pull-left" style="border-top-left-radius: 6px; border-bottom-left-radius: 6px;">
    <table class="table-sm table-hover" id="forecasttabletags">
      <thead class="thead-default">
        <tr>
        <th style="background-color: #aaa; border-top-left-radius: 6px">&nbsp;</th>
        </tr>
      </thead>
      <tbody data-ng-init="inputheight = getinputrowheight();">
        <tr data-ng-repeat="r in rows">
          <td data-ng-if="measures[r].mode_future !== 'edit'" style="white-space: nowrap; text-transform: capitalize;">{{measures[r].label}}</td>
          <td data-ng-if="measures[r].mode_future === 'edit'" style="white-space: nowrap; text-transform: capitalize;">
            {{measures[r].label}}<input style="width: 0" class="invisible"></input>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form id="forecasttable" name="forms.fforecasttable" style="overflow-x: scroll; border-top-right-radius: 6px; border-bottom-right-radius: 6px;">
    <table class="table-sm table-hover" id="fforecasttable">
      <thead class="thead-default" id="fforecasttablehead">
        <tr id="row0"></tr>
      </thead>
      <tbody id="forecasttablebody"></tbody>
    </table>
  </form>
</div>
