{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "locationcontext.html" %}
{% include "itemcontext.html" %}
{% include "operationcontext.html" %}
{% include "calendarcontext.html" %}
{% endblock %}

{% block tablebody %}
{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.name buffer key %}</td>
<td>{{i.description}}</td>
<td>{{i.category}}</td>
<td>{{i.subcategory}}</td>
<td>{% superlink i.location location %}</td>
<td>{% superlink i.item item %}</td>
<td>{{i.onhand|floatformat:0}}</td>
<td>{{i.type}}</td>
<td>{% superlink i.minimum calendar %}</td>
<td>{% superlink i.producing operation %}</td>
<td>{{i.carrying_cost}}</td>
<td>{{i.lastmodified}}</td>
</tr>{% endfor %}
{% endblock %}
