{% extends "admin/base_site_list.html" %}

{% block frozendata %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{{ i.day }}</td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.dayofweek}}</td>
<td>{{i.week}}</td>
<td>{{i.month}}</td>
<td>{{i.quarter}}</td>
<td>{{i.year}}</td>
<td>{{i.default}}</td>
<td>{{i.week_start}}</td>
<td>{{i.month_start}}</td>
<td>{{i.quarter_start}}</td>
<td>{{i.year_start}}</td>
<td>{{i.default_start}}</td>
</tr>{% endfor %}
{% endblock %}
