{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "demandcontext.html" %}
{% include "itemcontext.html" %}
{% include "customercontext.html" %}
{% include "operationcontext.html" %}
{% endblock %}

{% block tablebody %}
{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.name demand %}</td>
<td>{% superlink i.item item %}</td>
<td>{% superlink i.customer customer %}</td>
<td>{{i.description}}</td>
<td>{{i.category}}</td>
<td>{{i.subcategory}}</td>
<td>{{i.due}}</td>
<td>{{i.quantity}}</td>
<td>{% superlink i.operation operation %}</td>
<td>{{i.priority}}</td>
<td>{% superlink i.owner demand %}</td>
<td>{{i.lastmodified}}</td>
</tr>{% endfor %}
{% endblock %}
