{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% endblock %}

{% block frozendata %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td><a href="{{i.id}}">{{i.id}}</a></td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.operation operation %}</td>
<td>{{i.startdate}}</td>
<td>{{i.enddate}}</td>
<td>{{i.quantity|floatformat:1}}</td>
<td>{{i.locked}}</td>
<td>{{i.lastmodified}}</td>
</tr>{% endfor %}
{% endblock %}
