{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% endblock %}

{% block frozendata %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% if is_popup %}<a href="" onclick="opener.dismissRelatedLookupPopup(window, {{i.id}}); return false;">{{i.id}}</a>{% else %}<a href="{{i.id}}/">{{i.id}}</a>{% endif %}</td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.operation operation %}</td>
<td>{{i.startdate}}</td>
<td>{{i.enddate}}</td>
<td>{{i.quantity|floatformat:1}}</td>
<td>{{i.locked}}</td>
<td>{% if i.owner %}{% if is_popup %}{{i.owner}}{% else %}<a href="{{i.owner}}/">{{i.owner}}</a>{% endif %}{% endif %}</td>
<td>{{i.lastmodified}}</td>
</tr>{% endfor %}
{% endblock %}
