{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block content %}
<div id="content-main">

{% include "operationcontext.html" %}
{% include "resourcecontext.html" %}
{% include "buffercontext.html" %}
{% include "locationcontext.html" %}
{% include "itemcontext.html" %}

<table><thead><tr>
<th rowspan="2">Operation</th>
<th rowspan="2">Resource</th>
<th rowspan="2">Buffer</th>
<th rowspan="2">Location</th>
<th rowspan="2">Item</th>
<th colspan="2">Consumed Qty</th>
</tr>
<tr>
<th>This</th>
<th>Cumulative</th>
</tr></thead>

<tbody>{% for i in supplypath %}
<tr class="level{{i.level}}">
<td class="level{{i.level}}">{% ifchanged i.level i.operation %}{% superlink i.operation operation %}{% endifchanged %}</td>
<td>{% ifchanged i.level i.operation %}{% if i.operation %}{% for j in i.operation.loads.all %}{% superlink j.resource resource %} {% endfor %}{% endif %}{% endifchanged %}</td>
{% if i.buffer %}<td>{% superlink i.buffer buffer %}</td>
<td>{% superlink i.buffer.location location %}</td>
<td>{% superlink i.buffer.item item %}</td>
{% else %}<td/><td/><td/>{% endif %}
<td>{% if i.consumingflow %}<center>{{i.consumingflow.quantity|floatformat:2}}</center>{% endif %}</td>
<td><center>{{i.cumquantity|floatformat:2}}</center></td>
</tr>{% endfor %}
</tbody></table>

</div>
{% endblock %}
