{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "resourcecontext.html" %}
{% include "locationcontext.html" %}
{% include "calendarcontext.html" %}
{% endblock %}

{% block frozendata %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.name resource key %}</td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.description}}</td>
<td>{{i.category}}</td>
<td>{{i.subcategory}}</td>
<td>{% superlink i.location location %}</td>
<td>{{i.type}}</td>
<td>{% superlink i.maximum calendar %}</td>
<td>{{i.cost}}</td>
<td>{{i.lastmodified}}</td>
</tr>{% endfor %}
{% endblock %}
