{% extends "admin/base_site_table.html" %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "itemcontext.html" %}
{% include "locationcontext.html" %}
{% endblock %}

{% block tablebody %}
{% for j in objectlist %}{% ifchanged j.buffer %}{% if not forloop.first %}</tr>{% endif %}
<tr class="{% cycle row1,row2 %}"><td>{{j.buffer|superlink:"buffer"}}</td><td>{{j.item|superlink:"item"}}</td><td>{% if perms.input.change_location %}{{j.location|superlink:"location"}}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>{% endifchanged %}
<td>{{j.startoh|floatformat:1}}<br/>
{% if j.consumed %}<a href="/flowplan/?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}&amp;quantity__lt=0">{{j.consumed|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{% if j.produced %}<a href="/flowplan/?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}&amp;quantity__gte=0">{{j.produced|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{% if j.consumed or j.produced %}<a href="/flowplan/?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}">{{j.endoh|floatformat:1}}</a>{% else %}{{j.endoh|floatformat:1}}{% endif %}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endblock %}
