{% extends "admin/base_site_table.html" %}
{% load i18n %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "itemcontext.html" %}
{% include "locationcontext.html" %}
<div id="detailcontext" class="ContextMenu">
<a id="/flowplan/%s">{% trans 'Detail' %}</a>
<a id="/bufferpegging/%s">{% trans 'Pegging' %}</a>
</div>
{% endblock %}

{% block before_table %}
{% ifequal hits 1 %}<div id="chart1div" style="z-index: 1000;">
	  <p>&nbsp;</p>
	  <p>{% blocktrans %}frePPLe needs Adobe Flash Player to display graphs. If you're unable to see 
	  the chart here, it means that your browser does not seem to have the Flash Player 
	  installed.<br/>
	  You can downloaded it <a href="http://www.adobe.com/products/flashplayer/" target="_blank"><u>here</u></a> for free.{% endblocktrans %}</p>
	</div>
	<script language="javascript" type="text/javascript">
	   var totalAvailable = document.viewport.getDimensions();
	   var chart1 = new FusionCharts("/static/FCF_MSColumn2DLineDY.swf", "sampleChart", totalAvailable.width-35, 350);
	   chart1.setTransparent();
	   chart1.setDataURL(escape("/buffergraph/{{object}}/?reportbucket={{reportbucket}}&reportstart={{reportstart}}&reportend={{reportend}}"));	   	   
	   chart1.render("chart1div");
	</script>
{% endifequal %}{% endblock %}

{% block frozendata %}{% for j in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink j.name buffer %}</td>
<td>{% superlink j.item item %}</td>
<td>{% if perms.input.change_location %}{% superlink j.location location %}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for j in objectlist2 %}
{% ifchanged j.buffer %}{% if not forloop.first %}</tr>{% endif %}<tr class="{% cycle row1,row2 %}">{% endifchanged %}
<td>{{j.startoh|floatformat:1}}<br/>
{% if j.produced %}<a href="?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}&amp;quantity__gte=0" class="detail">{{j.produced|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{% if j.consumed %}<a href="?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}&amp;quantity__lt=0" class="detail">{{j.consumed|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{% if j.consumed or j.produced %}<a href="?thebuffer={{j.buffer|urlencode}}&amp;o=4a&amp;flowdate__gte={{j.startdate}}&amp;flowdate__lt={{j.enddate}}" class="detail">{{j.endoh|floatformat:1}}</a>{% else %}{{j.endoh|floatformat:1}}{% endif %}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endblock %}

{% block pagination %}{% ifnotequal hits 1 %}{{ block.super }}{% endifnotequal %}{% endblock %}
