{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "demandcontext.html" %}
{% include "forecastcontext.html" %}
{% include "itemcontext.html" %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% if i.forecast %}{% superlink i.forecast i.demand forecast %}{% else %}{% superlink i.demand demand %}{% endif %}</td>
<td>{% superlink i.item item %}</td>
<td>{% superlink i.customer customer %}</td>
<td>{{i.quantity}}</td>
<td>{{i.planquantity}}</td>
<td>{{i.due}}</td>
<td>{{i.plandate}}</td>
<td>{{i.operationplan}}</td>
</tr>{% endfor %}
{% endblock %}

