{% extends "admin/base_site_gridpivot.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}} 
<script type="text/javascript" src="{{STATIC_URL}}js/flotr2.min.js"></script>
{% endblock %}

{% block contextmenus %}
{% include "itemcontext.html" %}
<div id="detail1context" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/demandplan/?o=5a&amp;item={value}&amp;due__gte={startdate}&amp;due__lt={enddate}">{% trans 'Detail' %}</a></li>
</ul></div>
<div id="detail2context" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/demandplan/?o=5a&amp;item={value}&amp;plandate__gte={startdate}&amp;plandate__lt={enddate}">{% trans 'Detail' %}</a></li>
</ul></div>
{% endblock %}

{% block tools %}{% if args.0 %}
{% include "itemtabs.html" %}
{% endif %}{{block.super}}
{% endblock %}

{% block before_table %}{% if args.0 %}
<div id="graph" style="clear: both; height: 400px; padding: 10px; "></div>
{% endif %}{% endblock %}

{% block crosses %}
function drawGraphs(jsondata) 
{  
  var cols = jQuery("#grid").jqGrid('getGridParam', 'colModel'); 
  var x = [];
  var first = true;
  
  {% if args.0 %}// Resize top graph
  $("#graph").width($(window).width()-55);{% endif %} 
  
  // Loop over all graph cells
  $("#grid_frozen").find(".graph").each(function(index) 
  {
    // Collect the graph data
    var d1=[], d2=[], d3=[];
    var j = 0;
    for (var i in cols) 
    {
       if ('startdate' in cols[i]) 
       {
          if (first) x.push([j,cols[i]['name']]);
          var data = jsondata['rows'][index][cols[i]['name']];
          {% if args.0 %}d1.push([j-0.25,data[0]]);
          d2.push([j+0.25,data[1]]);          
          {% else %}d1.push([j,data[0]]);          
          {% endif %}d3.push([j,data[2]]);
          j = j + 1;
       }       
    }                   
    first = false;
     
    // Draw the graph    
    Flotr.draw({% if args.0 %}$("#graph").get(0){% else %}this{% endif %},[
      // Bars
      { data: d1, 
        label: "{{_("demand")|capfirst}}",
        bars : {
          show : true,
          fillOpacity: 1,
          barWidth : {% if args.0 %}0.45{% else %}0.9{% endif %},
          lineWidth : 1,
          shadowSize : 0,
          }         
      },
      {% if args.0 %}{ data: d2, 
        label: "{{_("supply")|capfirst}}", 
        bars : {
          show : true,
          fillOpacity: 1,
          barWidth : 0.45,
          lineWidth : 1,
          shadowSize : 0
          }    
      },{% endif %}
      // Lines
      { data: d3, 
        label: "{{_("backlog")|capfirst}}", 
        lines : {          
          fillOpacity: 1,
          shadowSize : 0,
          fill: false,
          show : true,
          lineWidth: 1          
          }         
      }], {
      HtmlText: false,      
      {% if args.0 %}
      legend : {
        position: 'ne',
        backgroundOpacity: 1,
        },
      grid : {
        verticalLines : false,
        horizontalLines : true,
        },
      xaxis: {
        ticks: x,
        minorTickFreq: 20,
        showMinorLabels: false,
        },
      yaxis: {
        title: '{{_("units")|capfirst}}',
        titleAngle: 90
        },
      {% else %}
      legend: {
        show: false
        },
      grid : {
        verticalLines : false,
        horizontalLines : false,
        outlineWidth: 0
        },
      xaxis: {
        showLabels: false
        },
      yaxis: {
        showLabels: false
        },       
      {% endif %}
      mouse : {
        track : true,
        relative : true,
        trackFormatter: function(obj) {
          return x[Math.round(obj.x)][1] + " " + obj.y; // TODO not good JSON.stringify(obj); 
          }       
        } ,
      colors: ['#2B95EC','#8BBA00','#F6BD0F'], 
      parseFloat: false    
      });     
    });
}

function graph(cellvalue, options, rowdata) {
  return '<div class="graph" style="width:' + (5*numbuckets < 200 ? 5*numbuckets : 200) +'px; height:45px;"></div>';
};  

function crosses (cellvalue, options, rowdata) {
  var result = cellvalue[0] + '<br/>';
  if (cellvalue[0] != 0.0)
    var result = cellvalue[0] + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail1'></span><br/>";
  else
    var result = '0.0<br/>';
  if (cellvalue[1] != 0.0)
    result += cellvalue[1] + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail2'></span><br/>";
  else
    result += '0.0<br/>';
  result += cellvalue[2];  
  return result;
};
{% endblock %}

{% block extra_grid %}loadComplete: drawGraphs,
{% endblock %}
