{% extends "admin/base_site_table.html" %}
{% load i18n %}

{% block contextmenus %}
{% include "itemcontext.html" %}
{% endblock %}

{% block before_table %}
{% ifequal hits 1 %}<div id="chart1div" style="z-index: 1000;">
	  <p>&nbsp;</p>
	  <p>{% blocktrans %}frePPLe needs Adobe Flash Player to display graphs. If you're unable to see 
	  the chart here, it means that your browser does not seem to have the Flash Player 
	  installed.<br/>
	  You can downloaded it <a href="http://www.adobe.com/products/flashplayer/" target="_blank"><u>here</u></a> for free.{% endblocktrans %}</p>
	</div>
	<script language="javascript" type="text/javascript">
	   var totalAvailable = document.viewport.getDimensions();
	   var chart1 = new FusionCharts("/static/FCF_MSColumn2DLineDY.swf", "sampleChart", totalAvailable.width-35, 350);
	   chart1.setTransparent();
	   chart1.setDataURL(escape("{{request.prefix}}/demandgraph/{{object}}/?reportbucket={{reportbucket}}&reportstart={{reportstart}}&reportend={{reportend}}"));	   	   
	   chart1.render("chart1div");
	</script>
{% endifequal %}{% endblock %}

{% block frozendata %}
{% for j in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink j.name item %}</td>
<td>{{ crossheader }}</td>
</tr>{% endfor %}
{% endblock %}

{% block data %}
{% for j in objectlist2 %}{% ifchanged j.item %}{% if not forloop.first %}</tr>{% endif %}
<tr class="{% cycle row1,row2 %}">{% endifchanged %}
<td>{% if j.forecast %}<a href="{{ request.prefix }}/forecast/?o=5a&amp;item={{j.item|urlencode}}">{{j.forecast|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{% if j.orders %}<a href="{{ request.prefix }}/demandplan/?o=5a&amp;item={{j.item|urlencode}}&amp;due__gte={{j.startdate|date:"Y-m-d"}}&amp;due__lt={{j.enddate|date:"Y-m-d"}}">{{j.orders|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{{j.demand|floatformat:1}}<br/>
{% if j.supply %}<a href="{{ request.prefix }}/demandplan/?o=5a&amp;item={{j.item|urlencode}}&amp;plandate__gte={{j.startdate|date:"Y-m-d"}}&amp;plandate__lt={{j.enddate|date:"Y-m-d"}}">{{j.supply|floatformat:1}}</a>{% else %}0.0{% endif %}<br/>
{{j.backlog|floatformat:1}}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endblock %}

{% block pagination %}{% ifnotequal hits 1 %}{{ block.super }}{% endifnotequal %}{% endblock %}
