{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
{% endblock %}{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

{% include "demandcontext.html" %}
{% include "itemcontext.html" %}

<div style="overflow-x: scroll; overflow-y: auto;">
<table>
<thead><tr>{{ rowheader }}</tr></thead>

<tbody>{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.demand|superlink:"demand"}}</td>
<td>{{i.item|superlink:"item"}}</td>
<td>{{i.quantity}}</td>
<td>{{i.planquantity}}</td>
<td>{{i.duedatetime}}</td>
<td>{{i.plandatetime}}</td>
<td>{{i.operationplan}}</td>
</tr>{% endfor %}
</tbody></table>
</div>

{% block pagination %} <p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} demand delivery plans {% ifnotequal hits fullhits %} (total <a class="showall" href="/demandplan/">{{fullhits}}</a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}


