{% extends "admin/base_site_gridpivot.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }} 
{% if args.0 %}<script type="text/javascript" src="/static/FusionCharts.js"></script>{% endif %}
<script type="text/javascript">

function getDirtyData()
{
  var changes = [];
  $(".dirty-cell").each( function() {
    var curCol = jQuery.jgrid.getCellIndex($(this).closest("td,th"));
    var curRow = $(this).closest("tr").attr('id');
    var colmodel = jQuery("#grid").jqGrid ('getGridParam', 'colModel')[curCol];
    changes.push({'id': curRow, 'startdate': colmodel['startdate'], 'enddate': colmodel['enddate'], 'value': $(this).val()});    
    });    
  return changes;
}
  
function onChange(event) 
{
  $(event.target).addClass('dirty-cell');
  upload.select();
}
</script>
{% endblock %}

{% block contextmenus %}
{% include "itemcontext.html" %}
{% include "forecastcontext.html" %}
{% include "customercontext.html" %}
<div id="detailcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/demandplan/?demand__startswith={value}&amp;o=5a&amp;plandate__gte={startdate}&amp;plandate__lt={enddate}">{% trans 'Detail' %}</a></li>
</ul></div>
{% endblock %}

{% block before_table %}
{% if args.0 %}<div id="chart1div" style="z-index: 1000;">
	  <p>&nbsp;</p>
	  <p>{% blocktrans %}frePPLe needs Adobe Flash Player to display graphs. If you're unable to see 
	  the chart here, it means that your browser does not seem to have the Flash Player 
	  installed.<br/>
	  You can downloaded it <a href="http://www.adobe.com/products/flashplayer/" target="_blank"><u>here</u></a> for free.{% endblocktrans %}</p>
	</div>
	<script language="javascript" type="text/javascript">
	   var chart1 = new FusionCharts("/static/FCF_MSColumn2D.swf", "chart1", $(window).width()-35, 350);
	   chart1.setTransparent();
	   chart1.setDataURL(escape("{{request.prefix}}/forecastgraph/{{args.0}}/?reportbucket={{reportbucket}}&reportstart={{reportstart|date:"Y-m-d"}}&reportend={{reportend|date:"Y-m-d"}}"));	   	   
	   chart1.render("chart1div");
	</script>
{% endif %}{% endblock %}

{% block crosses %}
function crosses (cellvalue, options, rowdata) {
{% if perms.input.change_forecastdemand %}
  var result = '<input type="text" class="smallpadding" value="' + cellvalue[0] + '" size="5" onchange="onChange(event)" onclick="$(this).select();"/><br/>' + cellvalue[1] + '<br/>' + cellvalue[2] + '<br/>';
{% else %}
  var result = cellvalue[0] + '<br/>' + cellvalue[1] + '<br/>' + cellvalue[2] + '<br/>';
{% endif %}
  if (cellvalue[3] != 0.0)
    result += cellvalue[3] + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span>";
  else
    result += '0.0';
  return result;
};
{% endblock %}

