{% extends "admin/base_site_table.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    function onChange(input)
    {
    upload.add({entity: 'forecast.total',
      name: input.form.name,
      startdate: input.name,
      enddate: input.id,
      value: input.value});
    }
</script>
{% endblock %}

{% block contextmenus %}
{% include "itemcontext.html" %}
{% include "forecastcontext.html" %}
{% include "customercontext.html" %}
{% endblock %}

{% block before_table %}
{% ifequal hits 1 %}<div id="chart1div" style="z-index: 1000;">
	  <p>&nbsp;</p>
	  <p>{% blocktrans %}frePPLe needs Adobe Flash Player to display graphs. If you're unable to see 
	  the chart here, it means that your browser does not seem to have the Flash Player 
	  installed.<br/>
	  You can downloaded it <a href="http://www.adobe.com/products/flashplayer/" target="_blank"><u>here</u></a> for free.{% endblocktrans %}</p>
	</div>
	<script language="javascript" type="text/javascript">
	   var totalAvailable = document.viewport.getDimensions();
	   var chart1 = new FusionCharts("/static/FCF_MSColumn2D.swf", "sampleChart", totalAvailable.width-35, 350);
	   chart1.setTransparent();
	   chart1.setDataURL(escape("{{request.prefix}}/forecastgraph/{{object}}/?reportbucket={{reportbucket}}&reportstart={{reportstart}}&reportend={{reportend}}"));	   	   
	   chart1.render("chart1div");
	</script>
{% endifequal %}{% endblock %}

{% block frozendata %}{% for j in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink j.name forecast %}</td>
<td>{% superlink j.item item %}</td>
<td>{% superlink j.customer customer %}</td>
<td>{{ crossheader }}</td>
</tr>{% endfor %}{% endblock %}

{% block data %}
{% if perms.input.change_forecastdemand %}
{% for j in objectlist2 %}{% ifchanged j.forecast %}{% if not forloop.first %}</form></tr>{% endif %}
<tr class="{% cycle row1,row2 %}"><form name="{{j.forecast|escape}}">
{% endifchanged %}
<td><input type="text" name="{{j.startdate}}" id="{{j.enddate}}" value="{{j.total|floatformat:0}}" size="5" onchange="onChange(this)"/><br/>
{{j.orders|floatformat:1}}<br/>
{{j.net|floatformat:1}}<br/>
{% if j.planned %}<a href="{{ request.prefix }}/demandplan/?demand={{j.forecast|urlencode}}&amp;o=5a&amp;plandate__gte={{j.startdate}}&amp;plandate__lt={{j.enddate}}" tabindex="-1">{{j.planned|floatformat:1}}</a>{% else %}0.0{% endif %}</td>
{% if forloop.last %}</form></tr>{% endif %}{% endfor %}
{% else %}
{% for j in objectlist2 %}{% ifchanged j.forecast %}{% if not forloop.first %}</form></tr>{% endif %}
<tr class="{% cycle row1,row2 %}">
{% endifchanged %}
<td>{{j.total|floatformat:0}}<br/>
{{j.orders|floatformat:1}}<br/>
{{j.net|floatformat:1}}<br/>
{% if j.planned %}<a href="{{ request.prefix }}/demandplan/?demand={{j.forecast|urlencode}}&amp;o=5a&amp;plandate__gte={{j.startdate}}&amp;plandate__lt={{j.enddate}}">{{j.planned|floatformat:1}}</a>{% else %}0.0{% endif %}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endif %}
{% endblock %}

{% block pagination %}{% ifnotequal hits 1 %}{{ block.super }}{% endifnotequal %}{% endblock %}
