{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('item', 'itemcontext');
		ContextMenu.attach('forecast', 'forecastcontext');
		ContextMenu.attach('customer', 'customercontext');

    function onChange(input)
    {
    var x = [{entity: 'forecast.total',
      name: input.form.name,
      startdate: input.name,
      enddate: input.id,
      value: input.value}];
    var payload =
      '--7d79\r\nContent-Disposition: form-data; name="data";'
      + 'filename="data"\r\nContent-Type: application/json\r\n\r\n'
      + Object.toJSON(x)
      + '\r\n\r\n--7d79--\r\n'
    new Ajax.Request("/edit/", {
        method: 'post',
        contentType: 'multipart/form-data; boundary=7d79',
        postBody: payload,
        onSuccess: function(transport) {},
        onFailure: function(transport) {}
        });
    }

</script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

{% include "itemcontext.html" %}
{% include "forecastcontext.html" %}
{% include "customercontext.html" %}

<div style="overflow-x: scroll; overflow-y: auto;">
<table><thead><tr>{{ rowheader }}{{ columnheader }}</tr></thead>

<tbody>{% if perms.input.change_forecastdemand %}
{% for j in objectlist %}{% ifchanged j.forecast %}{% if not forloop.first %}</form></tr>{% endif %}
<tr class="{% cycle row1,row2 %}" id="{{j.forecast|urlencode}}"><form name="{{j.forecast|escape}}"><td>{{j.forecast|superlink:"forecast"}}</td><td>{{j.item|superlink:"item"}}</td><td>{{j.customer|superlink:"customer"}}</td>
<td>{{ crossheader }}</td>{% endifchanged %}
<td><input type="text" name="{{j.startdate}}" id="{{j.enddate}}" value="{{j.demand|floatformat:0}}" size="5" onchange="onChange(this)"/><br/>
{% if j.planned %}<a href="/demandplan/?demand={{j.forecast|urlencode}}&amp;o=5a&amp;plandate__gte={{j.startdate}}&amp;plandate__lt={{j.enddate}}">{{j.planned|floatformat:1}}</a>{% else %}0.0{% endif %}</td>
{% if forloop.last %}</form></tr>{% endif %}{% endfor %}
{% else %}
{% for j in objectlist %}{% ifchanged j.forecast %}{% if not forloop.first %}</form></tr>{% endif %}
<tr class="{% cycle row1,row2 %}" id="{{j.forecast|urlencode}}"><td>{{j.forecast|superlink:"forecast"}}</td><td>{{j.item|superlink:"item"}}</td><td>{{j.customer|superlink:"customer"}}</td>
<td>{{ crossheader }}</td>{% endifchanged %}
<td>{{j.demand|floatformat:0}}<br/>
{% if j.planned %}<a href="/demandplan/?demand={{j.forecast|urlencode}}&amp;o=5a&amp;plandate__gte={{j.startdate}}&amp;plandate__lt={{j.enddate}}">{{j.planned|floatformat:1}}</a>{% else %}0.0{% endif %}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endif %}
</tbody></table>
</div>

{% block pagination %} <p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} forecasts {% ifnotequal hits fullhits %} (total <a class="showall" href="/forecast/">{{fullhits}}</a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}
