{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% include "resourcecontext.html" %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.theresource resource %}</td>
<td>{% if i.operation_in %}{% superlink i.operationplan__operation operation %}{% else %}{{i.operationplan__operation}}{% endif %}</td>
<td>{{i.startdate}}</td>
<td>{{i.enddate}}</td>
<td>{{i.quantity}}</td>
<td>{{i.setup}}</td>
<td>{{i.operationplan__locked}}</td>
<td>{{i.operationplan__unavailable}}</td>
<td>{{i.operationplan}}</td>
</tr>{% endfor %}
{% endblock %}



