{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% include "resourcecontext.html" %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.theresource resource %}</td>
<td>{% superlink i.operationplan__operation operation %}</td>
<td>{{i.startdate}}</td>
<td>{{i.enddate}}</td>
<td>{{i.quantity}}</td>
<td>{{i.setup}}</td>
<td>{{i.operationplan}}</td>
</tr>{% endfor %}
{% endblock %}



