{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('operation', 'operationcontext');
		ContextMenu.attach('resource', 'resourcecontext');
</script>
{% endblock %}{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="operationcontext" class="ContextMenu">
{% if perms.input.change_operation %}<a id="/admin/input/operation/%s/">Operation</a>{% endif %}
<a id="/supplypath/operation/%s/">Supply Path</a>
<a id="/whereused/operation/%s/">Where Used</a>
</div>

<div id="resourcecontext" class="ContextMenu">
{% if perms.input.change_resource %}<a id="/admin/input/resource/%s/">Resource</a>{% endif %}
<a id="/whereused/resource/%s/">Where used</a>
<a id="/supplypath/resource/%s/">Supply Path</a>
<a id="/resource/%s/">Plan</a>
</div>

<div style="overflow-x: scroll; overflow-y: auto;">
<table>
<thead><tr>{{ rowheader }}</tr></thead>

<tbody>{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.resource|superlink:"resource"}}</td>
<td>{{i.operation|superlink:"operation"}}</td>
<td>{{i.startdatetime}}</td>
<td>{{i.enddatetime}}</td>
<td>{{i.quantity}}</td>
<td>{{i.operationplan}}</td>
</tr>{% endfor %}
</tbody></table>
</div>


{% block pagination %} <p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} resource load plans {% ifnotequal hits fullhits %} (total <a class="showall" href="/loadplan/">{{fullhits}}</a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}


