{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "demandcontext.html" %}
{% include "forecastcontext.html" %}
{% include "operationcontext.html" %}
{% endblock %}

{% block tablebody %}
{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.identifier}}</td>
<td>{% if i.fcst_or_actual %}{% superlink i.demand forecast %}{% else %}{% superlink i.demand demand %}{% endif %}</td>
<td>{% superlink i.operation operation %}</td>
<td>{{i.quantity}}</td>
<td>{{i.startdatetime}}</td>
<td>{{i.enddatetime}}</td>
<td>{{i.locked}}</td>
<td>{{i.owner}}</td>
</tr>{% endfor %}
{% endblock %}
