{% extends "admin/base_site_list.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/static/FusionCharts.js"></script>
{% endblock %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% include "itemcontext.html" %}
{% include "demandcontext.html" %}
{% include "forecastcontext.html" %}
{% endblock %}

{% block data %}
{% for i in objectlist1 %}<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.operation operation %}</td>
<td>{{i.date}}</td>
<td>{% if i.forecast %}{% superlink i.demand forecast %}{% else %}{% superlink i.demand demand %}{% endif %}</td>
<td>{{i.quantity}}</td>
<td>{% superlink i.item item %}</td>
</tr>{% endfor %}
{% endblock %}

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% if reportclass.model %}{{ reportclass.model|verbose_name_plural }} {% endif %}
{% endblock %}