{% extends "admin/base_site_grid.html" %}

{% block contextmenus %}
{% include "operationcontext.html" %}
{% include "demandcontext.html" %}
{% endblock %}

{% block before_table %}{% if args.0 %}
{% include "operationtabs.html" %}<div style="clear:both"></div>
{% endif %}{{block.super}}
{% endblock %}

{% comment %} TODO
{% for i in objectlist1 %}
<tr class="{% cycle row1,row2 %}">
<td>{{i.id}}</td>
<td>{% if i.operation_in %}{% superlink i.operation operation %}{% else %}{{i.operation}}{% endif %}</td>
<td>{{i.quantity}}</td>
<td>{{i.startdate}}</td>
<td>{{i.enddate}}</td>
<td>{{i.locked}}</td>
<td>{{i.unavailable}}</td>
<td>{{i.owner}}</td>
</tr>{% endfor %}
{% endcomment %}
