{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('operation', 'operationcontext');
</script>
{% endblock %}{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="operationcontext" class="ContextMenu">
{% if perms.input.change_operation %}<a id="/admin/input/operation/%s/">Operation</a>{% endif %}
<a id="/supplypath/operation/%s/">Supply Path</a>
<a id="/whereused/operation/%s/">Where Used</a>
<a id="/operation/%s/">Plan</a>
</div>

<div style="overflow-x: scroll; overflow-y: auto;">
<table><thead><tr>{{ rowheader }}{{ columnheader }}</tr></thead>

<tbody>{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}" id="{{j.operation|escape}}"><td>{{j.operation|superlink:"operation"}}</td>
<td>{{ crossheader }}</td>{% endif %}
<td>{% if j.frozen_start %}<a href="/operationplan/?operation={{j.operation|urlencode}}&amp;o=2a&amp;startdate__gte={{j.startdate}}&amp;startdate__lt={{j.enddate}}&amp;locked=1">{{j.frozen_start|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
{% if j.total_start %}<a href="/operationplan/?operation={{j.operation|urlencode}}&amp;o=2a&amp;startdate__gte={{j.startdate}}&amp;startdate__lt={{j.enddate}}">{{j.total_start|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
{% if j.frozen_end %}<a href="/operationplan/?operation={{j.operation|urlencode}}&amp;o=2a&amp;enddate__gte={{j.startdate}}&amp;enddate__lt={{j.enddate}}&amp;locked=1">{{j.frozen_end|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
{% if j.total_end %}<a href="/operationplan/?operation={{j.operation|urlencode}}&amp;o=2a&amp;enddate__gte={{j.startdate}}&amp;enddate__lt={{j.enddate}}">{{j.total_end|floatformat:2}}</a>{% else %}0.00{% endif %}</td>{% endfor %}
</tr>{% endfor %}
</tbody></table>
</div>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} operations {% ifnotequal hits fullhits %} (total <a class="showall" href="/operation/">{{fullhits}}</a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}


