{% extends "admin/base_site_list.html" %}

{% block contextmenus %}
{% include "buffercontext.html" %}
{% include "demandcontext.html" %}
{% endblock %}

{% block tablebody %}
{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">
<td>{% superlink i.demand demand %}</td>
<td>{% superlink i.buffer buffer %}</td>
<td>{{i.depth}}</td>
<td>{{i.cons_date}}</td>
<td>{{i.prod_date}}</td>
<td>{{i.cons_operationplan}}</td>
<td>{{i.prod_operationplan}}</td>
<td>{{i.quantity_demand}}</td>
<td>{{i.quantity_buffer}}</td>
<td>{{i.pegged}}</td>
</tr>{% endfor %}
{% endblock %}
