{% extends "admin/base_site_gridpivot.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/flotr2.min.js"></script>
{% endblock %}

{% block contextmenus %}
{% include "resourcecontext.html" %}
{% include "locationcontext.html" %}
<div id="detailcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
<li class="ui-menu-item"><a id="{{request.prefix}}/loadplan/{value}/?startdate__lt={enddate}&amp;enddate__gt={startdate}">{% trans 'Detail' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/resourcepegging/?theresource={value}&amp;startdate__lt={enddate}&amp;enddate__gt={startdate}">{% trans 'Pegging' %}</a></li>
</ul></div>
{% endblock %}

{% block tools %}{% if args.0 %}
{% include "resourcetabs.html" %}
{% endif %}{{block.super}}
{% endblock %}

{% block before_table %}{% if args.0 %}
<div id="graph" style="clear: both; height: 400px; padding: 10px; "></div>
{% endif %}{% endblock %}

{% block crosses %}
{% if args.0 %}$(function(){
  // Resize top graph
  var h = $(window).height();
  $("#graph").width($(window).width()-55).height(h>800 || h<480 ? 400 : h-380);
});{% endif %}

function drawGraphs(jsondata)
{
  var cols = jQuery("#grid").jqGrid('getGridParam', 'colModel');
  var x_major = [];
  var x_minor = [];
  var first = true;
  var ticks = Math.ceil((cols.length-5)/20.0);

  // Loop over all graph cells
  $("#grid_frozen").find(".graph").each(function(index)
  {
    // Collect the graph data
    var d1=[], d2=[], d3=[], d4=[], d5=[];
    var j = 0;
    for (var i in cols)
    {
       if ('startdate' in cols[i])
       {
          if (first)
          {
            x_minor.push([j,cols[i]['name']]);
            if (j % ticks == 0) x_major.push([j,cols[i]['name']]);
          }
          var data = jsondata['rows'][index][cols[i]['name']];
          var load = data[3];
          var delta = data[0] - data[2] - data[3];
          if (delta > 0)
          {
            free = Math.round(delta*10)/10;
            overload = 0;
          } else
          {
            free = 0;
            load = Math.round((data[0] - data[2])*10)/10;
            overload = -Math.round(delta*10)/10;
          }
          d1.push([j,data[1]]);
          d2.push([j,data[2]]);
          d3.push([j,load]);
          d4.push([j,free]);
          d5.push([j,overload]);
          j = j + 1;
       }
    }
    first = false;

    // Draw the graph
    Flotr.draw({% if args.0 %}$("#graph").get(0){% else %}this{% endif %},[
      { data:d1, label:"{{_('unavailable')|capfirst}}" },
      { data:d2, label:"{{_('setup')|capfirst}}" },
      { data:d3, label:"{{_('load')|capfirst}}" },
      { data:d4, label:"{{_('free')|capfirst}}" },
      { data:d5, label:"{{_('overload')|capfirst}}" }
      ], {
      HtmlText: false,
      bars : {
        show : true,
        stacked : true,
        horizontal : false,
        fillOpacity: 1,
        barWidth : 0.9,
        lineWidth : 1,
        shadowSize : 0
      },
      {% if args.0 %}
      legend : {
        position: 'ne',
        backgroundOpacity: 1,
        },
      grid : {
        verticalLines : false,
        horizontalLines : true,
        },
      xaxis: {
        ticks: x_major
        },
      yaxis: {
        title: '{{units.1|capfirst}}',
        titleAngle: 90
        },
      {% else %}
      legend: {
        show: false
        },
      grid : {
        verticalLines : false,
        horizontalLines : false,
        outlineWidth: 0
        },
      xaxis: {
        showLabels: false
        },
      yaxis: {
        showLabels: false
        },
      {% endif %}
      mouse : {
        track : true,
        relative : true,
        trackFormatter: function(obj) {
          return x_minor[Math.round(obj.x)][1] + "<br/>" + obj.y; // TODO not good JSON.stringify(obj);
          }
        },
      colors: ['#F6BD0F','#2B95EC','#AFD8F8','#8BBA00','#FF0000'],
      parseFloat: false
      });
    });
}

function graph(cellvalue, options, rowdata) {
  return '<div class="graph" style="width:' + (5*numbuckets < 200 ? 5*numbuckets : 200) +'px; height:80px;"></div>';
};

function crosses (cellvalue, options, rowdata) {
  var result = cellvalue[0] + '<br/>' + cellvalue[1] + '<br/>' + cellvalue[2] + '<br/>';
  if (cellvalue[3] != 0.0)
    result += cellvalue[3] + "<span class='context cross ui-icon ui-icon-triangle-1-e' role='detail'></span><br/>";
  else
    result += '0.0<br/>';
  if (cellvalue[4] > 95)
    result += '<span class="highutil">' + cellvalue[4] + '%</span>';
  else
    result += cellvalue[4] + '%';
  return result;
};
{% endblock %}

{% block extra_grid %}loadComplete: drawGraphs,
{% endblock %}
