{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('resource', 'resourcecontext');
		ContextMenu.attach('location', 'locationcontext');

    function onChange(input)
    {
    // Update the page immediately
    var ld = $(input).next().next();
    var utl = ld.next().next();
    var u = parseFloat(ld.innerHTML) /parseFloat(input.value);
    if (isNaN(u) == true) u = 0.0;
    else u = u * 100;
    utl.innerHTML = u.toFixed(0);
    // Send the update to the server, asynchronously
    var x = [{entity: 'resource.maximum',
      name: input.form.name,
      startdate: input.name,
      enddate: input.id,
      value: input.value}];
    var payload =
      '--7d79\r\nContent-Disposition: form-data; name="data";'
      + 'filename="data"\r\nContent-Type: application/json\r\n\r\n'
      + Object.toJSON(x)
      + '\r\n\r\n--7d79--\r\n'
    new Ajax.Request("/edit/", {
        method: 'post',
        contentType: 'multipart/form-data; boundary=7d79',
        postBody: payload,
        onSuccess: function(transport) {},
        onFailure: function(transport) {}
        });
    }

</script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="resourcecontext" class="ContextMenu">
{% if perms.input.change_resource %}<a id="/admin/input/resource/%s/">Resource</a>{% endif %}
<a id="/whereused/resource/%s/">Where used</a>
<a id="/supplypath/resource/%s/">Supply Path</a>
<a id="/resource/%s/">Plan</a>
</div>

<div id="locationcontext" class="ContextMenu">
<a id="/admin/input/location/%s/">Location</a>
</div>

<div style="overflow-x: scroll; overflow-y: auto;">
<table><thead><tr>{{ rowheader }}{{ columnheader }}</tr></thead>

<tbody>
{% if perms.input.change_resource %}
{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}"><form name="{{j.resource|escape}}"><td>{{j.resource|superlink:"resource"}}</td><td>{% if perms.input.change_location %}{{j.location|superlink:"location"}}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>{% endif %}
<td><input type="text" name="{{j.startdate}}" id="{{j.enddate}}" value="{{j.available|floatformat:1}}" size="6" onchange="onChange(this)"/><br/>
{% if j.load %}<a href="/loadplan/?resource={{j.resource|urlencode}}&amp;o=2a&amp;startdate__lt={{j.enddate}}&amp;enddate__gte={{j.startdate}}">{{j.load|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
<label>{{j.utilization|floatformat:0}}</label></td>{% endfor %}
</form></tr>{% endfor %}
{% else %}
{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}"><td>{{j.resource|superlink:"resource"}}</td><td>{% if perms.input.change_location %}{{j.location|superlink:"location"}}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>{% endif %}
<td>{{j.available|floatformat:1}}<br/>
{% if j.load %}<a href="/loadplan/?resource={{j.resource|urlencode}}&amp;o=2a&amp;startdate__lt={{j.enddate}}&amp;enddate__gte={{j.startdate}}">{{j.load|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
{{j.utilization|floatformat:0}}</td>{% endfor %}
</tr>{% endfor %}
{% endif %}
</tbody></table>
</div>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} resources {% ifnotequal hits fullhits %} (total <a class="showall" href="/resource/">{{fullhits}}</a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}
