{% extends "admin/base_site_table.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    function onChange(input)
    {
    // Update the utilization percentage immediately
    var ld = $(input).next().next();
    var u = parseFloat(ld.innerHTML);
    var utl = u ? ld.next().next() : ld.next();
    u /= parseFloat(input.value);
    if (isNaN(u) == true) u = 0.0;
    else u = u * 100;
    utl.innerHTML = u.round();
    // Send the update to the server, asynchronously
    var x = [{entity: 'resource.maximum',
      name: input.form.name,
      startdate: input.name,
      enddate: input.id,
      value: input.value}];
    var payload =
      '--7d79\r\nContent-Disposition: form-data; name="data";'
      + 'filename="data"\r\nContent-Type: application/json\r\n\r\n'
      + Object.toJSON(x)
      + '\r\n\r\n--7d79--\r\n'
    new Ajax.Request("/edit/", {
        method: 'post',
        contentType: 'multipart/form-data; boundary=7d79',
        postBody: payload,
        onSuccess: function(transport) {},
        onFailure: function(transport) {}
        });
    }
</script>
{% endblock %}

{% block contextmenus %}
{% include "resourcecontext.html" %}
{% include "locationcontext.html" %}
{% endblock %}

{% block tablebody %}
{% if perms.input.change_resource %}
{% for j in objectlist %}{% ifchanged j.resource %}{% if not forloop.first %}</form></tr>{% endif %}
<tr class="{% cycle row1,row2 %}"><form name="{{j.resource|escape}}"><td>{% superlink j.resource resource %}</td>
<td>{% if perms.input.change_location %}{% superlink j.location location %}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>{% endifchanged %}
<td><input type="text" name="{{j.startdate}}" id="{{j.enddate}}" value="{{j.available|floatformat:1}}" size="6" onchange="onChange(this)"/><br/>
{% if j.load %}<a href="/loadplan/?resource={{j.resource|urlencode}}&amp;o=2a&amp;startdate__lt={{j.enddate}}&amp;enddate__gte={{j.startdate}}" tabindex="-1">{{j.load|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
<span>{{j.utilization|floatformat:0}}</span></td>
{% if forloop.last %}</form></tr>{% endif %}{% endfor %}
{% else %}
{% for j in objectlist %}{% ifchanged j.resource %}{% if not forloop.first %}</tr>{% endif %}
<tr class="{% cycle row1,row2 %}"><td>{% superlink j.resource resource %}</td>
<td>{% if perms.input.change_location %}{% superlink j.location location %}{% else %}{{j.location}}{% endif %}</td>
<td>{{ crossheader }}</td>{% endifchanged %}
<td>{{j.available|floatformat:1}}<br/>
{% if j.load %}<a href="/loadplan/?resource={{j.resource|urlencode}}&amp;o=2a&amp;startdate__lt={{j.enddate}}&amp;enddate__gte={{j.startdate}}">{{j.load|floatformat:2}}</a>{% else %}0.00{% endif %}<br/>
{{j.utilization|floatformat:0}}</td>
{% if forloop.last %}</tr>{% endif %}{% endfor %}
{% endif %}
{% endblock %}
