#!/usr/bin/make -f

# Uncomment to see verbose output
#export DH_VERBOSE=1

DEB_PYTHON3_MODULE_PACKAGES=freppledb
DEB_PYTHON_SETUP_CMD=contrib/django/setup.py
DEB_BUILD_OPTIONS = nocheck parallel=2
DEB_CONFIGURE_EXTRA_FLAGS = --disable-static --disable-dependency-tracking --enable-doc PYFLAGS='--install-layout=deb'

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/frepple::
	# Install apache configuration
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/sites-available
	install -m 644 contrib/debian/httpd.conf $(CURDIR)/debian/tmp/etc/apache2/sites-available/frepple.conf
	# Rename script file
	mv $(CURDIR)/debian/tmp/usr/bin/frepplectl.py $(CURDIR)/debian/tmp/usr/bin/frepplectl
