{% extends "admin/base_site_nav.html" %}
{% comment %}
This template overrides one of the standard admin ones.
The changes are:
   - extend base_site_nav rather than base_site
{% endcomment %}
{% load i18n %}
{% comment %}Translators: Translation included with Django {% endcomment %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{{request.prefix}}/">{% filter capfirst %}{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}{% endfilter %}</div>{% endblock %}

{% comment %}Translators: Translation included with Django {% endcomment %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

{% comment %}Translators: Translation included with Django {% endcomment %}
<h1>{% trans 'Password change successful' %}</h1>

{% comment %}Translators: Translation included with Django {% endcomment %}
<p>{% trans 'Your password was changed.' %}</p>

{% endblock %}
