{% extends "admin/base_site_nav.html" %}
{% comment %}
This template overrides one of the standard admin ones.
The changes are:
   - extend base_site_nav rather than base_site
   - no userlinks
{% endcomment %}
{% load i18n %}
{% comment %}Translators: Translation included with Django {% endcomment %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{{request.prefix}}/">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% comment %}Translators: Translation included with Django {% endcomment %}
{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

{% comment %}Translators: Translation included with Django {% endcomment %}
<h1>{% trans 'Password change' %}</h1>

{% comment %}Translators: Translation included with Django {% endcomment %}
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}

{{form.old_password.errors}}
{% comment %}Translators: Translation included with Django {% endcomment %}
<p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>{{form.old_password}}</p>
{{form.new_password1.errors}}
{% comment %}Translators: Translation included with Django {% endcomment %}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{form.new_password1}}</p>
{{form.new_password2.errors}}
{% comment %}Translators: Translation included with Django {% endcomment %}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{form.new_password2}}</p>

{% comment %}Translators: Translation included with Django {% endcomment %}
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% endblock %}
