<style>
#setQuantity.ng-dirty {
  background: none !important;
}
#opplan-attributes-drvtable tbody tr td {
    border: 0px;
}
#opplan-attributes-drvtable thead tr td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbb;
}
</style>

<table class="table" id="opplan-attributes-drvtable">
  <thead>
    <tr>
      <td style="min-with: 250px; width:30%">
        <b id="thead1" style="text-transform: capitalize;">{{opptype[operationplan.type]}}&nbsp;</b>
      </td>
      <td>
        <b id="thead2" style="text-transform: capitalize;" data-ng-if="operationplan.hasOwnProperty('operation')">{{operationplan.operation.name}}</b>
        <b id="thead2" style="text-transform: capitalize;" data-ng-if="!operationplan.hasOwnProperty('operation')">{{operationplan.name}}</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b style="text-transform: capitalize;" translate>identifier</b></td>
      <td id="idrow">{{(operationplan.hasOwnProperty('id') && operationplan.id > -1)?operationplan.id:''}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>reference</b></td>
      <td id="referencerow">{{operationplan.reference}}</td>
    </tr>
    <tr data-ng-if="operationplan.item  !== null">
      <td><b style="text-transform: capitalize;" translate>item</b></td>
      <td id="itemrow">{{operationplan.item}}</td>
    </tr>
    <tr ng-if="operationplan.supplier !== null && operationplan.id !== undefined">
      <td><b style="text-transform: capitalize;" translate>supplier</b></td>
      <td id="supplierrow">{{operationplan.supplier}}</td>
    </tr>
    <tr ng-if="operationplan.location !== null">
      <td><b style="text-transform: capitalize;" translate>location</b></td>
      <td id="locationrow">{{operationplan.location}}</td>
    </tr>
    <tr ng-if="operationplan.origin !== null && operationplan.id !== undefined">
      <td><b style="text-transform: capitalize;" translate>origin</b></td>
      <td id="originrow">{{operationplan.origin}}</td>
    </tr>
    <tr ng-if="operationplan.destination !== null && operationplan.id !== undefined">
      <td><b style="text-transform: capitalize;" translate>destination</b></td>
      <td id="destinationrow">{{operationplan.destination}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>start</b></td>
      <td id="startrow">
        <input id="setStart" type="text" size="9" class="vDateField form-control" value="{{operationplan.start|formatdate}}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>end</b></td>
      <td id="endrow">
        <input id="setEnd" type="text" size="9" class="vDateField form-control" value="{{operationplan.end|formatdate}}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>quantity</b></td>
      <td id="quantityrow">
        <input id="setQuantity" class="form-control" type="number" ng-model="operationplan.quantity" ng-model-options="{debounce: 300}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>criticality</b></td>
      <td id="criticalityrow">{{operationplan.criticality}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>delay</b></td>
      <td id="delayrow">{{(operationplan.delay / 86400)|number:0}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" translate>status</b></td>
      <td id="statusrow">
        <div class="btn-group" role="group">
          <button id="proposedBtn" type="button" class="btn btn-primary" ng-click="operationplan.status = 'proposed'" style="text-transform: capitalize;" disabled="disabled" translate>proposed</button>
          <button id="approvedBtn" type="button" class="btn btn-primary" ng-click="operationplan.status = 'approved'" style="text-transform: capitalize;" disabled="disabled" translate>approved</button>
          <button id="confirmedBtn" type="button" class="btn btn-primary" ng-click="operationplan.status = 'confirmed'" style="text-transform: capitalize;" disabled="disabled" translate>confirmed</button>
          <button id="closedBtn" type="button" class="btn btn-primary" ng-click="operationplan.status = 'closed'" style="text-transform: capitalize;" disabled="disabled" translate>closed</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
