<div data-ng-controller="operationplandetailCtrl" id="controller">
  <div class="row">
    <div class="col-md-6">
      <div class="panel" id="attributes-operationplan" data="operationplan" showoperationplan-drv style="margin-bottom: 50px;"></div>
    </div>
    <div class="col-md-6">
      <div class="panel" id="attributes-operationproblems" data="operationplan" showproblemspanel-drv></div>
      <div class="panel" id="attributes-operationresources" data="operationplan" showresourcespanel-drv></div>
      <div class="panel" id="attributes-operationflowplans" data="operationplan" showbufferspanel-drv></div>
      <div class="panel" id="attributes-operationdemandpegging" data="operationplan" showoperationpeggingpanel-drv></div>
    </div>
  </div>
  <!-- row end  -->
  <div id="popup2" class="modal fade in" role="dialog" style="z-index: 10000; overflow-y: visible">
    <div class="modal-dialog" data-ng-style="{'width': (databaseerrormodal) ? '500px' : '300px'}">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true" class="fa fa-times"></span>
          </button>
          <h4 class="modal-title" data-ng-if="!databaseerrormodal && !rowlimiterrormodal" style="text-transform: capitalize;" translate>unsaved changes</h4>
          <h4 class="modal-title" data-ng-if="rowlimiterrormodal && rowlimiterrormodal" style="text-transform: capitalize;" translate>gantt chart rows limit</h4>
          <h4 class="modal-title" data-ng-if="databaseerrormodal" style="text-transform: capitalize;" translate>database transaction failed</h4>
        </div>
        <div class="modal-body" ng-if="!databaseerrormodal && !rowlimiterrormodal">
          <p translate>Do you want to save your changes first?</p>
        </div>
        <div class="modal-body" ng-if="!databaseerrormodal && rowlimiterrormodal">
          <p translate>The Gantt chart is limited to {{rowlimit}} rows.</p>
          <p translate>Please be patient, the chart may take some time to complete.</p>
        </div>
        <div class="modal-body" ng-if="databaseerrormodal" style="height: 350px; overflow: auto;"></div>
        <div class="modal-footer">
          <input type="submit" id="saveAbutton" role="button" data-ng-if="!databaseerrormodal  && !rowlimiterrormodal" data-ng-click="modalcallback.resolve('save')" class="btn btn-primary" data-dismiss="modal" value="{{'Save'|translate }}">
          <input type="submit" id="cancelAbutton" role="button" data-ng-click="modalcallback.resolve('continue'); rowlimiterrormodal = false;" class="btn btn-primary" data-dismiss="modal" value="{{'Continue'|translate }}">
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {

    });
  </script>

</div>
<!-- ng-controller end  -->
</div>
<!-- ng-app end  -->
