# Generated folders
/static
/build*
/logs
/node_modules
/.pnpm-store
/localsettings*
/test/*/output.*.xml
.vs

.*Zone.Identifier

.*Zone.Identifier

# Executables
*.exe
*.dll

# Python
*.pyc
*.pyo
*.pyd
dist
build
venv

# Log files
*.log
*.out
*.stackdump

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other editors
.idea

# Packaging
*.deb
*.rpm
*.tar.gz
*.tgz
*.egg-info
/freppledb/forecast/frontend/node_modules
/freppledb/common/frontend/node_modules
