# Generated folders
/static
/build*
/logs
/node_modules
/localsettings*
/test/*/output.*.xml
.vs

# Executables
*.exe
*.dll

# Python
*.pyc
*.pyo
*.pyd
dist 
build

# Log files
*.log
*.out
*.stackdump

# Eclipse
.settings
.cproject
.project
.pydevproject
.tern-project

# Packaging
*.deb
*.rpm
*.tar.gz
*.tgz
