# Runtime packages
-r requirements.txt

# Package to support timezone conversions
tzlocal

# Extra packages for development environments
black == 21.9b0
Jinja2 < 3.1      # Jinja 3.1 breaks sphinx
Sphinx
sphinx-tabs
sphinx-sitemap
selenium == 4.9.1 # Issues with urllib3 on recent versions
selenium_firefox == 2.0.7
msedge-selenium-tools == 3.141.4

# Extra packages for windows development environments
# pywin32
# adodbapi
# cx_Freeze == 6.5.3
# cx_Logging == 2.2
