# Runtime packages
-r requirements.txt

# Package to support timezone conversions
tzlocal

# Extra packages for development environments
black >= 19.3b0
Jinja2 < 3.1      # Jinja 3.1 breaks sphinx
Sphinx
sphinx-tabs
sphinx-sitemap
selenium
selenium_firefox
msedge-selenium-tools

# Extra packages for windows development environments
# pywin32
# adodbapi
# cx_Freeze == 6.5.3
# cx_Logging == 2.2
