{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
{% endblock %}

{% block tools %}
{% endblock %}

{% block submit_buttons_top %}
<div class="row mb-3">
    <div class="col">
      <input type="submit" value="{% if change %}{% trans 'save'|capfirst %}{% else %}{% trans 'create'|capfirst %}{% endif %}" class="btn btn-primary" name="_save">
    </div>
    <div class="col-auto align-items-center d-flex">
        <h1 class="mb-0">
        <a href="{% setting "DOCUMENTATION_URL" %}/docs/{% version_short %}/model-reference/apikeys.html"
            target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,7" data-bs-title="{% trans 'help'|capfirst|force_escape %}">
            <span class="fa fa-question">
        </span></a>
        </h1>
    </div>
</div>
{% endblock %}
