{% extends "admin/base_site_grid.html" %}

{% block extrahead %}{{block.super}}
<script type="text/javascript">

function probfmt(cellvalue, options, row)
{
  if (row['entity'] == 'material')
    var role = 'input/buffer';
  else if (row['entity'] == 'capacity')
    var role = 'input/resource';
  else if (row['entity'] == 'demand')
    var role = 'input/demand';
  else
    var role = 'input/operation';
  return cellvalue + "<a href='/detail/" + role
     + "/key/' onclick='opendetail(event)'><span class='leftpadding context fa fa-caret-right' role='" + role + "'></span></a>";
}

</script>
{% endblock %}

