$light: #71639e;
$dark: $light;

$primary: #71639e;
$secondary: #71639e;
$success: #8bc34a;
$info: #03a9f4;
$warning: #ffeb3b;
$danger: #ff5252;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Body background
$body-bg: white;

// Table color
$table-color: #333;
$table-color-state: #333;

// Override background colors
$table-bg: inherit;
$card-bg: #fff;
$dropdown-bg: #fff;

// Only for this theme
.bg-light {
    color:#fff;
}

// Logo height
$navbar-brand-height: 3rem;

// Fonts
$font-size-base: 0.8rem;
$font-family-sans-serif: 'FontAwesome', 'Open sans', Helvetica, Verdana, Arial, sans-serif;
$font-family-monospace: 'FontAwesome', Menlo, Monaco, Consolas, "Courier New", monospace;
$body-color: #495057;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1050px,
    // Increased from the default 992px to account for the wide navbar
    xl: 1200px,
    xxl: 1400px
);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "gray": $gray-600
);

// You probably don't need to update the variables below this line.
// These updates are normally generic for all frepple themes.
$accordion-bg: white;
$accordion-btn-focus-border-color: $secondary;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: $body-color;
$accordion-button-bg: $secondary;
$accordion-button-color: $body-color;
$accordion-button-padding-y: 0.5rem;
$breadcrumb-divider-color: $body-color;
$breadcrumb-divider: "\00a0\00a0\F0DA\00a0\00a0";
$breadcrumb-item-padding-x: 0.2rem;
$btn-active-bg-shade-amount: 70%;
$card-title-spacer-y: 0;
$dropdown-color: $body-color;
$dropdown-link-active-bg: $gray-200;
$dropdown-link-active-color: $body-color;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-hover-color: $body-color;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.25;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.25;
$input-bg: white;
$input-btn-focus-width: 2px;
$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $body-color;
$link-hover-decoration: none;
$navbar-light-color: $body-color;
$nav-link-color: $body-color;
$nav-tabs-border-color: $light;
$nav-tabs-border-radius: 0;
$spacer: 1rem;

// Extra settings for the odoo theme
$accordion-button-active-color: white;
$accordion-button-color: white;
$breadcrumb-color: white;
$breadcrumb-divider-color: white;
$card-cap-color: white;
$navbar-light-color: white;
$navbar-light-hover-color: white;