{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-gettext.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-websocket.js"></script>
{# <script type="text/javascript" src="{{STATIC_URL}}js/input-translations.js"></script>#}

{% if debug_js %}
<script type="text/javascript" src="{{STATIC_URL}}common/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/preferences.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/webfactory.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/chat.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}input/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/customer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/demand.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/location.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/buffer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/resource.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/item.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/operation.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/operationplan.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/model.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/operationplandetailCtrl.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/problemspanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/resourcespanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/bufferspanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/demandpeggingpanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/operationplanpanelDrv.js"></script>
{% else %}
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-common.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-input.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-operationplandetail.min.js"></script>
{% endif %}

<script type="text/javascript">
  function extraPreference() {
    return {
      "height": $("#gbox_grid").height() - 48,
      "width": $("#fields").width()
    };
  }

  var language="{{LANGUAGE_CODE}}";
  //var preferences="{{preferences|safe}}".replace(/'/g, '"');
  var version='{% version_short %}';
  // var itemlist={{itemlist|safe}};
  // var customerlist={{customerlist|safe}};
  // var locationlist={{locationlist|safe}};
  var lastid = '';

  $(function() {
    $("#workarea").css('overflow-x','visible');
    var resizeoptions={
      handleSelector: "#resize-handle",
      resizeWidth: false,
      resizeHeight: true,
      onDrag: function (e, $el, opt) {$("#grid").setGridHeight($('#content-main').height()-52);}
    }
    $("#resize-handle").css({'display':'inline-block'});
    $("#content-main").resizable({
      handleSelector: "#resize-handle",
      resizeWidth: false,
      resizeHeight: true,
      onDrag: function (e, $el, opt) {
        $('#grid').setGridWidth($('#content-main').width());
        $("#grid").setGridHeight($('#content-main').height()-52);
      },
      onDragEnd: function (e, $el, opt) {
        grid.saveColumnConfiguration();
      }
    });
    $("#save").on('click', function() {angular.element('#controller').scope().displayInfo(undefined);});
    $("#undo").on('click', function() {angular.element('#controller').scope().displayInfo(undefined);});
  });
</script>
{% endblock %}
{% block extracontainer %}ng-app="operationplandetailapp"{% endblock %}
{% block extra_grid %}

  
afterEditCell: function(rowid, cellname, value, iRow, iCol){
  angular.element('#controller').scope().displayInfo(rowid);
  return grid.afterEditCell(rowid, cellname, value, iRow, iCol);
},


beforeSelectRow: function(rowid){
  var selection = $(this).jqGrid('getGridParam','selarrrow');
  if (selection.includes("" + rowid)) {
     var prev = selection.length - 1;
     while (selection[prev] == rowid)
     {
       --prev;
       if (prev < 0)
         break;
     }
     angular.element('#controller').scope().displayInfo(
       prev >= 0 ? selection[prev] : undefined
       );
  }
  else if (rowid !== lastid) {
    angular.element('#controller').scope().displayInfo(rowid);
    lastid = rowid;
  } else {
    angular.element('#controller').scope().displayInfo(undefined);
    lastid = '';
  }
  return true;
},

onSelectAll: function(aRowids){
  angular.element('#controller').scope().displayInfo(undefined);
  lastid = '';
},
{% endblock %}

{# {% block extracontainer %}data-ng-app='frepple.bottomdetail' style="overflow-y: visible;"{% endblock %}#}
{% block after_table %}
<div class="row">
  <div class="col-md-12">
    <table id="gridANG" class="table table-striped" style="background-color: white"></table>
    <div id="gridpagerANG"></div>
  </div>
</div>
<div data-ng-include="'/static/operationplandetail/operationplandetail.html'"></div>
<script type="text/javascript">
  //console.log('manufacturingorder.html');
</script>
{% endblock %}
