{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-gettext.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/angular-websocket.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/i18n/angular-freppletranslations.js"></script>

{% if debug_js %}
<script type="text/javascript" src="{{STATIC_URL}}common/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/preferences.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/webfactory.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/src/chat.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}input/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/customer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/demand.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/location.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/buffer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/resource.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/item.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/operation.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/operationplan.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}input/src/model.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/module.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/operationplandetailCtrl.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/problemspanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/resourcespanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/bufferspanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/demandpeggingpanelDrv.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}operationplandetail/src/operationplanpanelDrv.js"></script>
{% else %}
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-common.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-input.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frepple-operationplandetail.min.js"></script>
{% endif %}

<script type="text/javascript">
  function extraPreference() {
    return {
      "height": $("#gbox_grid").height() - 48,
      "width": $("#fields").width()
    };
  }

  var language="{{LANGUAGE_CODE}}";
  //var preferences="{{preferences|safe}}".replace(/'/g, '"');
  var version='{% version_short %}';
  // var itemlist={{itemlist|safe}};
  // var customerlist={{customerlist|safe}};
  // var locationlist={{locationlist|safe}};
  var lastid = '';

  $(function() {
    $("#workarea").css('overflow-x','visible');
    var resizeoptions={
      handleSelector: "#resize-handle",
      resizeWidth: false,
      resizeHeight: true,
      onDrag: function (e, $el, opt) {$("#grid").setGridHeight($('#content-main').height()-52);}
    }
    $("#resize-handle").css({'display':'inline-block'});
    $("#content-main").resizable({
      handleSelector: "#resize-handle",
      resizeWidth: false,
      resizeHeight: true,
      onDrag: function (e, $el, opt) {
        $('#grid').setGridWidth($('#content-main').width());
        $("#grid").setGridHeight($('#content-main').height()-52);
      },
      onDragEnd: function (e, $el, opt) {
        grid.saveColumnConfiguration();
      }
    });
    $("#save").on('click', function() {angular.element('#controller').scope().displayInfo(undefined);});
    $("#undo").on('click', function() {angular.element('#controller').scope().displayInfo(undefined);});
    $("#actionsul li").on('click', function() {angular.element('#controller').scope().refreshstatus($("#actions").val());});
  });
</script>
{% endblock %}

{% block extracontainer %}data-ng-app="operationplandetailapp"{% endblock %}

{% block tools %}{% if args %}{% tabs model %}{% endif %}{% endblock %}

{% block extra_grid %}
onCellSelect: function(rowid,iCol,cellcontent,e) { //console.log("onCellSelect");
  var colModel = $(this).jqGrid ('getGridParam', 'colModel');

  // if NOT clicking on checkbox the selection is reset
  if (cellcontent.indexOf('class="cbox"') === -1) { //console.log("clicking on selection checkbox");
    $(this).jqGrid('resetSelection');
  }

  var selection = $(this).jqGrid('getGridParam','selarrrow'); //console.log(selection);

  var rowiddata = jQuery("#grid").getRowData(rowid);

  if (typeof $("#" + rowid + " input").attr('cm','[Object Object]').not('.cbox').attr("id") !== 'undefined') {
    colname=$("#" + rowid + " input").attr('cm','[Object Object]').not('.cbox').attr("id").split("_")[1];
    if (typeof colname !== 'undefined') {
      rowiddata[colname] = $("#" + rowid + " input").attr('cm','[Object Object]').not('.cbox').val();
    }
  }
  //console.log(rowiddata);

  var selectiondata = [];
  var rowdata={};
  var colname = "";
  var editedval = "";
  jQuery.each(selection , function(index,item){
    rowdata = jQuery("#grid").getRowData(item);
    editedval = $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val();
    //console.log(editedval);
    if ( typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val() !== 'undefined' ) { //console.log(item);
      if (typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id") !== 'undefined') {
        colname=$("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id").split("_")[1]; //console.log(colname);
        if (typeof colname !== 'undefined') {
          rowdata[colname] = $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val();
        }
      }
    }
    selectiondata.push(rowdata);
  });

  if (selection.indexOf(rowid) === -1) { //console.log('not in selection');
    selectiondata.push(rowiddata);

    if ($(this).jqGrid ('getGridParam', 'multiselect')) {
      if (cellcontent.indexOf('class="cbox"') > -1) { //console.log("clicking on selection checkbox");
        //do nothing
      } else { //console.log("clicking on random cell");
        selection.push(rowid);
        //$(this).jqGrid('setSelection', rowid, true);
        $("#gview_grid tr#"+rowid+" .cbox").prop('checked',true);
        $("#gview_grid tr#"+rowid).removeClass('success').addClass('success');
      }
    } //console.log(rowid); console.log(rowiddata); console.log(selectiondata);

    if (selectiondata.length > 1) { //console.log('multiple lines are selected');
      angular.element('#controller').scope().processAggregatedInfo(selectiondata, jQuery("#grid").jqGrid ('getGridParam', 'colModel'));
    } else { //console.log('only the rowid line is selected');
      angular.element('#controller').scope().displayInfo(rowiddata);
    }
  } else {  //console.log('rowid is in selection');

    if (cellcontent.indexOf('class="cbox"') > -1) { //console.log("clicking on selection checkbox");

  } else { //console.log("clicking on random cell");
      $("#gview_grid tr#"+rowid+" .cbox").prop('checked',false);
      $("#gview_grid tr#"+rowid).removeClass('success').removeClass('success');
      selection.splice(selection.indexOf(rowid),1);
    }

    selectiondata=[];
    jQuery.each(selection , function(index,item){
      rowdata = jQuery("#grid").getRowData(item);
      editedval = $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val();

      if (typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val() !== 'undefined') {
        if ($("#" + item).hasClass('success')) {
          //console.log(item);
          if (typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id") !== 'undefined') {
            colname=$("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id").split("_")[1];
            if (typeof colname !== 'undefined') {
              rowdata[colname] = $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val();
            }
          }
        }
      }
      if (item !== rowid) {selectiondata.push(rowdata);}
    });
    //console.log(rowid);
    //keep this rowdata if being edited

    //console.log(selection);
    //console.log(selectiondata);

    if (selectiondata.length > 1) { //console.log('multiple lines will be shown');
      angular.element('#controller').scope().processAggregatedInfo(selectiondata, jQuery("#grid").jqGrid ('getGridParam', 'colModel'));
    } else if (selectiondata.length === 1) { //console.log('only the remainder row will be shown');
      angular.element('#controller').scope().displayInfo(selectiondata[0]);
    } else { //console.log('nothing to show');
      angular.element('#controller').scope().displayInfo(undefined);
    }

  }

},
onSelectAll: function(aRowids,status){ //console.log('onSelectAll');
  var selection = $(this).jqGrid('getGridParam','selarrrow');
  var selectiondata = [];
  jQuery.each(selection , function(index,item){
    selectiondata.push(jQuery("#grid").getRowData(item));
  });
  if (status === true) {
    angular.element('#controller').scope().processAggregatedInfo(selectiondata, jQuery("#grid").jqGrid ('getGridParam', 'colModel'));
  } else { //console.log('else');
    angular.element('#controller').scope().displayInfo(undefined);
  }
},
beforeSaveCell: function(rowid, cellname, value, iRow, iCol) { //console.log('beforesavecell');
  $("#grid").jqGrid('setSelection', rowid, true);
  var selection = $(this).jqGrid('getGridParam','selarrrow');
  var selectiondata = [];
  var rowdata = {};
  var temprow = jQuery("#grid").getRowData(rowid);

  jQuery.each(selection , function(index,item){
    if (item === rowid) { //console.log('update cell data');
      //update temprow
      temprow[cellname] = value;

      selectiondata.push(temprow);
    } else {
      rowdata = jQuery("#grid").getRowData(item);

      //if is being edited
      if (typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val() !== 'undefined') {
        if ($("#" + item).hasClass('success')) {
          //console.log(item);
          if (typeof $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id") !== 'undefined') {
            colname=$("#" + item +" input").attr('cm','[Object Object]').not('.cbox').attr("id").split("_")[1];
            if (typeof colname !== 'undefined') {
              rowdata[colname] = $("#" + item +" input").attr('cm','[Object Object]').not('.cbox').val();
            }
          }
        }
      }
      selectiondata.push(rowdata);
    }
  });

  if (selection.length > 1) { //console.log(selectiondata);
    angular.element('#controller').scope().processAggregatedInfo(selectiondata, jQuery("#grid").jqGrid ('getGridParam', 'colModel'));
  } else {
    angular.element('#controller').scope().displayonpanel(rowid, cellname, value);
  }
},
{% endblock %}

{% block after_table %}
<div class="row">
  <div class="col-md-12">
    <table id="gridANG" class="table table-striped" style="background-color: white"></table>
    <div id="gridpagerANG"></div>
  </div>
</div>
<div data-ng-include="'/static/operationplandetail/operationplandetail.html'"></div>
<script type="text/javascript">
//controller will call this function to pass values to the glyphicon-credit-card
function displayongrid(id, columnid, value) {
  angular.element(document).find("#" + id).removeClass("edited").addClass("edited");
  if (columnid === "startdate") {
    angular.element(document).find("#grid").jqGrid("setCell", id, "startdate", value, "dirty-cell");
    $("#save").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
    $("#undo").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
  }
  if (columnid === "enddate") {
    jQuery("#grid").jqGrid("setCell", id, "enddate", value, "dirty-cell");
    $("#save").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
    $("#undo").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
  }
  if (columnid === "quantity") {
    jQuery("#grid").jqGrid("setCell", id, "quantity", value, "dirty-cell");
    $("#save").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
    $("#undo").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
  }
  if (columnid === "status") {
    jQuery("#grid").jqGrid("setCell", id, "status", value, "dirty-cell");
    $("#save").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
    $("#undo").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
  }
}
</script>
{% endblock %}
