{% extends "admin/change_form.html" %}
{% load i18n %}

{% block inline_field_sets %}
{{ block.super }}
{% if object_id %}
<div class="col-lg-auto col-md-6 col-sm-12 mb-3">
<div class="card">
  <div class="card-header">
    <h5 class="card-title text-capitalize">{% trans "related" %}</h5>
  </div>
  <div class="card-body">

  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/common/bucketdetail/?bucket={{ object_id | urlencode }}&noautofilter">
     {% trans "bucket dates"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>

</div>  <!-- card body -->
</div>  <!-- card -->
</div>  <!-- col -->
{% endif %}
{% endblock %}
