/* Style for the context menu. */
div.ContextMenu {
	display: none;
	position: absolute;
	list-style-type: none;
}

/* Style for links in the context menu. */
div.ContextMenu a {
	display: block;
  width: 100px;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	font-family: "MS Sans Serif", Arial, sans-serif;
	color: black;
	background: #cccccc;
}

/* Style when hovering over links in the context menus. */
div.ContextMenu a:hover {
	text-decoration: none;
	color: white;
	background: #417690;
}

a {
  white-space: nowrap;
}

.buffer {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.item {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.resource {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.location {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.operation {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}

/* Style for main navigation menu */

#header div.menuBar,
#header div.menuBar a.menuButton,
#header div.menu,
#header div.menu a.menuItem
{
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

#header div.menuBar {
  padding: 4px 2px 4px 2px;
  margin: 5px 5px 5px 5px;
  text-align: left;
}

#header div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 0px;
  /*z-index: 998;*/
}

#header div.menuBar a.menuButton:hover {
  background-color: transparent;
  text-decoration: none;
}

#header div.menuBar a.menuButtonActive,
#header div.menuBar a.menuButtonActive:hover {
  background-color: #a0a0a0;
}

#header div.menu {
  background-color: #cccccc;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 10000;
}

#header div.menu a.menuItem {
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  color: black;
}

#header div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #417690;
  text-decoration: none;
  color: black;
}

#header div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

#header div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}
