
/* Import the django admin widget styles. */
@import url('/media/css/widgets.css');

/* Style for the actions items at the top of a report */
div.tools {
  float: right;
}

/* Style for the context menu. */
div.ContextMenu {
  display: none;
  position: absolute;
  list-style-type: none;
  z-index: 100;
}

/* Style for links in the context menu. */
div.ContextMenu a {
  display: block;
  width: 100px;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
  font-family: "MS Sans Serif", Arial, sans-serif;
  color: black;
  background: #cccccc;
}

/* Style when hovering over links in the context menus. */
div.ContextMenu a:hover {
  text-decoration: none;
  color: white;
  background: #417690;
}

/* Style for the context menu. */
div.OperatorMenu {
  display: none;
  position: absolute;
  list-style-type: none;
  z-index: 100;
}

/* Style for links in the context menu. */
div.OperatorMenu a {
  display: block;
  width: 30px;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
  font-family: "MS Sans Serif", Arial, sans-serif;
  color: black;
  background: #cccccc;
}

/* Style when hovering over links in the context menus. */
div.OperatorMenu a:hover {
  text-decoration: none;
  color: white;
  background: #417690;
}

/* Note: filter operator styles need fixed width fonts to keep the
   column width constant for every selected operator. */
span.numfilteroper {
  font-family:  Courier New, Courier, monospace;
  font-size: x-small;
}

span.datefilteroper {
  /*text-decoration: underline;*/
  font-family:  Courier New, Courier, monospace;
  font-size: x-small;
}

span.textfilteroper {
  /*text-decoration: underline;*/
  font-family:  Courier New, Courier, monospace;
  font-size: x-small;
}

a {
  white-space: nowrap;
}

.buffer {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.item {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.demand {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.resource {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.location {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.operation {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.forecast {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.customer {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}
.calendar {
  margin-right: 17px;
  padding-right: 17px;
  background: url(/static/context.gif) 100% 100% no-repeat;
  white-space: nowrap;
}


/* Style for main navigation menu */

#header div.menuBar,
#header div.menuBar a.menuButton,
#header div.menu,
#header div.menu a.menuItem
{
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

#header div.menuBar {
  padding: 4px 2px 4px 2px;
  margin: 5px 5px 5px 5px;
  text-align: left;
}

#header div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 0px;
}

#header div.menuBar a.menuButton:hover {
  background-color: #a0a0a0;
  text-decoration: none;
}

#header div.menuBar a.menuButtonActive,
#header div.menuBar a.menuButtonActive:hover {
  background-color: #a0a0a0;
}

#header {
  position: relative;
  z-index: 3;
  overflow: visible;
  padding-top: 3px;
  padding-bottom: 3px;
}


#header div.menu {
  background-color: #cccccc;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 10000;
}

#header div.menu a.menuItem {
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  color: black;
}

#header div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #417690;
  text-decoration: none;
  color: black;
}

#header div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

#header div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
  z-index: 10000;
}

table thead th {
  white-space:nowrap;
  border: 0px;
  vertical-align: top;
}

table thead th.sorted {
  background: #ddd;
}

.dashboard #content { width: 550px; }

tr.level0 {font-weight: bold;}
td.level0 {padding-left: 0px;}
td.level1 {padding-left: 10px;}
td.level2 {padding-left: 20px;}
td.level3 {padding-left: 30px;}
td.level4 {padding-left: 40px;}
td.level5 {padding-left: 50px;}
td.level6 {padding-left: 60px;}
td.level7 {padding-left: 70px;}
td.level8 {padding-left: 80px;}
td.level9 {padding-left: 90px;}
td.level10 {padding-left: 100px;}
td.level11 {padding-left: 110px;}
td.level12 {padding-left: 120px;}

/* Make sure the operator isn't put in bold, as the header line does. */
thead th span {
  font-weight: normal;
  text-align: center;
}

/* Make sure the calendar icons for date filtering don't get a
 * sorting arrow, as the header line does. */
table thead th.ascending span a { background: None; }
table thead th.descending span a { background: None; }

/* Make the calendar link doesn't behave as a block element, as the
 * row header line does. */
thead th span a:link, thead th span a:visited { display: inline; }

/* Style for the popup window. */
div #popup
{
  z-index: 9;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  padding: 10px;
  display: none;
}

div #timebuckets
{
  display: none;
}

div.gridupleft
{
  position: relative;
  float: left;
  z-index: 4;
  /* height and width are set dynamically from javascript */
}

div.gridupright
{
  position: relative;
  overflow: hidden;
  z-index: 3;
  /* height and width are set dynamically from javascript */
}

div.griddownleft
{
  position: relative;
  float: left;
  overflow: hidden;
  z-index:4;
  /* height and width are set dynamically from javascript */
}

div.griddownright
{
  position: relative;
  overflow: auto;
  z-index: 3;
  /* height and width are set dynamically from javascript */
}
