{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}}

<style>
#content-main td {
  padding-bottom: 1em;
}
#content-main th {
  line-height: 2em;
}
</style>
<script type="text/javascript">

	function updateProgress()
	{
	  if (refresh !== null)
	  {
	     // Disable the refresh which is currently active
	     clearInterval(refresh);
	     $('#autorefresh span').removeClass("fa-pause").addClass("fa-refresh");
	     refresh = null;
	  }
	  else
	  {
	    // Enable the refresh which is currently inactive
	    refresh = setInterval(function() {
	      $("#grid").trigger("reloadGrid",[{current:true}]);
	      }, 5000);
	    $('#autorefresh span').removeClass("fa-refresh").addClass("fa-pause");
	  }
	}

  $(function() {
    $("#WizardForm input").click(function(){
      // update progress

      //submit form
      $("#WizardForm").submit();
    });

  });
</script>
{% endblock %}

  {% block content_title %}
    <div class="row">
    <div class="col-xs-12">
  {% if title %}
      <h1>{{ title|capfirst }}</h1>
  {% endif %}
    </div></div>
  {% endblock %}

{% block content %}

<div id="content-main">
    <div>Wizard progress:</div>
          {% for step in subjectdictlist %}
      <div>
        <span>{{step.name}}</span>
        <progress value="{% if subject.status %}1{% else %}0{% endif %}" max="1">
        </progress>
        <a href="{{ step.url_internaldoc }}">Do it!</a>
        <a href="{{ step.url_doc}}" target="_frepplecom">Help</a>
        <input type="checkbox" value="{{subject.status}}" name="{{step.name}}">
      </div>
      {% endfor %}

</div>
{% endblock %}
