{% load i18n %}
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
{% if perms.input.change_buffer %}<li{% if not active_tab %} class="frepple-tabs-active"{% endif %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/buffer/{{object_id}}/">{% trans 'Edit' %}</a></li>{% endif %}
<li{% ifequal active_tab 'supplypath' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/supplypath/buffer/{{object_id}}/">{% trans 'Supply Path' %}</a></li>
<li{% ifequal active_tab 'whereused' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/whereused/buffer/{{object_id}}/">{% trans 'Where Used' %}</a></li>
<li{% ifequal active_tab 'plan' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/buffer/{{object_id}}/">{% trans 'Plan' %}</a></li>
<li{% ifequal active_tab 'plandetail' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/flowplan/{{object_id}}/">{% trans 'Plan detail' %}</a></li>
<li{% ifequal active_tab 'constraint' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/constraintbuffer/{{object_id}}/">{% trans 'Constrained demand' %}</a></li>
<li{% ifequal active_tab 'comments' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/comments/input/buffer/{{object_id}}/">{% trans 'Comments' %}</a></li>
<li{% ifequal active_tab 'history' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/buffer/{{object_id}}/history/">{% trans 'History' %}</a></li>
</ul>
</div>
