{% load i18n %}
<div id="buffercontext" class="ContextMenu">
{% if perms.input.change_buffer %}<a id="{{ request.prefix }}/admin/input/buffer/%s/">{% trans 'Buffer' %}</a>{% endif %}
<a id="{{ request.prefix }}/supplypath/buffer/%s/">{% trans 'Supply Path' %}</a>
<a id="{{ request.prefix }}/whereused/buffer/%s/">{% trans 'Where Used' %}</a>
<a id="{{ request.prefix }}/buffer/%s/">{% trans 'Plan' %}</a>
<a id="{{ request.prefix }}/flowplan/?thebuffer__exact=%s">{% trans 'Plan detail' %}</a>
<a id="{{ request.prefix }}/constraint/?entity=material&owner=%s">{% trans 'Constrained demand' %}</a>
</div>
