{% extends "admin/base_site.html" %}
{% load i18n breadcrumbs admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; Inventory Plan</div>{% endblock %}
{% block content %}
<div id="content-main">

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th>{{j.name}} {{j.start}}</th> {% endfor %}</tr>

{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr id="{{j.buffer}}"><td>{{j.buffer|superlink:"buffer"}}</td>
<td>Start Inventory<br>Consumed<br>Produced<br>End inventory</td>{% endif %}
<td>{{j.startoh}}<br>{{j.consumed}}<br>{{j.produced}}<br>{{j.endoh}}</td>{% endfor %}
</tr>{% endfor %}
</table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} buffers
</p>{% endblock %}

</div>
{% endblock %}
