{% extends "admin/base_site.html" %}
{% load i18n breadcrumbs %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; Inventory Plan</div>{% endblock %}
{% block content %}
<div id="content-main">

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th>{{j.name}} {{j.start}}</th> {% endfor %}</tr>

{% for i in bufferplan %}{% ifchanged i.buffer %}{% if not forloop.first %}</tr>{% endif %}
<tr id="{{i.buffer}}"><td>{{i.buffer|superlink:"buffer"}}</td>
<td>Start Inventory<br>Consumed<br>Produced<br>End inventory</td>{% endifchanged %}
<td>{{i.startoh}}<br>{{i.consumed}}<br>{{i.produced}}<br>{{i.endoh}}</td>{% endfor %}
{% if bufferplan %} </tr> {% endif %}
</table>

</div>
{% endblock %}
