{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia breadcrumbs %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('buffer', 'buffercontext');
</script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="/buffer/?type=csv" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}
{% block content %}
<div id="content-main">

<div id="buffercontext" class="ContextMenu">
{% if perms.input.can_change_buffer %}<a id="/admin/input/buffer/%s">Buffer</a>{% endif %}
  <a id="/path/buffer/%s">Supply Path</a>
</div>

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th style="white-space: nowrap;">{{j.name}}</th> {% endfor %}</tr>

{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}"><td>{{j.buffer|superlink:"buffer"}}</td>
<td>Start&nbsp;Inventory<br/>Consumed<br/>Produced<br/>End&nbsp;inventory</td>{% endif %}
<td>{{j.startoh|floatformat:1}}<br/>{{j.consumed|floatformat:1}}<br/>{{j.produced|floatformat:1}}<br/>{{j.endoh|floatformat:1}}</td>{% endfor %}
</tr>{% endfor %}
</table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} buffers
</p>{% endblock %}

</div>

{% endblock %}
