{% load i18n %}
<div id="customercontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_customer %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/customer/{value}/">{% trans 'Edit' %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/customer/{value}/">{% trans 'Comments' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/customer/{value}/history/">{% trans 'History' %}</a></li>
</ul></div>
