{% load i18n %}
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
{% if perms.input.change_demand %}<li{% if not active_tab %} class="frepple-tabs-active"{% endif %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/demand/{{object_id}}/">{% trans 'Edit' %}</a></li>{% endif %}
<li{% ifequal active_tab 'supplypath' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/supplypath/demand/{{object_id}}/">{% trans 'Supply Path' %}</a></li>
<li{% ifequal active_tab 'constraint' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/constraintdemand/{{object_id}}/">{% trans 'Why short or late?' %}</a></li>
<li{% ifequal active_tab 'plan' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/demandpegging/{{object_id}}/">{% trans 'Plan' %}</a></li>
<li{% ifequal active_tab 'comments' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/comments/input/demand/{{object_id}}/">{% trans 'Comments' %}</a></li>
<li{% ifequal active_tab 'history' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/demand/{{object_id}}/history/">{% trans 'History' %}</a></li>
</ul>
</div>
