{% extends "admin/base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; Demand Plan</div>{% endblock %}
{% block content %}
<div id="content-main">

<table>
<th>{% for j in bucketlist %} <td>{{j.name}} {{j.start}}</td> {% endfor %}</th>

{% for i in demandplan %}{% ifchanged i.item %}{% if forloop.first %}<tr><td><a href="/admin/input/item/{{i.item|urlencode}}">{{i.item}}</a></td>{% else %}</tr>
<tr><td><a href="/admin/input/item/{{i.item|urlencode}}">{{i.item}}</a></td>{% endif %}{% endifchanged %}
<td>{{i.bucket}}<br>{{i.requested}}<br>{{i.supplied}}</td>{% endfor %}
{% if bufferplan %} </tr> {% endif %}
</table>

</div>
{% endblock %}
