{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('item', 'itemcontext');
</script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="itemcontext" class="ContextMenu">
	{% if perms.input.change_item %}<a id="/admin/input/item/%s">Item</a>{% endif %}
  <a id="/path/item/%s">Supply Path</a>
</div>

<table><thead><tr><form>
{% rowheader 1 %}
<th><input type="hidden" name="o" value="{{sort}}"/><input type="submit" value="Go" tabindex="1100"/></th></form>
{% for j in bucketlist %} <th>{{j.name}}</th> {% endfor %}</tr></thead>

<tbody>{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}" id="{{j.item}}"><td>{{j.item|superlink:"item"}}</td>
<td>Demand<br/>Supply<br/>Backlog</td>{% endif %}
<td><a href="/admin/input/demand/?item__exact={{j.item|urlencode}}&ot=asc&o=6&due__gte={{j.startdate}}&due__lt={{j.enddate}}">{{j.requested|floatformat:1}}</a><br/>
{{j.supplied|floatformat:1}}<br/>
{{j.backlog|floatformat:1}}</td>{% endfor %}
</tr>{% endfor %}
</tbody></table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} items {% ifnotequal hits fullhits %} (total <a class="showall" href="/demand/">{{fullhits}}<a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}
