{% load i18n %}
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
{% if perms.input.change_flow %}<li{% if not active_tab %} class="frepple-tabs-active"{% endif %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/flow/{{object_id}}/">{% trans 'Edit' %}</a></li>{% endif %}
<li{% ifequal active_tab 'comments' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/comments/input/flow/{{object_id}}/">{% trans 'Comments' %}</a></li>
<li{% ifequal active_tab 'history' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/input/flow/{{object_id}}/history/">{% trans 'History' %}</a></li>
</ul>
</div>
