{% load i18n %}
<div id="flowcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_flow %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/flow/{value}/">{% trans 'Edit' %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/flow/{value}/">{% trans 'Comments' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/flow/{value}/history/">{% trans 'History' %}</a></li>
</ul></div>
