{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/static/prototype.js"></script>
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('item', 'itemcontext');
		ContextMenu.attach('forecast', 'forecastcontext');
		ContextMenu.attach('customer', 'customercontext');

    function onChange(input)
    {
    var x = [{entity: 'forecast.total',
      name: input.form.name,
      startdate: input.name,
      enddate: input.id,
      value: input.value}];
    var payload =
      '--7d79\r\nContent-Disposition: form-data; name="data";'
      + 'filename="data"\r\nContent-Type: application/json\r\n\r\n'
      + Object.toJSON(x)
      + '\r\n\r\n--7d79--\r\n'
    new Ajax.Request("/edit/", {
        method: 'post',
        contentType: 'multipart/form-data; boundary=7d79',
        postBody: payload,
        onSuccess: function(transport) {},
        onFailure: function(transport) {}
        });
    }

</script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="itemcontext" class="ContextMenu">
	{% if perms.input.change_item %}<a id="/admin/input/item/%s">Item</a>{% endif %}
  <a id="/path/item/%s">Supply Path</a>
</div>

<div id="forecastcontext" class="ContextMenu">
	{% if perms.input.change_forecast %}<a id="/admin/input/forecast/%s">Forecast</a>{% endif %}
  <a id="/path/item/%s">Supply Path</a> <!-- Need to point to the calendar of the forecast... -->
</div>

<div id="customercontext" class="ContextMenu">
	{% if perms.input.change_customer %}<a id="/admin/input/customer/%s">Customer</a>{% endif %}
</div>

<table><thead><tr><form>
{% rowheader 1 %}
{% rowheader 2 %}
{% rowheader 3 %}
<th><input type="hidden" name="o" value="{{sort}}"/><input type="submit" value="Go" tabindex="1100"/></th></form>
{% for j in bucketlist %} <th>{{j.name}}</th> {% endfor %}</tr></thead>

<tbody>{% if perms.input.change_forecastdemand %}
{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}" id="{{j.name}}"><form name="{{j.name}}"><td>{{j.name|superlink:"forecast"}}</td><td>{{j.item|superlink:"item"}}</td><td>{{j.customer|superlink:"customer"}}</td>
<td><span style="line-height:18pt;">Total</span></td>{% endif %}
<td><input type="text" name="{{j.startdate}}" id="{{j.enddate}}" value="{{j.forecast|floatformat:0}}" size="5" onchange="onChange(this)"/></td>{% endfor %}
</form></tr>{% endfor %}
{% else %}
{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}" id="{{j.name}}"><td>{{j.name|superlink:"forecast"}}</td><td>{{j.item|superlink:"item"}}</td><td>{{j.customer|superlink:"customer"}}</td>
<td>Total</td>{% endif %}
<td>{{j.forecast|floatformat:0}}</td>{% endfor %}
</tr>{% endfor %}
{% endif %}
</tbody></table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} forecasts {% ifnotequal hits fullhits %} (total {{fullhits}}){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}
