{% load i18n %}
<div id="itemcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_item %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/item/{value}/">{% trans 'edit'|capfirst %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/supplypath/item/{value}/">{% trans 'supply path'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/whereused/item/{value}/">{% trans 'where used'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/demand/{value}/">{% trans 'plan'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/demandplan/{value}/">{% trans 'plan detail'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/item/{value}/">{% trans 'comments'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/item/{value}/history/">{% trans 'history'|capfirst %}</a></li>
</ul></div>
