{% load i18n %}
<div id="locationcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_location %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/location/{value}/">{% trans 'edit'|capfirst %}</a></li>{% endif %}
{% if perms.input.change_calendar %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/calendar/location/{value}/">{% trans 'edit availability'|capfirst %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/location/{value}/">{% trans 'comments'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/location/{value}/history/">{% trans 'history'|capfirst %}</a></li>
</ul></div>
