{% extends "admin/base_site.html" %}
{% load i18n breadcrumbs %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; Operation Plan</div>{% endblock %}
{% block content %}
<div id="content-main">

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th>{{j.name}} {{j.start}}</th> {% endfor %}</tr>

{% for i in operationplan %}{% ifchanged i.operation %}{% if not forloop.first %}</tr>{% endif %}
<tr id="{{i.operation}}"><td>{{i.operation|superlink:"operation"}}</td>
<td>Quantity</td>{% endifchanged %}
<td>{{i.quantity}}</td>{% endfor %}
{% if operationplan %}</tr> {% endif %}
</table>

</div>
{% endblock %}

