{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('operation', 'operationcontext');
</script>
{% endblock %}{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}{% block content %}
<div id="content-main">

<div id="operationcontext" class="ContextMenu">
	{% if perms.input.change_operation %}<a id="/admin/input/operation/%s">Operation</a>{% endif %}
  <a id="/path/operation/%s">Supply Path</a>
</div>

<table><thead><tr><form>
{% rowheader 1 %}
<th><input type="hidden" name="o" value="{{sort}}"/><input type="submit" value="Go" tabindex="1100"/></th></form>
{% for j in bucketlist %} <th>{{j.name}}</th> {% endfor %}</tr></thead>

<tbody>{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr class="{% cycle row1,row2 %}" id="{{j.operation}}"><td>{{j.operation|superlink:"operation"}}</td>
<td>Frozen&nbsp;starts<br/>Total&nbsp;starts<br/>Frozen&nbsp;ends<br/>Total&nbsp;ends</td>{% endif %}
<td>{{j.frozen_start|floatformat:2}}<br/><a href="/admin/output/operationplan/?operation={{j.operation|urlencode}}&ot=asc&o=2">{{j.total_start|floatformat:2}}</a><br/>
{{j.frozen_end|floatformat:2}}<br/><a href="/admin/output/operationplan/?operation={{j.operation|urlencode}}&ot=asc&o=2">{{j.total_end|floatformat:2}}</a></td>{% endfor %}
</tr>{% endfor %}
</tbody></table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} operations {% ifnotequal hits fullhits %} (total <a class="showall" href="/operation/">{{fullhits}}<a>){% endifnotequal %}
</p>{% endblock %}

</div>
{% endblock %}


