{% load i18n %}
<div id="operationcontext" class="ContextMenu">
{% if perms.input.change_operation %}<a id="{{ request.prefix }}/admin/input/operation/%s/">{% trans 'Operation' %}</a>{% endif %}
<a id="{{ request.prefix }}/supplypath/operation/%s/">{% trans 'Supply Path' %}</a>
<a id="{{ request.prefix }}/whereused/operation/%s/">{% trans 'Where Used' %}</a>
<a id="{{ request.prefix }}/operation/%s/">{% trans 'Plan' %}</a>
<a id="{{ request.prefix }}/operationplan?operation__exact=%s">{% trans 'Plan detail' %}</a>
<a id="{{ request.prefix }}/constraint/?entity=operation&owner=%s">{% trans 'Constrained demand' %}</a>
</div>
