{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia breadcrumbs %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
		ContextMenu.setup();
		ContextMenu.attach('operation', 'operationcontext');
</script>
{% endblock %}{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div id="content-main">

<div id="operationcontext" class="ContextMenu">
	<a id="/admin/input/operation/%s">Operation</a>
  <a id="/path/operation/%s">Supply Path</a>
</div>

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th>{{j.name}}</th> {% endfor %}</tr>

{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr id="{{j.operation}}"><td>{{j.operation|superlink:"operation"}}</td>
<td>Quantity</td>{% endif %}
<td>{{j.quantity|floatformat:1}}</td>{% endfor %}
</tr>{% endfor %}
</table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} operations
</p>{% endblock %}

</div>
{% endblock %}


