{% load i18n %}
<div class="frepple-tabs" id="tabs">
<ul role="tablist">
{% if perms.common.change_parameter %}<li{% if not active_tab %} class="frepple-tabs-active"{% endif %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/common/parameter/{{object_id}}/">{% trans 'edit'|capfirst %}</a></li>{% endif %}
<li{% ifequal active_tab 'comments' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/comments/common/parameter/{{object_id}}/">{% trans 'comments'|capfirst %}</a></li>
<li{% ifequal active_tab 'history' %} class="frepple-tabs-active"{% endifequal %} role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/data/common/parameter/{{object_id}}/history/">{% trans 'history'|capfirst %}</a></li>
</ul>
</div>
