{% load i18n %}
<div id="parametercontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_parameter %}<li class="ui-menu-item"><a id="{{request.prefix}}/admin/common/parameter/{value}/">{% trans 'edit'|capfirst %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/common/parameter/{value}/">{% trans 'comments'|capfirst %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/admin/common/parameter/{value}/history/">{% trans 'history'|capfirst %}</a></li>
</ul></div>
