{% extends "admin/base_site.html" %}
{% load i18n breadcrumbs admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; Resource Plan</div>{% endblock %}
{% block content %}
<div id="content-main">

<table>
<tr><th></th><th></th>{% for j in bucketlist %} <th>{{j.name}}</th> {% endfor %}</tr>

{% for i in objectlist %}{% for j in i %}{% if forloop.first %}
<tr id="{{j.resource}}"><td>{{j.resource|superlink:"resource"}}</td>
<td>Available<br/>Load<br/>Utilization</td>{% endif %}
<td>{{j.available}}<br/>{{j.load}}<br/>{{j.utilization}}</td>{% endfor %}
</tr>{% endfor %}
</table>

{% block pagination %} <p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} resources
</p>{% endblock %}

</div>
{% endblock %}
