{% load i18n %}
<div id="resourcecontext" class="ContextMenu">
{% if perms.input.change_resource %}<a id="{{ request.prefix }}/admin/input/resource/%s/">{% trans 'Resource' %}</a>{% endif %}
<a id="{{ request.prefix }}/whereused/resource/%s/">{% trans 'Where Used' %}</a>
<a id="{{ request.prefix }}/supplypath/resource/%s/">{% trans 'Supply Path' %}</a>
<a id="{{ request.prefix }}/resource/%s/">{% trans 'Plan' %}</a>
<a id="{{ request.prefix }}/loadplan/?theresource__exact=%s">{% trans 'Plan detail' %}</a>
<a id="{{ request.prefix }}/constraint/?entity=capacity&owner=%s">{% trans 'Constrained demand' %}</a>
</div>
