{% load i18n %}
<div id="setupmatrixcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_setupmatrix %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/setupmatrix/{value}/">{% trans 'setup matrix' %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/setupmatrix/{value}/">{% trans 'Comments' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/setupmatrix/{value}/history/">{% trans 'History' %}</a></li>
</ul></div>
