{% load i18n %}
<div id="supplieritemcontext" class="ContextMenu"><ul class="ui-menu ui-widget ui-widget-content ui-corner-all ui-state-default">
{% if perms.input.change_supplieritem %}<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/supplieritem/{value}/">{% trans 'Edit' %}</a></li>{% endif %}
<li class="ui-menu-item"><a id="{{request.prefix}}/comments/input/supplieritem/{value}/">{% trans 'Comments' %}</a></li>
<li class="ui-menu-item"><a id="{{request.prefix}}/data/input/supplieritem/{value}/history/">{% trans 'History' %}</a></li>
</ul></div>
