<div id="textfilter" class="OperatorMenu">
<a id="icontains" onclick="return false;">&nbsp;&nbsp;i in&nbsp;&nbsp;</a>
<a id="contains" onclick="return false;">&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;</a>
<a id="istartswith" onclick="return false;">i starts</a>
<a id="startswith" onclick="return false;">&nbsp;starts&nbsp;</a>
<a id="iendswith" onclick="return false;">&nbsp;i ends&nbsp;</a>
<a id="endswith" onclick="return false;">&nbsp;&nbsp;ends&nbsp;&nbsp;</a>
<a id="iexact" onclick="return false;">&nbsp;&nbsp;i is&nbsp;&nbsp;</a>
<a id="exact" onclick="return false;">&nbsp;&nbsp;&nbsp;is&nbsp;&nbsp;&nbsp;</a>
</div>
