{% load i18n %}
<div class="ui-tabs" id="tabs">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix" role="tablist">
{% if perms.common.change_user %}<li class="ui-state-default ui-corner-top {% if not active_tab %}ui-tabs-active ui-state-active {% endif %}" role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/admin/common/user/{{object_id|urlencode}}/">{% trans 'Edit' %}</a></li>{% endif %}
<li class="ui-state-default ui-corner-top {% ifequal active_tab 'comments' %}ui-tabs-active ui-state-active {% endifequal %}" role="tab"><a class="ui-tabs-anchor" href="{{request.prefix}}/comments/common/user/{{object_id|urlencode}}/">{% trans 'Comments' %}</a></li>
</ul>
</div>
