{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row bg-warning" style="padding-top: 15px">
	<div class="col-md-12">
	  <div class="text-center">
		<h1>4 ways to get started</h1>
		</div>
	</div>
</div>
<div class="row bg-warning" style="padding-top: 15px">
	<div class="col-md-3">
		<div class="text-center">
			<h2><span class="fa fa-tasks fa-2x"></span><br>Quickstart for production planning</h2>
			<p>Generate production plan for a single sales order</p>
			<p><a href="{{request.prefix}}/wizard/quickstart/production/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="text-center">
			<h2><span class="fa fa-cloud-upload fa-2x"></span><br>Data loading wizard</h2>
			<p>Load Excel data files to build a complete model</p>
			<p><a href="{{request.prefix}}/wizard/load/production/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="text-center">
			<h2><span class="fa fa-plug fa-2x"></span><br>Connect to your Odoo</h2>
			<p>Let us pull data from your odoo instance</p>
			<p><a href="{{request.prefix}}/wizard/odoo/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="text-center">
			<h2><span class="fa fa-envelope fa-2x"></span><br>Send us your dataset</h2>
			<p>Let our experts configure a proof-of-concept</p>
			<p><a href="{{request.prefix}}/wizard/send-us-dataset/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
</div>
{{ block.super }}
{% endblock %}