{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row bg-warning" style="padding-top: 15px">
	<div class="col-md-12">
	  <div class="text-center">
		<h1>2 ways to get started</h1>
		</div>
	</div>
</div>
<div class="row bg-warning" style="padding-top: 15px; padding-bottom: 15px">
	<div class="col-sm-6  col-md-4 col-md-offset-2">
		<div class="text-center">
			<h2><span class="fa fa-tasks fa-2x"></span><br>Quickstart for production planning</h2>
			<p>Generate production plan for a single sales order</p>
			<p><a href="{{request.prefix}}/wizard/quickstart/production/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="text-center">
			<h2><span class="fa fa-cloud-upload fa-2x"></span><br>Data loading wizard</h2>
			<p>Load Excel data files to build a complete model</p>
			<p><a href="{{request.prefix}}/wizard/load/production/" class="btn btn-primary">Start</a></p>
		</div>
	</div>
</div>
{{ block.super }}
{% endblock %}