{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block content %}
<div class="row">
<div class="col-md-12" style="max-width:900px">
<div class="panel panel-default">
<div id="wizardhead-0" data-target="#wizardcontent-0" class="panel-heading" role="tab" data-toggle="collapse">
  <h4 class="panel-title">Welcome</h4>
</div>
<div class="panel-body">
<p><a class="underline" href="https://odoo.com" target="_blank">Odoo</a> is a leading open source business management software.</p>
<p>FrePPLe's data connector imports data from Odoo and exports your planning results back to Odoo.</p>
<p>To connect frePPLe with your odoo instance:
<ul>
<li style="list-style:square">An odoo addon has to be installed in your instance. Check out 
<a class="underline" href="https://frepple.org/docs/current/integration-guide/odoo-connector.html" target="_blank">the documentation</a>.</li>
<li style="list-style:square">Contact us fora one-on-one session to get further help.</li>
</ul>
</p>
<p><a class="btn btn-primary" href="https://frepple.com/company/#contact" target="_blank">Contact us</a></p>
</div>
</div>
</div>
</div>
{% endblock %}