{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">
  var refresh = null;
  var lastcompleted = -1;
  
  function extraPreference() {
    return {
       "height": Math.round($("#gbox_grid").height() - 48),
       "refresh": (refresh !== null)
       };
  }

  function updateRefresh()
  {
    if (refresh !== null)
    {
       // Disable the refresh which is currently active
       clearInterval(refresh);
       $('#autorefresh span').removeClass("fa-pause").addClass("fa-refresh");
       refresh = null;
    }
    else
    {
      // Enable the refresh which is currently inactive
      refresh = setInterval(function() {
        $(".tooltip").tooltip('hide');
        $("#grid").trigger("reloadGrid",[{current:true}]);
        }, 5000);
      $('#autorefresh span').removeClass("fa-refresh").addClass("fa-pause");
    }
    grid.saveColumnConfiguration();
  }

  function status (cellvalue, options, rowdata) {
    if ((rowdata.name == "frepple_run" || rowdata.name == "runplan")
        && !('finished' in rowdata)
        && cellvalue.charAt(cellvalue.length-1) == "%"
        )
      {% comment %}Translators: Translation included with Django {% endcomment %}
      return cellvalue + "&nbsp;&nbsp;<button class='btn btn-primary btn-default' style='padding:0 0.5em 0 0.5em; font-size:66%' onclick='cancelTask(" + rowdata['id'] + ")'>{% filter force_escape %}{% trans 'Cancel' %}{% endfilter %}</button>";
    if (cellvalue == 'Failed')
      return "<span class='bg-danger' style='display:block'>{% trans 'failed'|capfirst %}</span>";
    else if (cellvalue == 'Waiting')
    {% comment %}Translators: Translation included with Django{% endcomment %}
      return "{% trans 'waiting'|capfirst|force_escape %}&nbsp;&nbsp;<button class='btn btn-primary btn-default' style='padding:0 0.5em 0 0.5em; font-size:66%' onclick='cancelTask(" + rowdata['id'] + ")'>{% filter force_escape %}{% trans 'Cancel' %}{% endfilter %}</button>";
    else if (cellvalue == 'Done')
      return "{% trans 'done'|capfirst %}";
    else if (cellvalue == 'Canceled')
      return "{% trans 'canceled'|capfirst %}";
    else
      return cellvalue;
  }

  function logbutton (cellvalue, options, rowdata) {
    if (typeof(cellvalue) !== 'undefined') {
      taskid = rowdata['id'];
      return '<a class="btn btn-primary" style="padding:0 0.5em 0 0.5em; font-size:66%" href="{{request.prefix}}/execute/logfrepple/'+taskid+'/">{% trans "view"|capfirst|force_escape %}</a>';
    } else {
      return "";
    }
  }

  function cancelTask(id) {
    $.jgrid.hideModal("#searchmodfbox_grid");

    $("#popup").html('<div class="modal-dialog">'+
        '<div class="modal-content">'+
          '<div class="modal-header">'+
            '<h4 class="modal-title">'+gettext('Cancel task')+'</h4>'+
          '</div>'+
          '<div class="modal-body"><p>'+
          interpolate(gettext('You are about to cancel task %s'), [id]) +
          '</p></div>'+
          '<div class="modal-footer">'+
            '<input type="submit" id="confirmbutton" role="button" class="btn btn-danger pull-left" value="'+gettext('Confirm')+'">'+
            '<input type="submit" id="cancelbutton" role="button" class="btn btn-primary pull-right" data-dismiss="modal" value="'+gettext('Cancel')+'">'+
          '</div>'+
        '</div>'+
    '</div>' )
    .modal('show');
    $('#confirmbutton').on('click', function() {
        $.ajax({
          url: "{{request.prefix}}/execute/cancel/" + id + "/",
          type: "POST",
          success: function () {
            $('#popup').modal('hide');
          },
          error: function (result, stat, errorThrown) {
            $('#popup .modal-body p').html(result.responseText);
            $('#popup .modal-title').html(gettext("Error canceling data"));
            $('#confirmbutton').prop("disabled", true).hide();
            }
        })
      })
  }

  $(function() {

    {% if not "refresh" in preferences or preferences.refresh %}
    // Refresh the grid every 5 seconds
    refresh = setInterval(function() {
      $(".tooltip").tooltip('hide');
      $("#grid").trigger("reloadGrid",[{current:true}]);
      }, 5000);{% endif %}

    var resizeoptions={
        handleSelector: "#resize-handle",
        resizeWidth: false,
        resizeHeight: true,
        onDrag: function (e, $el, opt) {$("#grid").setGridHeight($('#content-main').height()-52);},
    }
    $("#resize-handle").css({'display':'inline-block'});
    $("#content-main").resizable({
      handleSelector: "#resize-handle",
      resizeWidth: false,
      resizeHeight: true,
      onDrag: function (e, $el, opt) {$("#grid").setGridHeight($('#content-main').height()-52);},
      onDragEnd: function (e, $el, opt) {grid.saveColumnConfiguration();}
    });

  });
  var models = {% getModelDependencies %};
</script>

<style>
#scenarios td {
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
}
#grid tr td {
  line-height: 22px;
}
#grid_frozen tr td {
  line-height: 22px;
}
.chck_all, .chck_entity, .empty_all, .empty_entity {
  margin-left: 20px;
  margin-right: 20px;
}

</style>
{% endblock %}

{% block extra_grid %}
loadComplete : function(data) {
 if (data.lastcompleted != lastcompleted) {
   if (lastcompleted != -1)
     location.reload();
   lastcompleted = data.lastcompleted;
 }
},
{% endblock %}

{% block actions %}
	<button class="btn btn-xs btn-primary" id="autorefresh" onclick="updateRefresh()" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'autorefresh'|capfirst|force_escape %}" >
	   <span class="fa {% if "refresh" in preferences and not preferences.refresh %} fa-refresh{% else %} fa-pause{% endif %}"></span>
	</button>
{{block.super}}
{% endblock %}
{% block after_table %}
<div class="row" id="accordion">
<div class="col-md-12">
  <h1>{% trans "launch new tasks"|capfirst %}</h1>
</div></div>
<div class="row">
	<div id="tasks" class="panel-group col-md-12" role="tablist" aria-multiselectable="true" style="max-width:700px; min-width: 600px">
	{% if perms.auth.generate_plan or perms.auth.copy_scenario or perms.auth.release_scenario or perms.auth.run_db %}
	<!--User has some permissions -->
    {% for command in commandlist %}
      {% call_method command "getHTML" request as HTMLcode %}
      {% if HTMLcode %}
      <div class="panel panel-default">
        <div class="panel-heading" data-parent="#tasks" role="tab" id="{{ forloop.counter }}Heading" data-toggle="collapse" data-target="#{{ forloop.counter }}Accord">
          {% if command.help_url %}<span class='fa fa-question pull-right' onclick="window.open('https://frepple.com/docs/{% version_short %}/{{ command.help_url }}')"></span>{% endif %}
          <h4 class="panel-title">
            <a role="button">
              {{ command.title|capfirst }}
            </a>
          </h4>
        </div>
        <div id="{{ forloop.counter }}Accord" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}" role="tabpanel" aria-labelledby="{{ forloop.counter }}Heading">
          <div class="panel-body">
            {{ HTMLcode }}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
	{% else %}
	{% trans "Sorry, You don't have any execute permissions..." %}
	{% endif %}
	</div>
	</div> <!-- end row -->
{% endblock %}
