{% extends "admin/base_site_grid.html" %}

{% block tools %}
{% include "common/snippet_follow.html" %}
{% tabs "input.calendar" %}
{{block.super}}
{% endblock %}

{% block before_table %}
<div id="focusgraph" style="clear: both; height: 200px; padding: 10px"></div>
<div id="contextgraph" style="clear: both; height: 50px; padding: 10px"></div>
{% endblock %}

{% block extrahead %}{{block.super}}
<script src="{{STATIC_URL}}js/d3.min.js"></script>
<script>
var events = {{events|json}};
var horizonstart = new Date({{request.report_startdate|date:"Y"}},{{request.report_startdate|date:"n"}}-1,{{request.report_startdate|date:"j"}});
var horizonend = new Date({{request.report_enddate|date:"Y"}},{{request.report_enddate|date:"n"}}-1,{{request.report_enddate|date:"j"}});
var viewstart = new Date(horizonstart.getTime());
var viewend = new Date((horizonstart.getTime() + horizonend.getTime()) / 2);

var min_y = 0;
var max_y = 0;
var min_x;
var max_x;

var brush;
var zoom;
var zoom_start;
var zoom_end;

$(function() {
    $("#save").attr("onclick", "upload.save(function() {window.location.href = window.location.href})");
});

function drawContextGraph() {
    var width = $("#contextgraph").width();
    var height = $("#contextgraph").height();

    $("#contextgraph").html("");
    var svg = d3.select($("#contextgraph").get(0))
      .append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g");

    for (var e of events) {
      e[0] = new Date(e[0]);
      e[1] = new Date(e[1]);
      if (!min_x) min_x = e[0];
      max_x = e[1];
      if (e[3] < min_y) min_y = e[3];
      if (e[3] > max_y) max_y = e[3];
    }
    var x = d3.scale.linear().rangeRound([0, width]).domain([min_x, max_x]);
    var y = d3.scale.linear().rangeRound([0, height]).domain([max_y, min_y]);

    var linedata = [];
    var last_y = null;
    var last_x = 0;
    svg.selectAll("g")
      .data(events)
      .enter()
      .append("g")
      .each(function(d) {
        var tmp_x = x(d[1]);
        if (last_y !== null)
            linedata.push([tmp_x, last_y]);
        last_y = y(d[3]);
        linedata.push([tmp_x, last_y]);
        last_x = tmp_x;
    });
    linedata.push([last_x, y(0)]);
    linedata.push([x(horizonstart), y(0)]);

    var line = d3.svg.line()
        .x(function(d) { return d[0]; })
        .y(function(d) { return d[1]; });
    svg.append("svg:path")
        .attr("stroke","#8BBA00")
        .attr("fill","#8BBA00")
        .attr("stroke-width", 0)
        .attr("d", line(linedata));

    brush = d3.svg.brush()
        .x(x)
        .extent([viewstart, viewend])
        .on("brush", function() {
           if (brush.empty()) {
             viewstart = horizonstart;
             viewend = horizonend;
           } else {
              var tmp = brush.extent();
              viewstart = new Date(tmp[0]);
              viewend = new Date(tmp[1]);
           }
           drawFocusGraph();
        });

    var brushg = svg.append("g").call(brush);

    brushg.selectAll(".extent")
      .attr("x", x(viewstart))
      .attr("width", x(viewend) - x(viewstart))
      .attr("y", height /4)
      .attr("fill", "gray")
      .attr("opacity", 0.4)
      .attr("height", height / 2);

    brushg.selectAll(".resize")
        .append("rect")
        .attr("width", 6)
        .attr("fill", "gray")
        .attr("transform", "translate(-2," + height/4 + ")")
        .attr('rx', 2)
        .attr('ry', 2)
        .attr("height", height / 2)
        .attr("width", 4);
}

function drawFocusGraph() {
    var width = $("#focusgraph").width();
    var height = $("#focusgraph").height();

    $("#focusgraph").html("");
    var svg = d3.select($("#focusgraph").get(0))
      .append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g");

    var x = d3.scale.linear().rangeRound([0, width]).domain([viewstart, viewend]);
    var y = d3.scale.linear().rangeRound([0, height]).domain([max_y, min_y]);

    var linedata = [];
    var last_y = null;
    var last_x = 0;
    svg.selectAll("g")
      .data(events)
      .enter()
      .append("g")
      .each(function(d) {
        if (d[1] < viewstart || d[0] > viewend)
          return;
        var tmp_x = x(d[1]);
        if (last_y !== null) linedata.push([tmp_x, last_y]);
        last_y = y(d[3]);
        linedata.push([tmp_x, last_y]);
        svg.append("rect")
           .attr("x", last_x)
           .attr("width", tmp_x - last_x)
           .attr("y", 0)
           .attr("height", height*0.8)
           .attr("opacity", 0)
           .on("mouseenter", function() {
               graph.showTooltip(
                d[0] + "<br>" +
                d[1] + "<br>" +
                d[2] + "<br>" +
                d[3]
	           );
             })
	       .on("mouseleave", graph.hideTooltip)
	       .on("mousemove", graph.moveTooltip);
        last_x = tmp_x;
    });
    linedata.push([last_x, y(0)]);
    linedata.push([x(min_x), y(0)]);

    var line = d3.svg.line()
        .x(function(d) { return d[0]; })
        .y(function(d) { return d[1]; });
    svg.append("svg:path")
        .attr("stroke","#E68BBA00")
        .attr("stroke-width", 0)
        .attr("fill","#8BBA00")
        .attr("d", line(linedata));

    zoom = d3.behavior.zoom()
        .x(x)
        .on("zoom", function(arg) {
          var initial_range = zoom_end.getTime() - zoom_start.getTime();
          var delta_range = initial_range * (d3.event.scale -1);
          var translate_range = d3.event.translate[0] / x.range()[1] * initial_range;
          viewstart = new Date(zoom_start.getTime() - delta_range / 2 + translate_range);
          viewend = new Date(zoom_end.getTime() + delta_range / 2 + translate_range);
          if (viewstart < horizonstart)
             viewstart = horizonstart;
          if (viewend > horizonend)
             viewend = horizonend;
          brush.extent([viewstart, viewend]);
          drawContextGraph();
          drawFocusGraph();
        })
        .on("zoomstart", function() {
          zoom_start = viewstart;
          zoom_end = viewend;
        });
    svg.call(zoom);
}

function initGraphs(jsondata) {
  drawContextGraph();
  drawFocusGraph();
}

</script>
{% endblock %}

{% block extra_grid %}loadComplete: initGraphs,{% endblock %}
