
/* GLOBAL DEFAULTS */

body {
  margin: 0;
  padding: 0;
  color: #333;
  background: white;
}


h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
}

a {
  white-space: nowrap;
}

a:link, a:visited {
  color: #333333;
  text-decoration: none;
}

.clear {
  clear: both;
}

.mini {
    font-size: 9px;
}

.reduced {
    font-size: 75%;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* FORM DEFAULTS */

.button.default, input[type=submit].default, .submit-row input.default {
    border: 1px solid #d3d3d3;
    background: #ebebeb;
    font-weight: normal;
    color: #555;
    float: right;
}
button:hover {
        border: 1px solid #999;
        background: #dadada;
        color: #212121;
}

form {
  margin: 0;
  padding: 0;
}

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

div #tabs  {
    float: right;
    font-size: 1em;
}

/* BREADCRUMBS */

div.breadcrumbs {
  padding: 0 15px 0 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 13px;
  background: none;
  line-height: 2em;
}

div.breadcrumbs a {
  color: #333333;
  text-align: left;
}

div.selectdb {
  padding: 0 0 0 30px;
  float: right;
  line-height: 2em;
  height: 2em;
}

div.selectdb select {
  margin: 0;
  padding: 0 0 0 0;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    padding: 0;
    min-width: 800px;
}

#content {
    margin: 10px 15px;
}

#header {
    width: 100%;
}

#content-main {
    float: left;
    width: 100%;
}

#footer {
    clear: both;
    padding: 10px;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../admin/img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(../admin/img/icon_alert.gif);
}

ul.messagelist li.error{
    background-image: url(../admin/img/icon_error.gif);
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../admin/img/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../admin/img/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
  color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../admin/img/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* RECENT ACTIONS */

#recent-actions {
  float: left;
  min-width: 20em;
  margin-left: 30px;
  padding: 10px;
}


/* Import the django admin widget styles. */
@import url('../admin/css/widgets.css');


/* Styles for the actions icons at the top of a report */
#toolicons {
  float: right;
  padding: 5px 5px 5px 5px;
  clear: both;
}

#toolicons span {
  display: inline-block;
  vertical-align: middle;
}

.red {
  color: red;
}


/* Style for the context menu. */
div.ContextMenu {
  display: none;
  position: absolute;
  z-index: 100;
}

div.ContextMenu ul {
  position: absolute;
  list-style-type: none;
  z-index: 100;
}

div ul li {
    list-style-type: none;
}


/* Raw id fields are too small by default. */
.vForeignKeyRawIdAdminField {
    width: 20em;
}

/* Show an icon next to the link text. */
a.icon {
  padding:0.4em 1em 0.4em 20px;
  position:relative;
  text-decoration:none;
  color: #333333;
}

/* Show an icon next to the link text. */
a.icon span.ui-icon {
  left:0.2em;
  margin:-8px 5px 0 0;
  position:absolute;
  top:50%;
}

#grid tr td {
  white-space: nowrap;
  line-height: 2em;
}

#grid_frozen tr td {
  white-space: nowrap;
  line-height: 2em;
}

.pivotgrid tr td {
  line-height: 1.5em !important;
}

.ui-row-ltr {
  background-image: none;
}

.ui-jqgrid tr.ui-row-ltr td {
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
}

span.context {
  display: inline-block;
  padding-left: 3px;
}


/* Styles for the navigation header. */

#user-tools {
  height: 40px;
  line-height: 40px;
  float: right;
  font-size: 13px;
  text-align: right;
}

#headerbar {
  position: relative;
  z-index: 3;
  overflow: visible;
  padding: 10px 15px 5px 15px;
}

nav {
  display: inline;
  z-index: 10000;
  font-size: 13px;
}

nav ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-table;
  line-height: 40px;
}

nav ul li input {
  margin-left: 20px;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  float: left;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 0 8px 0 8px;
  line-height: 40px;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
}

nav ul ul {
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 13px;
  line-height: 2em;
  height: 2em;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top:0;
}

/* Styles for the tabs. */
.frepple-tabs {
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

.frepple-tabs ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
  height: 2em;
  margin: 0 0 3px 0;
}

.frepple-tabs ul li {
  float: left;
  padding: 0 10px 0 10px;
}

.frepple-tabs ul li a {
  color: #333333;
  font-size: 13px;
  text-decoration: none;
}

.frepple-tabs ul li {
  padding-top: 2px;
}

.frepple-tabs-active {
  padding-top: 0 !important;
}

table thead th {
  white-space:nowrap;
  border: 0;
  vertical-align: top;
  background: #e0e0e0;
}

.module h2, .module caption, .inline-group h2 {
    color: #666;
    background: #e0e0e0;
}

table thead th.sorted {
  background: #c0c0c0;
}

#toolicons span.ui-button-text {
  padding: 0.2em;
}

.smallpadding {
  padding: 0 3px;
}

.editablepivotcol {
  line-height: 20px;
}

.bold {
  font-weight: bold;
}


tr.level0 {font-weight: bold;}
td.level0 {padding-left: 0;}
td.level1 {padding-left: 10px;}
td.level2 {padding-left: 20px;}
td.level3 {padding-left: 30px;}
td.level4 {padding-left: 40px;}
td.level5 {padding-left: 50px;}
td.level6 {padding-left: 60px;}
td.level7 {padding-left: 70px;}
td.level8 {padding-left: 80px;}
td.level9 {padding-left: 90px;}
td.level10 {padding-left: 100px;}
td.level11 {padding-left: 110px;}
td.level12 {padding-left: 120px;}

div.calendarbox
{
  z-index: 10;
}

.uzi-autocomplete-loading
{
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.uzi-autocomplete
{
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

.ui-autocomplete-categoryz {
  font-weight:bold;
  list-style-type: none;
}

.highutil
{
  color: red;
  font-weight: bold;
}

.float_right {
  float: right;
}

.graph
{
  margin: auto;
  width: 100%;
  min-height: 48px;
  height: 100%;
}

/* DASHBOARD WIDGETS */

.portlet {
  margin: 0 1em 1em 0;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  font-weight: normal;
}

.portlet-export {
  position: absolute;
  top: 50%;
  right: 32px;
  margin-top: -8px;
  color: #666;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  color: #666;
}

.portlet-close {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -8px;
  color: #666;
}

.portlet-content {
  padding: 0 0.8em 0.8em 0.8em;
  overflow: hidden;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.portlet-content table {
  line-height: 2em;
}

/* TASK EXECUTION SCREEN */

.taskfailed
{
  background-color: red;
  display: block;
}

/* APPLICATION TOUR */

.ui-widget-overlay
{
  background: none;
}

.tourguide {
  border-width: thick;
  border-color: red;
}

.tourtooltip {
  border-width: thick;
  border-color: red;
  padding: 10px 20px;
  position: absolute;
  box-sizing: border-box;
  font-weight: bold;
}

/* CONVENIENCE SHORTCUTS */

.alignleft
{
  text-align: left;
}

.aligncenter
{
  text-align: center;
}

.underline
{
  text-decoration: underline;
}

/* GRAPHS */

.graphcell {
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;  /* To avoid 4px margin at the bottom */
}

.graphheader  {
  fill: #4c3000;
  stroke: none;
  font-size: 12px;
  text-anchor:middle;
}

/* GANTT CHARTS */

.opplan {
  vector-effect: non-scaling-stroke;
  fill: rgb(111,111,255);
  stroke-width: 1px;
  stroke: rgb(0,0,0)
}

.opplan_locked {
  vector-effect: non-scaling-stroke;
  fill: rgb(0,0,255);
  stroke-width: 1px;
  stroke: rgb(0,0,0)
}

.time {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: rgb(0,0,0);
}

.axis path, .axis line, .miniaxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graphline {
  stroke-width: 2;
  fill: none;
}

/* TODO: This fill color actually depends on the theme.
   The value #4c3000 comes from the "sunny" theme. In other themes the header
   of the Gantt charts will match the other columns.
*/
.svgheadertext {
  fill: #4c3000;
  stroke: none;
  font-size: 12px;
  text-anchor:middle;
}

/* STYLES FOR PRINTING */

@media print {
  .ui-tabs-nav, .ui-paging-info, #user-tools, div.menuBar, menuButton,
  .breadcrumbs, div#gridpager, div.toolicons, #displaymode,
  .frozen-div, .frozen-bdiv, .cbox {
    display: none !important;
  }
  .ui-tabs .ui-tabs-hide {
    display: block !important;
  }
}
