{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/media/css/changelists.css" />{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
    installLoadHandler();
</script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<form action=""><input style="display:none; font-weight:bold; padding-top:3px; padding-bottom:3px;" type="button" id="save" value="{% trans 'Save' %}" onclick="upload.save();"/>
<input style="display:none; font-weight:bold; padding-top:3px; padding-bottom:3px; margin-right: 10px; margin-left:10px;" type="button" id="undo" value="{% trans 'Undo' %}" onclick="upload.undo();"/>
{% if filternew %}<a href="javascript:filter.show();"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>{% endif %}
<a href="javascript:bucket_show();" id="bucketconfig"><span class="ui-icon ui-icon-clock"></span>{% trans 'Time' %}</a>
<a href="javascript:export_show(false);" id="csvexport"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a>
</form><div id="popup" class="ui-helper-hidden"></div></div>
<div id="timebuckets" class="ui-helper-hidden" title="{% trans 'Time buckets' %}">
<form method="get" action=""><table>
<tr><th>{% trans 'Bucket' %}</th><td><select name="reportbucket" id="reportbucket">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i reportbucket %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select></td></tr>
<tr><th>{% trans 'start date'|capfirst %}:</th><td><input id="reportstart" type="text" size="10" class="vDateField" value="{{ reportstart|date:"Y-m-d" }}" name="reportstart"/></td></tr>
<tr><th>{% trans 'end date'|capfirst %}:</th><td><input id="reportend" type="text" size="10" class="vDateField" value="{{ reportend|date:"Y-m-d" }}" name="reportend" /></td></tr>
<tr><td><input type="button" value="{% trans 'OK' %}" onclick="javascript:bucket_close(false,'{{reportbucket}}','{{reportstart|date:"Y-m-d"}}','{{reportend|date:"Y-m-d"}}');"/></td>
<td><input type="button" value="{% trans 'Cancel' %}" onclick="javascript:bucket_close(true);"/></td></tr>
</table></form>
</div>
{% endblock %}
{% block content %}
<div id="content-main">
{% if filternew %}{{ filternew }}{% endif %}
{% block contextmenus %}{% endblock %}
{% if filterdef %}{{ filterdef }}{% endif %}
{% block before_table %}{% endblock %}
<table><tr><td style="padding:0px;"><div id="ul" class="gridupleft"><table id="ult">
<thead><tr>{{ rowheader }}</tr></thead>
</table></div></td>

<td style="padding:0px"><div id="ur" class="gridupright"><table id="urt" style="position: relative;">
<thead><tr>{{ columnheader }}</tr></thead>
</table></div></td></tr>

<tr><td style="padding:0px"><div id="dl" class="griddownleft" onscroll="syncScroll(0);">
<table id="dlt" style="float: left; position: relative;"><tbody>
{% block frozendata %}{% endblock %}
</tbody></table></div></td>

<td style="padding:0px"><div id="dr" class="griddownright" onscroll="syncScroll(1);">
<table id="drt" ><tbody>
{% block data %}{% endblock %}
</tbody></table></div></td></tr></table>

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% if reportclass.model %}{{ reportclass.model|verbose_name_plural }} {% endif %}{% ifnotequal hits fullhits %} (total <a class="showall" href="{{base_request_path}}{% if is_popup %}?pop=1{% endif %}">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}</p></div>
{% block after_table %}{% endblock %}
</div>
{% endblock %}
