{% extends "admin/base_site.html" %}
{% block nav-global %}
{% get_models from input as modelsIn %}
<div class="menuBar">
{% if modelsIn %}
<a class="menuButton"
    href=""
    onclick="return buttonClick(event, 'inputMenu');"
    onmouseover="buttonMouseover(event, 'inputMenu');"
>Input</a>
{% endif %}
<a class="menuButton"
    href=""
    onclick="return buttonClick(event, 'outputMenu');"
    onmouseover="buttonMouseover(event, 'outputMenu');"
>Reports</a>
{% if perms.execute %}
<a class="menuButton"
    href=""
    onclick="return buttonClick(event, 'toolsMenu');"
    onmouseover="buttonMouseover(event, 'toolsMenu');"
>Tools</a>
{% endif %}
<a class="menuButton"
    href=""
    onclick="return buttonClick(event, 'userMenu');"
    onmouseover="buttonMouseover(event, 'userMenu');"
>User</a>
</div>

<!-- input menu -->
{% if modelsIn %}
<div id="inputMenu" class="menu" onmouseover="menuMouseover(event)">
{% for m in modelsIn %}
<a class="menuItem" href="{{m.admin_url}}">{{ m.name }}</a>{% endfor %}
</div>
{% endif %}

<!-- output menu -->
<div id="outputMenu" class="menu"
     onmouseover="menuMouseover(event)">
<a class="menuItem" href="/problem/">Problems</a>
<a class="menuItem" href="/buffer/">Inventory Plan</a>
<a class="menuItem" href="/resource/">Resource Plan</a>
<a class="menuItem" href="/demand/">Demand Plan</a>
<a class="menuItem" href="/forecast/">Forecast Plan</a>
<a class="menuItem" href="/operation/">Operation Plan</a>
</div>

<!-- execute menu -->
{% if perms.execute %}
<div id="toolsMenu" class="menu"
     onmouseover="menuMouseover(event)">
<a class="menuItem" href="/execute/">Execute</a>
<a class="menuItem" href="/admin/execute/log/">Log</a>
</div>
{% endif %}

<!-- user menu -->
<div id="userMenu" class="menu">
{% if request.user.is_authenticated %}
<a class="menuItem" href="/admin/logout">Logout</a>
<a class="menuItem" href="/preferences">Preferences</a>
<a class="menuItem" href="/admin/password_change">Change Password</a>
{% else %}
<a class="menuItem" href="/admin/auth/user/">Login</a>
{% endif %}
</div>

{% endblock %}
