{% extends "admin/base_site.html" %}
{% load i18n %}
{% block nav-global %}
{% get_models from auth freppledb.admin.site as modelsAuth %}
{% get_models from input freppledb.admin.site as modelsIn %}
<div class="menuBar">
  
{% if modelsIn %}<a href="#" class="menuButton">{% trans 'Input' %}</a>
<div id="inputMenu" class="menu">
{% for m in modelsIn %}<a class="menuItem" href="{{request.prefix }}{{m.admin_url}}">{{ m.name }}</a>
{% endfor %}</div>{% endif %}

<a class="menuButton" href="#">{% trans 'Reports' %}</a>
<div id="outputMenu" class="menu">
<a class="menuItem" href="{{request.prefix }}/buffer/">{% trans "Inventory report" %}</a>
<a class="menuItem" href="{{request.prefix }}/resource/">{% trans "Resource report" %}</a>
<a class="menuItem" href="{{request.prefix }}/demand/">{% trans "Demand report" %}</a>
<a class="menuItem" href="{{request.prefix }}/forecast/">{% trans "Forecast report" %}</a>
<a class="menuItem" href="{{request.prefix }}/operation/">{% trans "Operation report" %}</a>
<a class="menuItem" href="{{request.prefix }}/operationplan/">{% trans "Operation detail report" %}</a>
<a class="menuItem" href="{{request.prefix }}/loadplan/">{% trans "Resource detail report" %}</a>
<a class="menuItem" href="{{request.prefix }}/flowplan/">{% trans "Inventory detail report" %}</a>
<a class="menuItem" href="{{request.prefix }}/problem/">{% trans "Problem report" %}</a>
<a class="menuItem" href="{{request.prefix }}/constraint/">{% trans "Constraint report" %}</a>
<a class="menuItem" href="{{request.prefix }}/kpi/">{% trans "Performance Indicators" %}</a>
</div>

{% if perms.execute %}<a class="menuButton" href="#">{% trans 'Tools' %}</a>
<div id="toolsMenu" class="menu">
<a class="menuItem" href="{{request.prefix }}/execute/">{% trans 'Execute' %}</a>
<a class="menuItem" href="{{request.prefix }}/execute/log/">{% trans 'Log' %}</a>
</div>{% endif %}

{% if modelsAuth %}<a class="menuButton" href="#">{% trans 'Admin' %}</a>
<div id="authMenu" class="menu">
{% for m in modelsAuth %}
<a class="menuItem" href="{{m.admin_url}}">{{ m.name }}</a>{% endfor %}
</div>{% endif %}

<a class="menuButton" href="#">{% trans 'User' %}</a>
<div id="userMenu" class="menu">{% if request.user.is_authenticated %}
<a class="menuItem" href="{{request.prefix }}/admin/logout/">{% trans 'Log out' %}</a>
<a class="menuItem" href="{{request.prefix }}/preferences/">{% trans 'Preferences' %}</a>
<a class="menuItem" href="{{request.prefix }}/admin/password_change/">{% trans 'Change password' %}</a>
{% else %}<a class="menuItem" href="{{request.prefix }}/admin/auth/user/">{% trans 'Log in' %}</a>
{% endif %}</div>

</div>
{% endblock %}
