{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
    Event.observe(window, 'load', syncInitialize);
</script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
{% if hasaddperm %}<a href="{{ model.admin_url }}add/{% if is_popup %}?_popup=1{% endif %}"><img src="{% admin_media_prefix %}img/admin/icon_addlink.gif"/>{% trans 'Add' %}</a>{% endif %}
{% if hasaddperm and model %}<a href="javascript:import_show();"><img src="/static/csv.png"/>{% trans 'Import' %}</a>{% endif %}
<a href="javascript:export_show(true);" id="csvexport"><img src="/static/csv.png"/>{% trans 'Export' %}</a><div id="popup"></div>
</div>{% endblock %}
{% block content %}
<div id="content-main">

{% include "textfilter.html" %}
{% include "datefilter.html" %}
{% block contextmenus %}{% endblock %}

{% if reportclass.frozenColumns %}<div id="ul" class="gridupleft"><table id="ult">
<thead><tr>{{ rowheaderfrozen }}</tr></thead>
</table></div>{% endif %}

<div id="ur" class="gridupright"><table id="urt" style="position: relative;">
<thead><tr>{{ rowheader }}</tr></thead>
</table></div>

{% if reportclass.frozenColumns %}<div id="dl" class="griddownleft">
<table id="dlt" style="float: left; position: relative;"><tbody>
{% block frozendata %}{% endblock %}
</tbody></table></div>{% endif %}

<div id="dr" class="griddownright" onscroll="syncScroll();">
<table id="drt"><tbody>
{% block data %}{% endblock %}
</tbody></table></div>

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% if reportclass.model %}{% trans reportclass.model._meta.verbose_name_plural %} {% endif %}{% ifnotequal hits fullhits %} (total <a class="showall" href="{{request.path}}{% if is_popup %}?pop=1{% endif %}">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}

{% endblock %}
