{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}frePPLe{% if title %} - {{title}}{% endif %}{% endblock %}
{% block branding %}<h1 id="site-name">frePPLe {% version %}</h1>{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/styles.css" />{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/static/prototype.js"></script>
<script type="text/javascript" src="/static/frepple.js"></script>
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs">{% crumbs %}</div>{% endblock %}
{% block nav-global %}{% endblock %}
