{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}} 
<script type="text/javascript">

function columns (cellvalue, options, rowdata) {
  return "{% for f in reportclass.crosses %}{% if not forloop.first %}{% if reportclass.editable and haschangeperm %}</span>{% endif %}<br/>{% elif reportclass.editable and haschangeperm %}<span style='line-height:20px'>{% endif %}{{f.1.title|title}}{% endfor %}";
};

{% block crosses %}function crosses (cellvalue, options, rowdata) {  
  for (i in cellvalue)
    if (i == 0) res = cellvalue[i];
    else res += '<br/>' + cellvalue[i];
  return res;
};{% endblock %}

var initialfilter{% if filters %} = {{filters|safe}}{% endif %};

$(function(){ 
  jQuery("#grid").jqGrid({        
   	url: location.pathname + "?format=json",
	  datatype: "json",
	  jsonReader : {repeatitems:false},
   	colModel:[
   	  {% for f in reportclass.rows %}{% if not forloop.first %},
   	  {% endif %}{ {{f|safe}}frozen:true }{% endfor %},
      { name:'columns',label:' ',sortable:false,width:150,align:'left',formatter:columns,search:false,frozen:true,title:false },
      {% for f in bucketlist %}{% if not forloop.first %},
      {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:crosses,search:false,title:false }{% endfor %}
   	  ],{% if reportclass.editable and haschangeperm %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname,    
    beforeSaveCell: upload.select,
    {% endif %}rowNum: {{request.pagesize}},
   	pager: '#gridpager',
    viewrecords: true,    
    sortorder: "asc",	
    hidegrid: false,
    scrollRows: true,
    //altRows: true,  // Different color for alternating rows. But doesn't look nice with a lot of themes.
    //scroll: 1,      // Enables scrolling over all records, instead of paging. But not compatible with frozen columns. 
    autowidth: true,    
	  shrinkToFit: false,{% if filters %}    
    postData: {filters: JSON.stringify(initialfilter)},
    search : true,{% endif %}
	  height: $(window).height() - $("#grid").offset().top - 70
    });
  jQuery("#grid").jqGrid('setFrozenColumns');
  });
/*
$(window).bind('beforeunload', function() {
   var rows = $("#grid").getChangedCells('dirty');
   alert(JSON.stringify(rows));
   if (rows != null && rows.length > 0) 
   {
     $("#popup").html("Discard saved data").dialog({ 
       title: gettext("Export data"), autoOpen: true, resizable: false,
       modal: true,
       buttons: 
          {
          "Save": function() {
            $( this ).dialog( "close" );
            return false;
            },
          "Discard": function() {
            $( this ).dialog( "close" );
            return true;
            }       
          }  
      });
      return true;
  };
  return true;
});
*/

$(window).bind('resize', function() {
  $("#grid")
   .setGridWidth($('#content-main').width()) 
   .setGridHeight($(window).height() - $("#grid").offset().top - 70);
}); 

</script> 
{% endblock %}
{% block content_title %}{{block.super}}{% endblock %}
{% block content %}
{% block before_table %}{% endblock %}<div class="tools">{% if reportclass.filterable and not args.0 %}
<a href="javascript:filter_show();" class="icon"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>{% endif %}
{% if reportclass.editable and haschangeperm %}
<a id="save" href="javascript:upload.save();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-check"></span>{% trans 'Save' %}</a>
<a id="undo" href="javascript:upload.undo();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-cancel"></span>{% trans 'Undo' %}</a>
{% endif %}
{% if reportclass.hasTimeBuckets %}<a href="javascript:bucket_show();" id="bucketconfig" class="icon"><span class="ui-icon ui-icon-clock"></span>{% trans 'Time' %}</a>
{% endif %}<a href="javascript:export_show(false);" id="csvexport" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a>
</div>
<div id="content-main" style="margin-right: 15px;">
<table id="grid"></table>
<div id="gridpager"></div>
</div>
{% block after_table %}{% endblock %}
{% if reportclass.hasTimeBuckets %}<div id="timebuckets" class="ui-helper-hidden" title="{% trans 'Time buckets' %}">
<form method="get" action=""><table>
<tr><th>{% trans 'Bucket' %}</th><td><select name="reportbucket" id="reportbucket">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i reportbucket %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select></td></tr>
<tr><th>{% trans 'start date'|capfirst %}:</th><td><input id="reportstart" type="text" size="10" class="vDateField" value="{{reportstart|date:"Y-m-d"}}"/></td></tr>
<tr><th>{% trans 'end date'|capfirst %}:</th><td><input id="reportend" type="text" size="10" class="vDateField" value="{{reportend|date:"Y-m-d"}}"/>
<input id="reportoriginal" type="hidden" value="{{reportbucket}}|{{reportstart|date:"Y-m-d"}}|{{reportend|date:"Y-m-d"}}"/></td></tr>
</table></form>
</div>{% endif %}
{% block contextmenus %}{% endblock %}
{% endblock %}
