{% load firstof from future %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:"en"}}">

{% load i18n %}
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset={{request.charset}}" />
<meta name="robots" content="NONE,NOARCHIVE" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

{% if not is_popup %}
<!-- Header -->
<div id="headerbar" class="ui-widget-header" >
<div id="branding">{% block branding %}{% endblock %}</div>
{% if user.is_authenticated and user.is_staff %}<div id="user-tools">
<a href="/admin/logout/">{% trans 'Log out' %} <strong>{% firstof user.first_name user.username %}</strong></a>
<br/><br/>{% selectDatabase %}</div>{% endif %}
{% block nav-global %}{% endblock %}
</div>
<!-- END Header -->
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{{request.prefix}}/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{title}}{% endif %}</div>{% endblock %}
{% endif %}

 {% if messages %}<ul class="messagelist">{% for message in messages %}<li>{{message}}</li>{% endfor %}</ul>{% endif %}

<!-- Content -->
<div id="content">
    {% block content_title %}<div>{% if title %}<h1 style="float: left">{{title|escape}}{{post_title}}</h1>{% block tools %}{% endblock %}<span id="curfilter"></span>{% endif %}</div>{% endblock %}
    {% block content %}
    {% block object-tools %}{% endblock %}
    {{content}}
    {% endblock %}
    <br class="clear" />
</div>
<!-- END Content -->

{% block footer %}<div id="popup" class="ui-helper-hidden"></div>{% endblock %}

</div>
<!-- END Container -->

</body>
</html>
