{% extends "admin/base.html" %}
{% load i18n breadcrumbs %}

{% block title %}FrePPLe{% if title %} - {{title|escape}}{% endif %}{% endblock %}

{% block branding %}
<h1 id="site-name">FrePPLe {% version %}</h1>
{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/styles.css" />
<script type="text/javascript" src="/static/frepple.js"></script>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">{% crumbs %}</div>{% endblock %}

{% block nav-global %}{% endblock %}
