{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
<script type="text/javascript">
    installLoadHandler();
</script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<form><input style="display:none; font-weight:bold; padding-top:3px; padding-bottom:3px;" type="button" id="save" value="{% trans 'Save' %}" onclick="upload.save();"/>
<input style="display:none; font-weight:bold; padding-top:3px; padding-bottom:3px; margin-right: 10px; margin-left:10px;" type="button" id="undo" value="{% trans 'Undo' %}" onclick="upload.undo();"/>
<a href="javascript:bucket_show();" id="bucketconfig"><img src="{% admin_media_prefix %}img/admin/icon_clock.gif"/>{% trans 'Time' %}</a><span id="timebuckets">{{ reportbucket }},{{ reportstart}},{{ reportend }}</span>
<a href="javascript:export_show(false);" id="csvexport"><img src="/static/csv.png"/>{% trans 'Export' %}</a>
</form><div id="popup"></div></div>{% endblock %}
{% block content %}
<div id="content-main">

{% include "textfilter.html" %}
{% include "datefilter.html" %}
{% block contextmenus %}{% endblock %}

{% block before_table %}{% endblock %}
<table><tr>{% if rowheaderfrozen %}<td style="padding:0px;"><div id="ul" class="gridupleft"><table id="ult">
<thead><tr>{{ rowheader }}</tr></thead>
</table></div></td>{% endif %}

<td style="padding:0px"><div id="ur" class="gridupright"><table id="urt" style="position: relative;">
<thead><tr>{{ columnheader }}</tr></thead>
</table></div></td></tr>

<tr>{% if rowheaderfrozen %}<td style="padding:0px"><div id="dl" class="griddownleft" onscroll="syncScroll(0);">
<table id="dlt" style="float: left; position: relative;"><tbody>
{% block frozendata %}{% endblock %}
</tbody></table></div></td>{% endif %}

<td style="padding:0px"><div id="dr" class="griddownright" onscroll="syncScroll(1);">
<table id="drt" ><tbody>
{% block data %}{% endblock %}
</tbody></table></div></td></tr></table>

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% if reportclass.model %}{{ reportclass.model|verbose_name_plural }} {% endif %}{% ifnotequal hits fullhits %} (total <a class="showall" href="{{base_request_path}}{% if is_popup %}?pop=1{% endif %}">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}</p></div>
{% block after_table %}{% endblock %}

{% endblock %}
