{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}} 
<script type="text/javascript">

var initialfilter{% if filters %} = {{filters|safe}}{% endif %};

$(function(){
  jQuery("#grid").jqGrid({        
   	url: location.pathname + "?format=json",
	  datatype: "json",
	  jsonReader : {repeatitems:false},
   	colModel:[{% if is_popup %}
      {name:'select',label:gettext('Select'),width:75,align:'center',sortable:false,search:false},
      {% endif %}{% for f in reportclass.rows %}{% if not forloop.first %},
   	  {% endif %}{ {{f|safe}}{% if forloop.counter <= reportclass.frozenColumns %}frozen:true,{% endif %}{% if is_popup %}popup:true{% endif %} }{% endfor %}   	  
   	  ],
   	rowNum: {{request.pagesize}},{% if is_popup %}
    onSelectRow: setSelectedRow,{% elif reportclass.editable and haschangeperm %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname, 
    afterEditCell: afterEditCell,
    beforeSaveCell: upload.select,{% endif %}
    pager: '#gridpager',
    viewrecords: true,    
    sortorder: "asc",	
    hidegrid: false,
    scrollRows: true,
    //altRows: true,  // Different color for alternating rows. But doesn't look nice with a lot of themes.
    //scroll: 1,      // Enables scrolling over all records, instead of paging. But not compatible with frozen columns. 
    //sortable: true, // Allows columns to be dragged and dropped between positions. But not compatible with frozen columns  
    autowidth: true,{% if filters %}    
    postData: {filters: JSON.stringify(initialfilter)},
    search : true,{% endif %}
    shrinkToFit: false,
    height: $(window).height() - $("#grid").offset().top - 70
    });{% if reportclass.frozenColumns > 0 %}
  jQuery("#grid").jqGrid('setFrozenColumns');{% endif %}
  
  });

{% if not is_popup and reportclass.editable %}/*$(window).bind('beforeunload', function() {
   rows = $("#grid").getChangedCells('dirty');
   if (rows != null && rows.length > 0) 
   {
   return "{% trans "There are unsaved changes on this page." %}";
     $("#popup").html("{% trans "Discard unsaved changes" %}").dialog({ 
       title: gettext("{% trans "Discard unsaved changes" %}"), autoOpen: true, resizable: false,
       modal: true,
       buttons: 
          {
          "Save": function() {
            $( this ).dialog( "close" );
            return false;
            },
          "Discard": function() {
            $( this ).dialog( "close" );
            return true;
            }       
          }  
      });
      return true;
  };
  return false;
});*/{% endif %}

$(window).bind('resize', function() {
  $("#grid")
   .setGridWidth($('#content-main').width()) 
   .setGridHeight($(window).height() - $("#grid").offset().top - 70);
}); 

</script> 
{% endblock %}
{% block content %}
{% block before_table %}{% endblock %}<div class="tools">{% if reportclass.filterable %}
<a id="filter" href="javascript:filter_show();" class="icon"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>{% endif %}
{% if not is_popup and reportclass.editable and haschangeperm %}
<a id="save" href="javascript:upload.save();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-check"></span>{% trans 'Save' %}</a>
<a id="undo" href="javascript:upload.undo();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-cancel"></span>{% trans 'Undo' %}</a>
{% endif %}
{% if hasaddperm %}<a href="{{request.prefix}}/admin/{{model|app_label}}/{{model|object_name|lower}}/add/{% if is_popup %}?_popup=1{% endif %}" class="icon"><span class="ui-icon ui-icon-plusthick"></span>{% trans 'Add' %}</a>
<a href="javascript:import_show();" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>{% trans 'Import' %}</a>
{% endif %}{% if reportclass.hasTimeBuckets %}<a href="javascript:bucket_show();" id="bucketconfig" class="icon"><span class="ui-icon ui-icon-clock"></span>{% trans 'Time' %}</a>
{% endif %}<a href="javascript:export_show(true);" id="csvexport" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a>
</div>
<div id="content-main" style="margin-right: 15px;">
<table id="grid"></table>
<div id="gridpager"></div>
{% block after_table %}{% endblock %}
</div>
{% if reportclass.hasTimeBuckets %}<div id="timebuckets" class="ui-helper-hidden" title="{% trans 'Time buckets' %}">
<form method="get" action=""><table>
<tr><th>{% trans 'Bucket' %}</th><td><select name="reportbucket" id="reportbucket">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i reportbucket %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select></td></tr>
<tr><th>{% trans 'start date'|capfirst %}:</th><td><input id="reportstart" type="text" size="10" class="vDateField" value="{{reportstart|date:"Y-m-d"}}"/></td></tr>
<tr><th>{% trans 'end date'|capfirst %}:</th><td><input id="reportend" type="text" size="10" class="vDateField" value="{{reportend|date:"Y-m-d"}}"/>
<input id="reportoriginal" type="hidden" value="{{reportbucket}}|{{reportstart|date:"Y-m-d"}}|{{reportend|date:"Y-m-d"}}"/></td></tr>
</table></form>
</div>{% endif %}
{% block contextmenus %}{% endblock %}
{% endblock %}
