{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
{% if hasaddperm %}<a href="{{ model.admin_url }}add/{% if is_popup %}?_popup=1{% endif %}"><img src="{% admin_media_prefix %}img/admin/icon_addlink.gif"/>{% trans 'Add' %}</a>{% endif %}
{% if hasaddperm and model %}<a href="javascript:import_show();"><img src="/static/csv.png"/>{% trans 'Import' %}</a>{% endif %}
<a href="javascript:export_show(true);" id="csvexport"><img src="/static/csv.png"/>{% trans 'Export' %}</a><div id="popup"></div>
</div>{% endblock %}
{% block content %}
<div id="content-main">

{% include "textfilter.html" %}
{% include "datefilter.html" %}
{% block contextmenus %}{% endblock %}

<div style="overflow-x: scroll; overflow-y: auto;">
<table><thead><tr>{{ rowheader }}</tr></thead>
<tbody>{% block tablebody %}{% endblock %}
</tbody></table>
</div>

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% if reportclass.model %}{% trans reportclass.model._meta.verbose_name_plural %} {% endif %}{% ifnotequal hits fullhits %} (total <a class="showall" href="{{request.path}}{% if is_popup %}?pop=1{% endif %}">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}</p></div>

{% endblock %}
