{% extends "admin/base_site_nav.html" %}
{% load i18n jqgrid %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">

function columns (cellvalue, options, rowdata) {
  return "{% for f in reportclass.crosses %}{% if not forloop.first %}{% if reportclass.editable and haschangeperm %}</span>{% endif %}<br/>{% elif reportclass.editable and haschangeperm %}<span style='line-height:20px'>{% endif %}{{f.1.title|title}}{% endfor %}";
};

{% block crosses %}function crosses (cellvalue, options, rowdata) {
  for (i in cellvalue)
    if (i == 0) res = cellvalue[i];
    else res += '<br/>' + cellvalue[i];
  return res;
};{% endblock %}

var reportkey = '{{reportkey|safe}}';
var initialfilter{% if filters %} = {{filters|safe}}{% endif %};
{% if reportclass.hasTimeBuckets %}var numbuckets = {{bucketlist|length}};
{% endif %}

$(function(){
  jQuery("#grid").jqGrid({
   	url: (location.href.indexOf("#") != -1 ? location.href.substr(0,location.href.indexOf("#")) : location.href)
      + (location.search.length > 0 ? "&format=json" : "?format=json"),
	  datatype: "json",
	  jsonReader : {repeatitems:false},
   	colModel:[
   	  {% colmodel True %},
      { name:'columns',label:' ',sortable:false,width:150,align:'left',formatter:columns,search:false,frozen:true,title:false },
      {% for f in bucketlist %}{% if not forloop.first %},
      {% endif %}{ name:'{{f.name|safe}}',startdate:'{{f.startdate|date:"Y-m-d"}}',enddate:'{{f.enddate|date:"Y-m-d"}}',sortable:false,width:90,align:'center',formatter:crosses,search:false,title:false }{% endfor %}
   	  ],{% if reportclass.editable and haschangeperm %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname,
    beforeSaveCell: upload.select,
    {% endif %}rowNum: {{request.pagesize}},
   	pager: '#gridpager',
    viewrecords: true,
    sortorder: "asc",
    hidegrid: false,
    resizeStop: saveColumnConfiguration,
    scrollRows: true,
    //altRows: true,  // Different color for alternating rows. But doesn't look nice with a lot of themes.
    //scroll: 1,      // Enables scrolling over all records, instead of paging. But not compatible with frozen columns.
    autowidth: true,
	  shrinkToFit: false,
	  loadError: function(xhr,st,err) {
	    $('#load_grid').show();
	    $('#curfilter').html("{% trans 'Error retrieving report data' %}" + ":&nbsp;" + xhr.status + "&nbsp;" + xhr.statusText);
    },{% if filters %}
    postData: {filters: JSON.stringify(initialfilter)},
    search : true,{% endif %}
    {% block extra_grid %}{% endblock %}
	  height: {% if reportclass.heigth %}{{reportclass.heigth}}{% else %}$(window).height() - $("#grid").offset().top - 70{% endif %}
    });
  jQuery("#grid").jqGrid('setFrozenColumns');{% if reportclass.editable and haschangeperm %}
  $("th").bindFirst('click', upload.validateSort);{% endif %}
  });


$(window).bind('resize', function() {
  $("#grid")
   .setGridWidth($('#content-main').width())
   .setGridHeight({% if reportclass.heigth %}{{reportclass.heigth}}{% else %}$(window).height() - $("#grid").offset().top - 70{% endif %});
});

</script>
{% endblock %}
{% block content %}
{% block before_table %}{% endblock %}<div class="tools">{% if reportclass.filterable and not args.0 %}
<a href="javascript:filter_show();" class="icon"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>{% endif %}
{% if reportclass.editable and haschangeperm %}
<a id="save" href="javascript:upload.save();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-check"></span>{% trans 'Save' %}</a>
<a id="undo" href="javascript:upload.undo();" class="icon ui-state-disabled"><span class="ui-icon ui-icon-cancel"></span>{% trans 'Undo' %}</a>
{% endif %}
{% if reportclass.hasTimeBuckets %}<a href="javascript:bucket_show();" id="bucketconfig" class="icon"><span class="ui-icon ui-icon-clock"></span>{% trans 'Time' %}</a>
{% endif %}<a href="javascript:export_show(false);" id="csvexport" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a>
<a href="javascript:customize_show();" class="icon"><span class="ui-icon ui-icon-wrench"></span>{% trans 'Customize' %}</a>
</div>
<div id="content-main" style="margin-right: 15px;">
<table id="grid"></table>
<div id="gridpager"></div>
</div>
{% block after_table %}{% endblock %}
{% if reportclass.hasTimeBuckets %}<div id="timebuckets" class="ui-helper-hidden" title="{% trans 'Time buckets' %}">
<form method="get" action="">
{% trans 'Bucket size' %}&nbsp;&nbsp;<select name="horizonbuckets" id="horizonbuckets">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i request.user.horizonbuckets %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select><br/>
<input type="radio" name="horizontype" value="0"{% if not request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
{% trans 'from'|capfirst %}&nbsp;
<input id="horizonstart" type="text" size="9" class="vDateField" value="{{request.user.horizonstart|date:"Y-m-d"}}"/>
{% trans 'to' %}&nbsp;
<input id="horizonend" type="text" size="9" class="vDateField" value="{{request.user.horizonend|date:"Y-m-d"}}"/><br/>
<input type="radio" id="horizontype" name="horizontype" value="1"{% if request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
<input id="horizonlength" name="horizonlength" type="text" size="2" value="{{request.user.horizonlength}}"/>&nbsp;
<select name="horizonunit" id="horizonunit">
<option value="day"{% ifequal request.user.horizonunit 'day' %} selected="selected"{% endifequal %}>{% trans 'days' %}</option>
<option value="week"{% ifequal request.user.horizonunit 'week' %} selected="selected"{% endifequal %}>{% trans 'weeks' %}</option>
<option value="month"{% ifequal request.user.horizonunit 'month' %} selected="selected"{% endifequal %}>{% trans 'months' %}</option>
</select>&nbsp;{% trans 'after plan current date' %}
<input id="horizonoriginal" type="hidden" value="{{request.user.horizonbuckets}}|{{request.user.horizonstart|date:"Y-m-d"}}|{{request.user.horizonend|date:"Y-m-d"}}|{{request.user.horizontype}}|{{request.user.horizonlength}}|{{request.user.horizonunit}}"/>
</form>
</div>{% endif %}
{% block contextmenus %}{% endblock %}
{% endblock %}
