{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">

var initialfilter{% if filters %} = {{filters|safe}}{% endif %};
var resizing;
var editrow;
var editcol;

{% if reportclass.hasTimeBuckets %}var numbuckets = {{request.report_bucketlist|length}};
{% endif %}

{% if actions %}var actions = {   {% for i in actions %}
   "{{ i.name|escape }}": function() { {{ i.function|safe }} }{% if not forloop.last %},{% endif %}{% endfor %}
   };{% endif %}

$(function() {
  $("#toolicons").tooltip({show: {effect: "fade", delay: 500}});{% if reportclass.hasTimeBuckets and not bucketnames %}
  $('#curfilter').html("{% trans 'Error: Missing time buckets or bucket dates' %}");
{% else %}
  jQuery("#grid").jqGrid({
   	url: (location.href.indexOf("#") != -1 ? location.href.substr(0,location.href.indexOf("#")) : location.href)
   	  + (location.search.length > 0 ? "&format=json" : "?format=json"),
	  datatype: "json",
	  jsonReader : {repeatitems:false},
    colModel:[{{colmodel|safe}}],
   	rowNum: {{request.pagesize}},{% if is_popup %}
    onSelectRow: grid.setSelectedRow,{% elif reportclass.editable and haschangeperm %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname,
    afterEditCell: grid.afterEditCell,
    beforeSaveCell: upload.select,{% else %}
    onSelectRow: function() {$(this).resetSelection();},{% endif %}
    pager: '#gridpager',
    iconSet: "fontAwesome",
    viewrecords: true,
    sortorder: "{{sord}}",
    sortname: "{{sidx}}",
    page: {{page}},
    hidegrid: false,
    scrollRows: true,
    altRows: true,
    altclass:'altRow',
    //scroll: 1,      // Enables scrolling over all records, instead of paging. But not compatible with frozen columns.
    //sortable: true, // Allows columns to be dragged and dropped between positions. But not compatible with frozen columns
    autowidth: true,{% if filters %}
    postData: {filters: JSON.stringify(initialfilter)},
    search : true,{% endif %}
    shrinkToFit: false,
    loadError: function(xhr,st,err) {
      if (xhr.status == 200)
      {
        $('#curfilter').html("{{_('Warning: no data found')|escapejs}}");
        $('#grid').clearGridData();
      }
      else
        $('#curfilter').html("{{_('Error retrieving report data')|escapejs}}" + ":&nbsp;" + xhr.status + "&nbsp;" + xhr.statusText);
    },{% if reportclass.editable and reportclass.multiselect and not is_popup and hasaddperm %}
    multiselect: true,
    onSelectRow: grid.markSelectedRow,
    formatCell: function(rowid, cellname, value, iRow, iCol) {
      editrow = iRow;
      editcol = iCol;
      return value;
    }, {% endif %}
    {% block extra_grid %}{% endblock %}
    height: {% if reportclass.height %}{% if "height" in preferences %}{{preferences.height}}{% else %}{{reportclass.height}}{% endif %}{% else %}($(window).height() - $("#grid").offset().top - 63 < 150) ? 150 : $(window).height() - $("#grid").offset().top - 63{% endif %}
    });{% if reportclass.frozenColumns > 0 %}
  jQuery("#grid").jqGrid('setFrozenColumns');{% endif %}{% if reportclass.multiselect and not is_popup %}
  $('#cb_grid.cbox').click(grid.markAllRows);{% endif %}{% if reportclass.editable and haschangeperm %}
  $("th").bindFirst('click', upload.validateSort);{% endif %}
  {% if reportclass.height %}$("#grid").gridResize({
     handles: 's', minHeight: {{reportclass.height}}
     });
  {% endif %}{% endif %}
  $("#grid").on('input', function() {$("#save").removeClass("save_undo_button_inactive save_undo_button_active").addClass("save_undo_button_active");$("#undo").removeClass("save_undo_button_inactive save_undo_button_active").addClass("save_undo_button_active")});
});

$(window).bind('resize', function() {
  var h = $(window).height() - $("#grid").offset().top - 63;
  if (h < 150) h = 150;
  $("#grid")
   .setGridWidth($('#content-main').width()){% if not reportclass.height %}
   .setGridHeight(h){% endif %};
});

</script>
{% endblock %}
{% block content %}
{% block before_table %}{% endblock %}


<div id="toolicons">{% block actions %}{% if reportclass.filterable %}
<span id="filter" onclick="grid.showFilter()" title="{% trans 'filter data'|capfirst|force_escape %}" class="fa fa-search fa-lg"></span>{% endif %}

{% if hasaddperm %}<span onclick="location.href='{{request.prefix}}/data/{{model|app_label}}/{{model|object_name|lower}}/add/{% if is_popup %}?_popup=1{% endif %}'" title="{% trans "Create new object"|escape %}" class="fa fa-plus fa-lg"></span>
{% if not is_popup %}<span id="copy_selected" onclick="grid.showCopy()" title="{% trans 'Copy selected objects'|escape %}" class="ui-state-disabled fa fa-copy fa-lg"></span>
{% endif %}{% endif %}{% if hasdeleteperm and not is_popup %}<span id="delete_selected" title="{% trans 'Delete selected objects'|escape %}" onclick="grid.showDelete()" class="ui-state-disabled fa fa-minus fa-lg"></span>
{% endif %}{% if reportclass.hasTimeBuckets %}<span onclick="grid.showBucket()" title="{% trans 'Configure time buckets'|escape %}" id="bucketconfig" class="fa fa-clock-o fa-lg"></span>
{% endif %}&nbsp;&nbsp;{% if hasaddperm %}<span id="csvimport" title="{% trans 'import CSV or Excel file'|capfirst|force_escape %}" onclick="import_show()" class="fa fa-arrow-up fa-lg"></span>
{% endif %}<span onclick="grid.showExport(true)" title="{% trans 'export as CSV or Excel file'|capfirst|force_escape %}" class="fa fa-arrow-down fa-lg"></span>{% endblock %}</div>

{% block save_undo_buttons %}
{% if not is_popup and reportclass.editable and haschangeperm %}&nbsp;&nbsp;
<div id="save_undo" style="float:left">
{% comment %}Translators: Translation included with Django {% endcomment %}
&nbsp;&nbsp;<input type="submit" value="{% filter force_escape|upper %}{% trans "Save" %}{% endfilter %}" class="button ui-corner-all save_undo_button_inactive" role="button" id="save" onclick="upload.save()" title="{% trans 'save changes'|capfirst|force_escape %}">
&nbsp;&nbsp;<input type="submit" value="{% filter force_escape|upper %}{% trans "Undo" %}{% endfilter %}" class="button ui-corner-all save_undo_button_inactive" role="button" id="undo" onclick="upload.undo()" title="{% trans 'undo changes'|capfirst|force_escape %}">
{% if actions %}&nbsp;&nbsp;
    <select disabled='disabled' name="actions" id="actions" onchange="grid.runAction($(this).val());" class=" ui-corner-all ui-selectmenu-disabled ui-state-disabled change_status_selectmenu_inactive" >
    <option value="no_action">{% trans "select action"|capfirst %}</option>{% for i in  actions %}
    <option value="{{ i.name|escape }}">{% trans i.label|capfirst %}</option>{% endfor %}
    </select>{% endif %}
</div>{% endif %}
{% endblock save_undo_buttons %}

<div id="content-main" style="margin-right: 15px; min-height: 150px">
<table id="grid"></table>
<div id="gridpager"></div>
{% block after_table %}{% endblock %}
</div>
{% if reportclass.hasTimeBuckets %}<div id="timebuckets" style="display:none" title="{% trans 'time buckets'|capfirst %}">
<form method="get" action="">
{% trans 'bucket size'|capfirst %}&nbsp;&nbsp;<select name="horizonbuckets" id="horizonbuckets">
{% for i in bucketnames %}<option value="{{i}}"{% ifequal i request.user.horizonbuckets %} selected="selected"{% endifequal %}>{% trans i %}</option>
{% endfor %}</select><br/>
<input type="radio" name="horizontype" value="0"{% if not request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
{% trans 'from'|capfirst %}&nbsp;
<input id="horizonstart" type="text" size="9" class="vDateField" value="{{request.user.horizonstart|date:"Y-m-d"}}"/>
{% trans 'to' %}&nbsp;
<input id="horizonend" type="text" size="9" class="vDateField" value="{{request.user.horizonend|date:"Y-m-d"}}"/><br/>
<input type="radio" id="horizontype" name="horizontype" value="1"{% if request.user.horizontype %} checked{% endif %}/>&nbsp;&nbsp;
<input id="horizonlength" name="horizonlength" type="text" size="2" value="{{request.user.horizonlength}}"/>&nbsp;
<select name="horizonunit" id="horizonunit">
<option value="day"{% ifequal request.user.horizonunit 'day' %} selected="selected"{% endifequal %}>{% trans 'days' %}</option>
<option value="week"{% ifequal request.user.horizonunit 'week' %} selected="selected"{% endifequal %}>{% trans 'weeks' %}</option>
<option value="month"{% ifequal request.user.horizonunit 'month' %} selected="selected"{% endifequal %}>{% trans 'months' %}</option>
</select>&nbsp;{% trans 'after plan current date' %}
<input id="horizonoriginal" type="hidden" value="{{request.user.horizonbuckets}}|{{request.user.horizonstart|date:"Y-m-d"}}|{{request.user.horizonend|date:"Y-m-d"}}|{{request.user.horizontype}}|{{request.user.horizonlength}}|{{request.user.horizonunit}}"/>
</form>
</div>{% endif %}
{% block contextmenus %}{% endblock %}
{% endblock %}
