{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
{% endblock %}
{% block extrahead %}{{ block.super }} 
{% block extrajavascript %}<script type="text/javascript">
var original;
$(function(){ 
  jQuery("#jsonmap").jqGrid({        
   	url: window.location.href + (location.search.length > 0 ? "&format=json" : "?format=json"),
	  datatype: "json",
	  jsonReader : {repeatitems:false},
   	colModel:[
   	  {% for f in reportclass.rows %}{% if not forloop.first %},
   	  {% endif %}{ {{f|safe}} }{% endfor %}
   	  ],{% if reportclass.editable %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname,
   	{% endif %}rowNum: {{request.pagesize}},
   	pager: '#pjmap',
   	sortname: '{{reportclass.keyfield}}',
    viewrecords: true,    
    sortorder: "asc",	
    hidegrid: false,
    scrollRows: true,
	  altRows: true,
	  scroll: 1,
    autowidth: true,    
	  shrinkToFit: false,
	  height: $(window).height() - $("#jsonmap").offset().top - 70
    });
  // Initial search string:
  // jQuery('#jsonmap').jqGrid('setGridParam', {postData: mypostdata, search:true});
  });
/*
  $("#savebutton").click(function() {
    alert(JSON.stringify($("#jsonmap").getChangedCells('dirty')));
    });

$(window).bind('beforeunload', function() {
   var rows = $("#jsonmap").getChangedCells('dirty');
   alert(JSON.stringify(rows));
   if (rows != null && rows.length > 0) 
   {
     $("#popup").html("Discard saved data").dialog({ 
       title: gettext("Export data"), autoOpen: true, resizable: false,
       modal: true,
       buttons: 
          {
          "Save": function() {
            $( this ).dialog( "close" );
            return false;
            },
          "Discard": function() {
            $( this ).dialog( "close" );
            return true;
            }       
          }  
      });
      return true;
  };
  return true;
});
*/

$(window).bind('resize', function() {
  $("#jsonmap")
   .setGridWidth($('#content-main').width()) 
   .setGridHeight($(window).height() - $("#jsonmap").offset().top - 70);
}); 

</script> 
{% endblock %}
{% endblock %}
{% block content_title %}{{ block.super }}{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="javascript:filter_show();" class="icon"><span class="ui-icon ui-icon-search"></span>{% trans 'Filter' %}</a>
{% if haschangeperm %}<a href="javascript:edit_show();" class="icon"><span class="ui-icon ui-icon-pencil"></span>{% trans 'Edit' %}</a>
{% endif %}{% if hasaddperm %}<a href="{{ request.prefix }}/admin/{{ model|app_label }}/{{ model|object_name|lower }}/add/{% if is_popup %}?_popup=1{% endif %}" class="icon"><span class="ui-icon ui-icon-plusthick"></span>{% trans 'Add' %}</a>
{% endif %}{% if hasaddperm %}<a href="javascript:import_show();" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>{% trans 'Import' %}</a>
{% endif %}<a href="javascript:export_show(true);" id="csvexport" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a><div id="popup" class="ui-helper-hidden"></div>
</div>{% endblock %}
{% block content %}
<div id="content-main" style="margin-right: 16px;">
{% block before_table %}{% endblock %}
<table id="jsonmap"></table>
<div id="pjmap"></div>
{% block after_table %}{% endblock %}
</div>
{% block contextmenus %}{% endblock %}
{% endblock %}
