{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}"><img src="/static/csv.png"/>{% trans 'Export' %}</a>
</div>{% endblock %}
{% block content %}
<div id="content-main">

{% include "textfilter.html" %}
{% include "datefilter.html" %}
{% block contextmenus %}{% endblock %}

<div style="overflow-x: scroll; overflow-y: auto;">
<table><thead><tr>{{ rowheader }}{{ columnheader }}</tr></thead>
<tbody>{% block tablebody %}{% endblock %}
</tbody></table>
</div>

{% block pagination %}<p class="paginator">
{{paginator_html}}&nbsp;&nbsp;{{hits}} {% trans reportclass.model._meta.verbose_name_plural %} {% ifnotequal hits fullhits %} (total <a class="showall" href="{{request.path}}{% if is_popup %}?pop=1{% endif %}">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}</p></div>

{% endblock %}
