{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/base.css" />
{{block.super}}{% endblock %}

{% block extrahead %}{{block.super}}
<script type="text/javascript">
 $(function() {
    $("input:submit").button();
 });
</script>
{% endblock %}

{% block content_title %}<div><h1 style="float:left; color:#333">{{title|escape}}: {% trans "Delete"|capfirst|escape %}</h1>{% block tools %}{% endblock %}</div>{% endblock %}
{% block content %}
{% if perms_lacking %}
    <p style="clear:both">{% blocktrans with object as escaped_object %}Deleting the {{object_name}} '{{escaped_object}}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{obj}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p style="clear:both"><br/>{% blocktrans with object as escaped_object %}Are you sure you want to delete the {{object_name}} "{{escaped_object}}"? All of the following related items will be deleted:{% endblocktrans %}</p>
    <ul>{{deleted_objects|unordered_list}}</ul>
    <form action="{{request.prefix}}{{request.path}}" method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>
{% endif %}
{% endblock %}
