{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block title %}frePPLe{% endblock %}
{% block content_title %}<h1>{% trans "Home" %}</h1>{% endblock %}

{% block extrahead %}{{block.super}}
<script type="text/javascript">
  $(function() {
    $( "#content-main" ).accordion({
      collapsible: true, active: 0
      });
  });
</script>
<style type="text/css">
th {
  width: 100%;
  text-align: left;
  padding: 0.25em;
}
</style>
{% endblock %}

{% block content %}

<div id="content-main" style="max-width: 500px;">
{% getMenu as menu %}
{% for group in menu %}<h3><a>{{ group.0 }}</a></h3>
<div><table>
{% for item in group.1 %}<th scope="row"><a {% if item.1.window %}target="_blank" {% endif %} href="{% if item.1.prefix %}{{request.prefix}}{% endif %}{{ item.1.url }}">{{ item.0 }}</a></th>
{% if item.2 %}<td><a href="{% if item.1.prefix %}{{request.prefix}}{% endif %}{{ item.1.url }}add/" class="icon"><span class="ui-icon ui-icon-plusthick"></span>{% trans 'Add' %}</a></td>
<td><a href="javascript:void(0);" onclick="import_show('{% if item.1.prefix %}{{request.prefix}}{% endif %}{{ item.1.url }}')" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>{% trans 'Import' %}</a></td>
{% else %}<td>&nbsp;</td>
{% endif %}{% if item.1.report or item.1.model %}<td><a href="{% if item.1.prefix %}{{request.prefix}}{% endif %}{{ item.1.url }}?format=csv" class="icon"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>{% trans 'Export' %}</a></td>
{% else %}<td>&nbsp;</td>
{% endif %}</tr>
{% endfor %}</table></div>
{% endfor %}
</div>

<div id="recent-actions" class="ui-widget-content ui-corner-all">
<h2>{% trans 'My Actions' %}</h2>
{% load log %}
{% get_multidbadmin_log 10 as admin_log for_user user %}
{% if not admin_log %}<p>{% trans 'None available' %}</p>
{% else %}{% for entry in admin_log %}<span style="display: inline-block;" class="ui-icon ui-icon-{% if entry.is_addition %}plusthick{% endif %}{% if entry.is_change %}pencil{% endif %}{% if entry.is_deletion %}minusthick{% endif %}"></span>
{% if entry.is_deletion %}{{entry.object_repr}}
{% else %}<a href="{{request.prefix}}/admin/{{entry.get_admin_url}}">{{entry.object_repr}}</a>
{% endif %}<span class="mini">{% if entry.content_type %}{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}{% else %}{% trans 'Unknown content' %}{% endif %}</span><br/>{% endfor %}
{% endif %}</div>
{% endblock %}
