{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block title %}frePPLe{% endblock %}
{% block content_title %}<h1>{% trans "cockpit"|capfirst %}</h1>{% endblock %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<style>
  .column {
    float: left;
    padding-bottom: 200px;
  }
  table {
    border-spacing: 0px;
  }
</style>
<script>
  $(function() {
    $("#content").tooltip({show: {effect: "fade", delay: 500}});
    $(".column").sortable({
      connectWith: ".column",
      handle: ".portlet-header",
      cancel: ".portlet-toggle",
      placeholder: "portlet-placeholder ui-corner-all"
    });
    $(".portlet-toggle").click(function() {
      var icon = $(this);
      icon.toggleClass("fa-minus fa-plus");
      icon.closest(".portlet").find(".portlet-content").toggle();
    });
    $(".portlet-close").click(function() {
      $(this).closest(".portlet").remove();
    });
    $(".button").button();
    $("#toolicons").tooltip({show: {effect: "fade", delay: 500}});
  });
</script>
{% endblock %}

{% block content %}
{% getDashboard as dashboard %}
{% for col in dashboard %}
<div class="column" style="width:{{col.width}}">
{% for widget in col.widgets %}
  <div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all portlet">
    <div class="portlet-header ui-widget-header ui-corner-all" title="{{widget.tooltip|escape}}">{% if widget.exporturl %}<a href="{{request.prefix}}{{widget.url}}&amp;format=spreadsheet">
    <span class='fa fa-arrow-down portlet-export'></span></a>{% endif %}
    <span class='fa fa-times portlet-close'></span>
    <span class='fa fa-minus portlet-toggle'></span>{% if widget.url %}<a href="{{request.prefix}}{{widget.url}}">{{widget.title|upper}}</a>{% else %}{{widget.title|upper}}{% endif %}</div>
    <div class="portlet-content">{% if widget.asynchronous %}<div id="widget_{{widget.name}}" style="text-align:center"><img src="{{STATIC_URL}}img/loading.gif" height="32" alt="loading"></div>{% else %}{{widget.render|safe}}{% endif %}</div>
  </div>
{% endfor %}
</div>
{% endfor %}

{% for col in dashboard %}{% if forloop.first %}<script>{% endif %}
{% for widget in col.widgets %}{% if widget.asynchronous %}$.ajax({
      url: "{{request.prefix}}/widget/{{widget.name}}/{{widget.args}}",
      type: "GET",
      success: function (data) {
        $("#widget_{{widget.name}}").parent().html(data);
        {{widget.javascript|safe}}
        },
      error: function (result, stat, errorThrown) {
        $("#widget_{{widget.name}}").parent().html("{% trans "failed"|capfirst %}");
        }
    });
{% else %}{{widget.javascript|safe}}
{% endif %}{% endfor %}{% if forloop.last %}</script>{% endif %}{% endfor %}
{% endblock %}
