{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}{%ifnotequal app.name "Execute"%}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name|escape }}</a></th>
            {% else %}
                <th scope="row">{{ model.name|escape }}</th>
            {% endif %}

            {%ifnotequal app.name "Output"%}{% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}{% else %}
                <td>&nbsp;</td>
            {% endifnotequal %}
            <td><a href="{{ model.admin_url }}?reporttype=csv" class="changelink">csv</a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endifnotequal %}{% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}

{% if perms.execute %}
<div class="module">
<table summary="Extra commands.">
<caption>Run</caption>
<tr>
<th scope="row"><a href="/execute/execute.html">{% trans "Execute" %}</a></th>
<td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
<th scope="row"><a href="/execute/log/">{% trans "Log" %}</a></th>
<td>&nbsp;</td><td>&nbsp;</td>
</tr>
</table>
</div>
{% endif %}

<div class="module">
<table summary="{% trans "Reports" %}">
<caption>Reports</caption>
<tr>
<th scope="row"><a href="/problem/">{% trans "Problem Report" %}</a></th>
<td>&nbsp;</td><td><a href="/problem/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<tr>
<th scope="row"><a href="/buffer/">{% trans "Inventory Report" %}</a></th>
<td>&nbsp;</td><td><a href="/buffer/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<tr>
<th scope="row"><a href="/resource/">{% trans "Resource Report" %}</a></th>
<td>&nbsp;</td><td><a href="/resource/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<tr>
<th scope="row"><a href="/demand/">{% trans "Demand Report" %}</a></th>
<td>&nbsp;</td><td><a href="/demand/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<tr>
<th scope="row"><a href="/forecast/">{% trans "Forecast Report" %}</a></th>
<td>&nbsp;</td><td><a href="/forecast/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<tr>
<th scope="row"><a href="/operation/">{% trans "Operation Report" %}</a></th>
<td>&nbsp;</td><td><a href="/operation/?reporttype=csv" class="changelink">csv</a></td>
</tr>
<th scope="row"><a href="/kpi/">{% trans "Performance Indicators" %}</a></th>
<td>&nbsp;</td><td><a href="/kpi/?reporttype=csv" class="changelink">csv</a></td>
</tr>
</table>
</div>

</div>
{% endblock %}
{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{{ entry.content_type.name|capfirst|escape }}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
