{% load i18n admin_urls %}
<div class="submit-row">
{% comment %}Translators: Translation included with Django {% endcomment %}
{% if show_save %}<input type="submit" value="{% filter force_escape %}{% trans 'Save' %}{% endfilter %}" class="default" name="_save" />{% endif %}
{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    {% comment %}Translators: Translation included with Django {% endcomment %}
    <p class="deletelink-box"><a href="{{request.prefix}}{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete"|capfirst %}</a></p>
{% endif %}
{% comment %}Translators: Translation included with Django {% endcomment %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{%endif%}
{% comment %}Translators: Translation included with Django {% endcomment %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}
{% comment %}Translators: Translation included with Django {% endcomment %}
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
</div>
