<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <display-name>Frepple</display-name>
  <description>Web application for frepple</description>
  <servlet>
    <servlet-name>FreppleUpdateServlet</servlet-name>
    <display-name>Planner Update Servlet</display-name>
    <description>
      Servlet for testing the frepple updates. It takes input from a submitted HTML
      input form and transform the data into the proper xml format for the backend.
    </description>
    <servlet-class>frepple.servlet.Update</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FreppleOutputServlet</servlet-name>
    <display-name>Planner Output Servlet</display-name>
    <description>
      Servlet for testing the frepple output. It translates xml data from the
      backend into proper HTML output.
    </description>
    <servlet-class>frepple.servlet.Output</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreppleUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FreppleOutputServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <!-- 
  This environment entry defines the class that the web application
  uses to connect to the backend frepple engine.
  -->
  <env-entry>
  	<env-entry-name>Frepple/BackendConnection</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>frepple.backend.webservice.connection</env-entry-value>
  </env-entry>
</web-app>