/*
 * This file contains extra frePPLe styles that vary by theme.
 */

 /*
  * Frepple logo colors are: green #838D11, orange #F47A00 and red #D21800

  * black       black
  * gray1       #ebebeb
  * gray2       #b3b3b3
  * gray3       #555555
  * green1      #C1C688 header background-color
  * green2      #9CA441 special green for nav menu
  * green3      #838d11
  * oranje1
  * red1        #ff5656
  */

@import url("../opensans.css");


/* disable annoying on-focus blue outline */
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-widget * {
    outline: none;
}

.ui-tabs-anchor:active .ui-selectmenu-menu {
    outline: none;
}

/*   end of blue outline  */

.red {                  /* classes used for save_undo_buttons */
  color: #ff5656;
}

.white {                /* classes used for save_undo_buttons */
    color: white;
}


body, input, textarea, select, .form-row p {
  font-size: 13px;  /* Copy from Jquery UI style ".ui-widget" */
  font-family: 'Open sans', Helvetica,Verdana,Arial,sans-serif; /* Copy from Jquery UI style ".ui-widget" */
}

/* Style for the separator between breadcrumbs. */
div.breadcrumbs .fa {
  color: black; /* Color black */
  font-size: 16px;
}

div.breadcrumbs, ul.messagelist li {
  border-top: 1px solid #9CA441; /* Color green2 */
  border-bottom: 1px solid #9CA441; /* Color green2 */
}

/* Style for edited cells in a table. */
.ui-jqgrid tr.jqgrow td.dirty-cell, input.dirty-cell {
  background: #FF5656;
}

/* Background color to display alternate rows in a table. */
.altRow, .row1 {
  background-color: #EBEBEB; /* Color gray1 */
}

/*
 * Header bar and navigation styles.
 */
nav ul ul {
  list-style: none;
  padding: 2px;
  margin: 0;
  outline: none;
}

/* separator color in nav menus */
nav .separator::after {
    background: #222222;
}

#headerbar, div.breadcrumbs {
  background: #C1C688; /* Color green1 */
  color: #222222;
}

nav ul li a:link, nav ul li a:visited, div.breadcrumbs a {
  color: #222222 !important;
}

nav ul li:hover a, nav ul ul {/* Copy from the Jquery UI style ".ui-widget-header". */
  background: #9CA441; /* Color green2 */
  color: #222222;
}

nav ul ul li a:hover {                          /* Copy from the Jquery UI style ".ui-state-hover". */
  background: #838d11; /* Color green3 */
  color: #111111;
}

/* Style for highlighted rows in a grid. */
tr.ui-state-highlight {
  border: 1px solid #838d11 !important;
  background: #C1C688 !important;
}

/* Style to mark the active tab. */
.frepple-tabs-active {
  font-weight: bold;
  border-top: 2px solid #000000; /* Color green3 */
}

/* Confirmation message shown just below the header */
ul.messagelist li {
    background: #C1C688 url(../../admin/img/icon_success.gif) 5px .3em no-repeat;
}

/* for pop-up menus in listing items */
.ui-state-default li {
    color: #555555;
    background: #EBEBEB;
}

.ui-state-default li:hover {
    color: #000000;
    background: #B3B3B3;
}

.ui-selectmenu-menu {
    color: #555555;
    background: #B3B3B3;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

input.ui-button {
  background: #C1C688 !important; /* Color green1 */
  border: 1px solid #9CA441 !important; /* Color green2 */
  color: #222222 !important
}

input.ui-button:hover {
  background: #9CA441 !important; /* Color green2 */
  border: 1px solid #838d11 !important; /* Color green3 */
  color: #222222 !important
}

.ui-widget-content .jqgrow.ui-row-ltr {
    color: #222222; //grid font color
}

.ui-autocomplete .ui-menu-item, .ui-autocomplete-category, .ui-autocomplete a {
  color: #222222;
  background: #9CA441;
}

.ui-autocomplete li:hover,
.ui-autocomplete .ui-menu-item *:hover {
  background: #838d11;
  border: 0;
}

.ui-autocomplete .ui-state-focus,
.ui-autocomplete .ui-menu-item * .ui-state-focus {
  background: #838d11;;
  border: 0;
} 

