H1 { text-align: center; }

CAPTION { font-weight: bold }

table { margin-top: 20; margin-bottom: 20; margin-left: 5%; margin-right: 5%; }
th { background-color: #a5a5ff; font-weight: bold; font-size: larger; }
