{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if title %}{{title|capfirst}} - {% endif %}frePPLe{% endblock %}
{% block branding %}<img src="{{STATIC_URL}}img/frepple.svg" alt="frePPLe&nbsp;{% version %}">{% endblock %}
{% block extrastyle %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/opensans.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui.jqgrid.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/{{request.theme}}/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-datetimepicker.css" />

<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico"/>
{% endblock %}
{% block extrahead %}{{block.super}}
<script type="text/javascript" src="/data/jsi18n/"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/i18n/grid.locale-{{LANGUAGE_CODE|default:"en"}}.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jqgrid.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frepple{% if not debug_js %}.min{% endif %}.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Sortable.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/i18n/intro.en.js"></script>
<script type="text/javascript">

  var url_prefix = '{{request.prefix}}';
  var database = '{{request.database}}';

$(function() {
    $('[data-toggle="popover"]').popover();
    {% if request.GET.tour %}
    tour.start("{{request.GET.tour}}");
    {% else %}
    var intro = localStorage.getItem("intro");
    if (intro != "{}") {
      tour.showIntroPage(intro);
      $("#showHints").addClass("toggle-on");
    }
    else
      $("#showHints").addClass("toggle-off");
    {% endif %}
    $('[data-toggle="tooltip"],#database').tooltip({delay: { "show": 500, "hide": 100 }});
  });
</script>
{% endblock %}
{% block nav-global %}{% endblock %}
