{% load i18n %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:"en"}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="nofollow, noindex, noarchive">
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}{% google_analytics %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
{% block nav-global %}{% endblock %}
{% endif %}

<div class="container-fluid" id="workarea" {% block extracontainer %}{% endblock %}>

{% block messages %}
{% if messages %}<div class="row gy-3">
{% for message in messages %}
<div class="col pt-2">
<div class="alert {{message.tags}}" role="alert">{{message}}</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content_title %}
{% if title %}
<div class="row mt-3">
  <div class="col">
    <h1 style="position: relative;">{{title|capfirst|force_escape}}{% if post_title %}: {{post_title|capfirst}}{% endif %}<small>{% block filter %}{% endblock %}&nbsp;&nbsp;<span id="curerror"></span></small></h1>
  </div>
  <div class="col-auto d-flex ms-auto align-items-top">
    {% block tools %}{% endblock %}
    {% if reportclass.help_url %}<h1>
      <a class="ms-1" href="{% setting "DOCUMENTATION_URL" %}/docs/{% version_short %}/{{reportclass.help_url}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,7" data-bs-title="{% trans 'help'|capfirst|force_escape %}">
        <span class="fa fa-question"/>
      </a>
    </h1>{% endif %}
  </div>
</div>
{% block tabs %}{% endblock %}
{% endif %}
{% endblock %}

{% block content %}<div id="content" class="row">
{% block object-tools %}{% endblock %}
{{content}}
</div>{% endblock %}

{% block footer %}
<div id="popup" class="modal fade" role="dialog" tabindex="-1"></div>
{% endblock %}

</div> {% comment %}end container{% endcomment %}
{% block modal %}{% endblock %}
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script>
var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
var tooltipList = [...tooltipTriggerList].map(
    el => new bootstrap.Tooltip(el, {
      container: 'body',
      trigger : 'hover',
      delay: el.hasAttribute("data-bs-delay") ? JSON.parse(el.getAttribute("data-bs-delay")) : { "show": 500, "hide": 100 }
    })
    );
</script>
</body>
</html>
