{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block content_title %}{{ block.super }}{% tabs opts %}{% endblock %}

{% block content %}
  <div id="content-main" class="row">
    <div class="col-md-12">

{% if action_list %}
      <div class="panel">
        <div class="panel-body table-responsive">
          <table class="table table-condensed" id="change-history">
            <thead>
            <tr>
                {% comment %}Translators: Translation included with Django {% endcomment %}
                <th scope="col">{% trans 'Date/time' %}</th>
                {% comment %}Translators: Translation included with Django {% endcomment %}
                <th scope="col">{% trans 'User' %}</th>
                {% comment %}Translators: Translation included with Django {% endcomment %}
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for action in action_list %}
            <tr>
                <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
                <td>{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
                <td>{{ action.get_change_message }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

{% else %}
{% comment %}Translators: Translation included with Django {% endcomment %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
</div>
</div>
{% endblock %}
