{% extends "admin/base_site.html" %}
{% load i18n %}

{% comment %}Translators: Translation included with Django {% endcomment %}
{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
{% comment %}Translators: Translation included with Django {% endcomment %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
{% comment %}Translators: Translation included with Django {% endcomment %}
<p>{% trans "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</p>

{% endblock %}
