{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}

<script>
 
function render(data) {
  var grid = $("#reportmanager_results");
  $("#reportmanager_test").prop('disabled', false);
  $("#reportmanager_cancel").prop('disabled', true); 
  if (!grid.is(':empty'))
    grid.jqGrid('GridUnload');
  if (data['status'] == "ok") {
  	$("#error").css('display','none');
	  grid.jqGrid({
	      colModel: data['colmodel'],
	      datatype: "local",
	      data: data['data'],
	      autowidth: true,
	      shrinkToFit: false,
	      rownumbers: true,
	      maxHeight: $(window).height() - grid.offset().top - 63
	      });	  
  }
  else {
  	$("#error").css('display','block').text(data['status']);
  }
}

{% if perms.reportmanager.change_sqlreport %}
function getSchema() {
	 $.ajax({
	    url: url_prefix + "/reportmanager/schema/",
	    type: 'GET',
	    datatype: "html",
	    success: function(data) {
	      $("#schemacolumn").html(data);
	    },
	    async: true
	    });
}

function startEdit() {
	$("#editreport, #editbuttons").toggleClass("hidden");
	if ($("#schemacolumn").is(":empty")) getSchema();
}
{% endif %}

var xhr;

$(function() {

  $("#reportmanager_statements").resizable({
    handleSelector: "#resize-handle",
    resizeWidth: false,
    resizeHeight: true
  });

	$("#reportmanager_test").on("click", function(event) {
	  $("#reportmanager_test").prop('disabled', true);
	  $("#reportmanager_cancel").prop('disabled', false);
	  var sql = $("#reportmanager_statements");
	  xhr = $.ajax({
	    url: url_prefix + "/reportmanager/",
	    type: 'POST',
	    dataType: 'json',
	    data: {
	    	"sql": sql.val(),
	    	"test": true
	    },
	    success: render,
	    error: render,
	    async: true
	    });
	});
	 
  $("#reportmanager_save").on("click", function(event) {
    xhr = $.ajax({
      url: url_prefix + "/reportmanager/",
      type: 'POST',
      dataType: 'json',
      data: {
      	{% if report %}"id": {{report.id}},{% endif %}
      	"sql": $("#reportmanager_statements").val(),
      	"save": true,
      	"name": $("#id_name").val(),
      	"public": $("#id_public").is(":checked"),
      	"description": $("#id_description").val()
      	},
      async: true
      });
  });

	$("#reportmanager_format").on("click", function(event) {
    var sql = $("#reportmanager_statements");
    var data = sql.val();
    xhr = $.ajax({
      url: url_prefix + "/reportmanager/",
      type: 'POST',
      dataType: 'json',
      data: {
      	"sql": data,
      	"format": true
      	},
      success: function(data) {
      	sql.val(data['formatted']);
      },
      async: true
      });
  });

  {% if report %}
  $("#reportmanager_delete").on("click", function(event) {
    xhr = $.ajax({
      url: url_prefix + "/reportmanager/",
      type: 'POST',
      data: {
        "id": {{report.id}},
        "delete": true
        },
      success: function() {
      	window.location.href = url_prefix + "/";
      },
      async: true
      });
  });
  {% endif %}

	$("#reportmanager_cancel").on("click", function(event) {
		if (xhr) {
			xhr.abort();
		  xhr = null;
		  }
	});
	
	{% if report %}
  xhr = $.ajax({
      url: url_prefix + "/reportmanager/{{report.id}}/",
      type: 'GET',
      dataType: 'json',
      data: {"format": "json"},
      success: render,
      error: render,
      async: true
      });
	{% else %}
	getSchema();
	{% endif %}
});
</script>
{% endblock %}

{% block content %}

<div class="row form-group">

{% if perms.reportmanager.change_sqlreport %}
<div id="editbuttons" class="col-md-5{% if report %} hidden{% endif %}">
<button id="reportmanager_save" class="btn btn-primary">{% trans "save"|capfirst %}</button>
<button id="reportmanager_test" class="btn btn-primary">{% trans "test"|capfirst %}</button>
<button id="reportmanager_format" class="btn btn-primary">{% trans "format"|capfirst %}</button>
{% if report %}<button id="reportmanager_delete" class="btn btn-primary">{% trans "delete"|capfirst %}</button>{% endif %}
</div>
{% endif %}
 
{% if report %}
<div id="toolicons" class="col-xs-4 hor-align-right ver-align-middle pull-right">
  <button id="filter" class="btn btn-xs btn-primary" onclick="grid.showFilter()">
    <span data-toggle="tooltip" data-placement="top" title="" class="fa fa-search" data-original-title="{% trans 'filter data'|capfirst|force_escape %}"></span>
  </button>  
  <button class="btn btn-xs btn-primary" onclick="grid.showExport(false)">
    <span data-toggle="tooltip" data-placement="top" title="" class="fa fa-arrow-down" data-original-title="{% trans 'export as CSV or Excel file'|capfirst|force_escape %}"></span>
  </button>
  <button class="btn btn-xs btn-primary" onclick="grid.showCustomize(true)">
    <span data-toggle="tooltip" data-placement="top" title="" class="fa fa-wrench" data-original-title="{% trans 'customize'|capfirst|force_escape %}"></span>
  </button>
  {% if perms.reportmanager.create_sqlreport %}
  <button class="btn btn-xs btn-primary" onclick="startEdit()" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'edit'|capfirst|force_escape %}">
    <span class="fa fa-pencil"></span>
  </button>
  {% endif %}
  <button class="btn btn-xs btn-primary" 
    onclick="window.open('{% setting "DOCUMENTATION_URL" %}/docs/{% version_short %}/user-guide/user-interface/reportmanager.html');"
    data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'help'|capfirst|force_escape %}">
    <span class="fa fa-question"></span>
  </button>
</div>
{% endif %}
</div>

<div id="editreport" {% if report %}class="hidden"{% endif %}>
<div class="row" >
<div class="control-label col-md-3">
  <label class="required" for="id_name">{% trans "name"|capfirst %}:</label>
</div>
<div class="controls col-md-9">
  <input type="text" name="name" class="form-control vTextField" maxlength="300" 
    placeholder="{% trans "name"|capfirst %}" value="{{report.name}}" required id="id_name">
</div>
</div>

<div class="row">
<div class="control-label col-md-3">
  <label for="id_public">{% trans "public"|capfirst %}:</label>
</div>
<div class="controls col-md-9">
  <input type="checkbox" name="public" class="form-control" {% if report.public %}checked {% endif %}id="id_public">
</div>
</div>

<div class="row">
<div class="control-label col-md-3">
  <label for="id_description">{% trans "description"|capfirst %}:</label>
</div>
<div class="controls col-md-9">
  <input type="text" name="description" class="form-control vTextField" maxlength="500"
    placeholder="{% trans "description"|capfirst %}" id="id_description"
    {% if report.description %}value="{{report.description}}"{% endif %}>
</div>
</div>

<div class="row formgroup" style="text-align: center">
<div class="col-md-12">
<div id="sqlandschema" style="width:100%"> 
<table style="table-layout: fixed; width: 100%"><tr>
<td style="padding-right: 10px">
<textarea id="reportmanager_statements" rows="10"
 style="width: 100%; height:{% if request.prefs.height %}{{ request.prefs.height}}{% else %}200{% endif %}px; resize: none; font-size:1.25em; font-family:courier">
{{ report.sql }}
</textarea>
</td>
<td style="width:25em; padding-left:10px">
<div id="schemacolumn" style="margin-left:15px; overflow-y: scroll; height:{% if request.prefs.height %}{{ request.prefs.height}}{% else %}200{% endif %}px"></div>
</td>
</tr></table>
</div>
<span id="resize-handle" class="fa fa-bars handle" style="display: inline-block; touch-action: none"></span>
</div>
</div>

<!-- End editing section -->
</div>  

<div class="row form-group">
<div class="col-xs-12">
<div id="error"></div>
<div style="padding-right: 10px; width:100%">
<table id="reportmanager_results" class="table table-striped" style="background-color: white"></table>
</div>
</div>
</div>
{% endblock %}
