{% for m in schema %}
<div class="panel panel-default">
    <div class="panel-heading schema-header">
        <h4 class="name panel-title" style="display: inline-block">{{ m.0 }}</h4>
    </div>
    <div class="table-responsive schema-table">
        <table class="table table-condensed table-hover">
            <thead>
            </thead>
            <tbody>
                {% for c in m.1 %}
                <tr>
                    <td width="50%"><code>{{ c.0 }}</code></td>
                    <td width="50%" class="text-muted"><small>{{ c.1 }}</small></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
