{% load i18n %}
<div class="col">
{% for m in schema %}
<div class="card">
    <div class="card-header schema-header" role="tab">
      <span class="fa fa-plus float-end panel-toggle"></span>
      <h5 class="name card-title" style="display: inline-block">
         <a role="button">{% trans "table"|capfirst %}&nbsp;{{ m.0 }}</a>
      </h5>
    </div>
    <div class="collapse card-body table-responsive schema-table">
        <table class="table table-sm table-hover">
            <thead>
            </thead>
            <tbody>
                {% for c in m.1 %}
                <tr>
                    <td width="50%"><a href="#" class="schemafield"><code>{{ c.0 }}</code>&nbsp;<span class="fa fa-clipboard"></span></a></td>
                    <td width="50%" class="text-muted"><small>{{ c.1 }}</small></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
</div>