CherryPy >= 3.2.2
djangorestframework >= 3.3.1
djangorestframework-bulk >= 0.2.1
djangorestframework-filters >= 0.6.0
et-xmlfile >= 1.0.0
html5lib >= 0.999
jdcal >= 1.0
Markdown >= 2.6.4
openpyxl >= 2.3.0-b2
https://github.com/frePPLe/django/tarball/frepple_3.0
