{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}}

<script type="text/javascript">
	var hasForecast = ('{{ hasForecast|safe }}' === 'True')?true:false;
	var hasIP = ('{{ hasIP|safe }}' === 'True')?true:false;
	var version = '{% version_short %}';

  $(function() {
		wizard.updateWizard();
		$("#wizardsvg").removeClass("invisible");
  });
</script>
{% endblock %}

  {% block content_title %}
    <div class="row">
    <div class="col-xs-12">
  {% if title %}
      <h1>{{ title|capfirst }}</h1>
  {% endif %}
    </div></div>
  {% endblock %}

{% block content %}

<div id="content-main">
  <div id="wizardsvg" class="panel invisible" style="max-width: 1220px; display: block;">
		{% include "common/wizard.svg" %}
  </div>
</div>
{% endblock %}
