{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list %}
{% block extrahead %}{{block.super}}

<style>

.panel table tbody > tr > td, .panel table > thead > tr > th {
  padding-right: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.panel table tbody > tr > td  a.btn {
  color: white;
}
.panel table .progress {
  height: 100%;
  margin-bottom: 0px;
}
.panel table .progress .progress-bar {
  white-space: nowrap;
}
.progressspan {
  width: 100%;
  color: black;
}

</style>
<script type="text/javascript">
  var list={{ subjectlist|safe }};
  var automaticList = {};
  var singleparentslist = []; //for parents with no children
  var parentslist=[];


  for (var step in list) {
    if (list[step].pk == list[step].fields.owner)
      singleparentslist.push(list[step].pk);
    else if (list[step].fields.owner != null && parentslist.indexOf(list[step].fields.owner) == -1 )
      parentslist.push(list[step].fields.owner);
  };

	function getProgress(name) {
	  var progress = 0;
	  var step = 0;
	  var total = 0;
	  var haschildren = false;
	  var childrenprogress = 0;

	  for (var step in list) {
	    if (name == 'overall' && list[step].fields.owner != null ) {

	      total += 1;
	      if (list[step].fields.status)
	         progress += 1;

	    } else if (name == list[step].pk || name ==  list[step].fields.owner) {

	      if (singleparentslist.indexOf(list[step].pk) > -1) { //get the single parent

	        if (list[step].fields.status)
	          progress += 1;
	        total += 1;

	      } else if ( parentslist.indexOf(name) > -1 ) {

	        if (name ==  list[step].fields.owner) {
	          if (list[step].fields.status)
	            progress += 1;
	          total += 1;
	        };

	      } else if ( parentslist.indexOf(list[step].pk) == -1 && name == list[step].pk || list[step].fields.owner == null ) { //we only want the child

	          if (name == list[step].pk && list[step].fields.status)
	            progress += 1;

	          total += 1;

	      };

	    };

	  };


	  return [total,progress];
	};

	function setProgress(name,value) {
    var jsondata=[];

    value = (value == 'true'); //convert the value string to a boolean

		for (var step in list) {

		  if ( (name ==  list[step].fields.owner || name == list[step].pk) &&  list[step].fields.status != value) {
		    list[step].fields.status = value;

		    jsondata.push({"command": "set", "key": list[step].pk, "value": list[step].fields.status});
		  };

		};

		return saveWizard(jsondata);
	};

	function saveWizard(data) {
		$.ajax({
      url: url_prefix + "/wizard/",
      data: JSON.stringify(data),
      type: "POST",
      contentType: "application/json; charset=utf-8",
      success: function () {
        var result = [];
        var resultpercent = 0;
        result = getProgress('overall');
        resultpercent = result[1]/result[0]*100;
        $("#overall .progress-bar").attr('data-valuenow', resultpercent).css('width',resultpercent+'%');
        $("#overall .progress-bar span").text(result[1] + ' of ' + result[0]);

        var step = 0;
        var result=[];
        var resultpercent = 0;

        //update the wizard progress

        for (step in list) {
          result = getProgress(list[step].pk);
          resultpercent = result[1]/result[0]*100;
          $("#row"+list[step].fields.sequenceorder+" .progress-bar").attr('data-valuenow', resultpercent).css('width',resultpercent+'%');
          $("#row"+list[step].fields.sequenceorder+" .progressspan").text(result[1] + ' of ' + result[0]);
          if (list[step].fields.status) {
            $("#row"+list[step].fields.sequenceorder+" .text-success").removeClass().addClass("text-success fa fa-lg fa-thumbs-up");
          } else {
            $("#row"+list[step].fields.sequenceorder+" .text-success").removeClass("fa fa-lg fa-thumbs-up");
          };
          $("#row"+list[step].fields.sequenceorder+" .setBtn")
            .attr('data-value1',list[step].pk)
            .attr('data-value2',result[1] != result[0]);
          $("#row"+list[step].fields.sequenceorder+" .setBtn span")
            .text( (resultpercent == 100) ? gettext("mark as not done") : gettext("mark as done")  );
        };
      },
      error: function (result, stat, errorThrown) {
	      $('#popup').html(''+
	          '<div class="modal-dialog" style="max-height: 80%; width: 90%; visibility: hidden">'+
	          '<div class="modal-content">'+
	          '<div class="modal-header">'+
	          '<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>'+
	          '<h4 class="modal-title text-capitalize">'+gettext("Error")+'</h4>'+
	          '</div>'+
	          '<div class="modal-body">'+
	          '</div>'+
	          '<div class="modal-footer">'+
	          '<input type="submit" id="cancelbutton" role="button" class="btn btn-primary pull-right" data-dismiss="modal" value="'+gettext('Close')+'">'+
	          '</div>'+
	          '</div>'+
	      '</div>' );
        $('#popup .modal-title').addClass('alert alert-danger').html(gettext("Wizard error"));
        $('#popup .modal-body').css({'overflow-y':'auto'}).html('<div style="overflow-y:auto; height: 300px; resize: vertical">'+result.responseText + '</div>');
        $('#button_export').val(gettext('Retry'));
        $('#popup .modal-dialog').css({'visibility':'visible'})
        $('#popup').modal('show');
      }
    });

  };

  function populate(name) {
    //pop the dialog
    $('#popup').html(''+
        '<div class="modal-dialog" style="max-height: 80%; width: 350px; visibility: hidden">'+
        '<div class="modal-content">'+
        '<div class="modal-header">'+
        '<button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>'+
        '<h4 class="modal-title text-capitalize">'+gettext("Auto-populate")+'</h4>'+
        '</div>'+
        '<div class="modal-body">'+
        automaticList[name] +
        '</div>'+
        '<div class="modal-footer">'+
        '<input type="submit" id="autoexecbutton" role="button" class="btn btn-primary pull-left" value="'+gettext('Execute')+'">'+
        '<input type="submit" id="autocancelbutton" role="button" class="btn btn-primary pull-right" data-dismiss="modal" value="'+gettext('Cancel')+'">'+
        '</div>'+
        '</div>'+
    '</div>' );

    $('#popup .modal-dialog').css({'visibility':'visible'})

    $('#autoexecbutton').one('click',function () {
    //define button action
      saveWizard([{"command": "execute", "key": name}]);
      $('#popup').modal('hide');
      }
    );
    $('#popup').modal('show');
  };

  //remove lock from graph, set text to black, change the rect fill and stroke
  function removelock(wizelem) {
    if (wizelem.lock !== "") {
      wizelem.lock.style.display='none';
    }
		if (wizelem.cup === "" && wizelem.anchor !== "" && wizelem.rctg.getAttribute('id') !== 'generateplan') {
			wizelem.rctg.style.fill='cyan';
		}
		if (wizelem.anchor !== "") {
			wizelem.anchor.children[0].style.fill='black';
			wizelem.anchor.children[0].style.stroke='none';
		}
    wizelem.rctg.style.stroke='#00d5ff';
  }

	//turn rectangle green and give cup if it is there
	function turngreen(wizelem) {
    wizelem.rctg.style.stroke='rgb(16, 150, 24)';
		if (wizelem.cup !== "") {
			wizelem.cup.children[0].style.fill='#ffbf05';
			wizelem.cup.children[0].style.stroke='#ffa000';
			wizelem.cup.children[1].style.stroke='#ffa000';
			wizelem.cup.children[2].style.stroke='#ffa000';
		} else if (wizelem.anchor !== ""  && wizelem.rctg.getAttribute('id') !== 'generateplan') {
			console.log(wizelem.anchor);
			wizelem.rctg.style.fill='#a4d070';
		}
  }

	function isPopulated(wizelem) { console.log(wizelem);
		if (wizelem.anchor == "" || wizelem.anchor == null) {
			return null;
		}
		result = $("#nav-menu a[href='"+ wizelem.anchor.getAttribute('href') +"']").attr('data-populated');
		return (typeof result === 'undefined')? null : result === 'True';
	}

  $(function() {

    var newrow = '';
    var list={{ subjectlist|safe }};
    var result = [];
    result = getProgress('overall');

    $("#overall .progress-bar").attr('data-valuenow', result[1]/result[0]*100).css('width',result[1]/result[0]*100+'%');
    $("#overall .progress-bar .progressspan").text(result[1] + ' of ' + result[0]);

    var step = 0;
    var result = [];
    for (step in list) {
      result = getProgress(list[step].pk);

      newrow += '<tr id="row'+list[step].fields.sequenceorder+'"><td>';
      if (list[step].fields.owner != null && singleparentslist.indexOf(list[step].pk) == -1) newrow += '&nbsp;&nbsp;&nbsp;&nbsp;';
      if (list[step].fields.owner == null || singleparentslist.indexOf(list[step].pk) > -1) newrow += '<strong>';
      if (list[step].fields.url_internaldoc != null) newrow += '<a href="'+list[step].fields.url_internaldoc+'"><span class="text-capitalize">'+list[step].pk+'&nbsp;</span><span class="fa fa-caret-right"></span></a>';
      if (list[step].fields.url_internaldoc == null) newrow += '<span>'+list[step].pk+'</span>';
      if (list[step].fields.owner == null || singleparentslist.indexOf(list[step].pk) > -1) newrow += '</strong>';
      newrow += '</td><td  style="text-align: center">';
      if (list[step].fields.owner == null && singleparentslist.indexOf(list[step].pk) == -1) {
	      newrow += '<div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" valuemin="0" valuemax="1"'
	      newrow += 'valuenow="'+result[1]/result[0]*100+'" style="width:'+result[1]/result[0]*100+'%">';
	      newrow += '<span  class="progressspan">'+result[1]+' of '+result[0]+'</span>';
	      newrow += '</div></div>';
      } else {
        if (list[step].fields.status) {
          newrow += '<span class="text-success fa fa-lg fa-thumbs-up"></span>';
        } else {
          newrow += '<span class="text-success"></span>';
        };
      };
      newrow += '</td><td>';
      newrow += '<button data-value1="'+list[step].pk+'" data-value2="'+ (result[0]!=result[1]) +'" class="setBtn btn btn-primary btn-xs" style="width: 100%"><span class="text-capitalize">';
      newrow += (result[0]==result[1]) ? gettext("mark as not done") : gettext("mark as done");
      newrow += '</span></button>';
      newrow += '</td><td>';
      newrow += '<a class="btn btn-primary btn-xs" href="https://frepple.com/docs/{% version_short %}'+list[step].fields.url_doc+'" target="_frepplecom"><span class="text-capitalize">'+gettext("information")+'</span></a>';
      newrow += '</td><td>';
      if (Object.keys(automaticList).indexOf(list[step].pk) > -1) {
        newrow += '<button class="autoBtn btn btn-primary btn-xs" data-value1="'+list[step].pk+'"><span class="text-capitalize">';
        newrow += gettext('auto-populate');
        newrow += '</span></button>';
      };
      newrow += '</td></tr>';
    };

    $("tbody").append(newrow);
    $("table tr").on('click','.setBtn', function(){setProgress($(this).attr('data-value1') , $(this).attr('data-value2'));});
    $("table tr").on('click','.autoBtn', function(){ populate($(this).attr('data-value1') ); } );

    //wizardgraph functions
    wizdict = {
      "Introduction": {"lock": "", "rctg": "", "cup":"", "anchor":"", "docanchor":document.getElementById('introductiondoc')},
      "Master data": {"lock": "", "rctg": document.getElementById('basicdata'), "cup":"", "anchor":"", "docanchor":document.getElementById('basicdatadoc')},
      "Items": {"lock": "", "rctg": document.getElementById('items'), "cup":"", "anchor":document.getElementById('itemsurl'), "docanchor":document.getElementById('itemsdoc')},
      "Locations": {"lock": "", "rctg": document.getElementById('locations'), "cup":"", "anchor":document.getElementById('locationsurl'), "docanchor":document.getElementById('locationsdoc')},
      "Customers": {"lock": "", "rctg": document.getElementById('customers'), "cup":"", "anchor":document.getElementById('customersurl'), "docanchor":document.getElementById('customersdoc')},
      "Sales orders": {"lock": document.getElementById("lock0"), "rctg": document.getElementById('salesorders'), "cup":"", "anchor":document.getElementById('salesordersurl'), "docanchor":document.getElementById('salesordersdoc')},
      "Sales orders history": {"lock": document.getElementById("lock1"), "rctg": document.getElementById('salesordershistory'), "cup":"", "anchor":document.getElementById('salesordershistoryurl'), "docanchor":document.getElementById('salesorderhistorydoc')},
      "Statistical Forecast": {"lock": "", "rctg": document.getElementById('statisticalforecast'), "cup": document.getElementById("cup0"), "anchor":document.getElementById('statisticalforecasturl'), "docanchor":document.getElementById('statisticalforecastdoc')},
      "Inventory Planning": {"lock": "", "rctg": document.getElementById('inventoryplanning'), "cup":"", "anchor":"", "docanchor":""},
      "Inventory Plan Parameters": {"lock": document.getElementById("lock2"), "rctg": document.getElementById('inventoryplanparameters'), "cup":"", "anchor":document.getElementById('inventoryplanparametersurl'), "docanchor":document.getElementById('inventoryplanparametersdoc')},
      "Safety Stock": {"lock": "", "rctg": document.getElementById('safetystock'), "cup": document.getElementById("cup1"), "anchor":document.getElementById('safetystockurl'), "docanchor":document.getElementById('safetystockdoc')},
      "Supply Path": {"lock": "", "rctg": document.getElementById('supplypath'), "cup":"", "anchor":"", "docanchor":document.getElementById('supplypathdoc')},
      "Purchasing": {"lock": "", "rctg": document.getElementById('purchasing'), "cup":"", "anchor":"", "docanchor":document.getElementById('purchaseordersdoc')},
      "Suppliers": {"lock": document.getElementById("lock3"), "rctg": document.getElementById('suppliers'), "cup":"", "anchor":document.getElementById('suppliersurl'), "docanchor":document.getElementById('suppliersdoc')},
      "Item suppliers": {"lock": document.getElementById("lock4"), "rctg": document.getElementById('itemsuppliers'), "cup":"", "anchor":document.getElementById('itemsuppliersurl'), "docanchor":document.getElementById('itemsuppliersdoc')},
      "Distribution": {"lock": "", "rctg": document.getElementById('distribution'), "cup":"", "anchor":"", "docanchor":document.getElementById('distributionordersdoc')},
      "Item distributions": {"lock": document.getElementById("lock5"), "rctg": document.getElementById('itemdistributions'), "cup":"", "anchor":document.getElementById('itemdistributionsurl'), "docanchor":document.getElementById('itemdistributionsdoc')},
      "Manufacturing BOM": {"lock": "", "rctg": document.getElementById('manufacturingbom'), "cup":"", "anchor":"", "docanchor":document.getElementById('manufacturingordersdoc')},
      "Operations": {"lock": document.getElementById("lock6"), "rctg": document.getElementById('operations'), "cup":"", "anchor":document.getElementById('operationsurl'), "docanchor":document.getElementById('operationsdoc')},
      "Operation materials": {"lock": document.getElementById("lock7"), "rctg": document.getElementById('operationmaterials'), "cup":"", "anchor":document.getElementById('operationmaterialsurl'), "docanchor":document.getElementById('operationmaterialsdoc')},
      "Manufacturing Capacity": {"lock": "", "rctg": document.getElementById('capacityplanning'), "cup":"", "anchor":"", "docanchor":document.getElementById('capacityplanningdoc')},
      "Resources": {"lock": document.getElementById("lock8"), "rctg": document.getElementById('resources'), "cup":"", "anchor":document.getElementById('resourcesurl'), "docanchor":document.getElementById('resourcesdoc')},
      "Operation Resources": {"lock": document.getElementById("lock9"), "rctg": document.getElementById('operationresources'), "cup":"", "anchor":document.getElementById('operationresourcesurl'), "docanchor":document.getElementById('operationresourcesdoc')},
      "Plan generation": {"lock": "", "rctg": document.getElementById('generateplan'), "cup":"", "anchor":document.getElementById('generateplanurl'), "docanchor":document.getElementById('generateplandoc')},
      "Distribution orders": {"lock": "", "rctg": document.getElementById('plan_do'), "cup":document.getElementById("cup2"), "anchor":document.getElementById('plan_dourl'), "docanchor":document.getElementById('plan_dodoc')},
      "Purchase orders": {"lock": "", "rctg": document.getElementById('plan_po'), "cup":document.getElementById("cup3"), "anchor":document.getElementById('plan_pourl'), "docanchor":document.getElementById('plan_podoc')},
      "Manufacturing orders": {"lock": "", "rctg": document.getElementById('plan_mo'), "cup": document.getElementById("cup4"), "anchor":document.getElementById('plan_mourl'), "docanchor":document.getElementById('plan_modoc')}
    };

    // set the links to tables and documentation
    for (var i = 0; i < list.length; i++) {
      if (wizdict[list[i].pk]) {
        if (wizdict[list[i].pk].anchor !== "" && list[i].fields.url_internaldoc !== null) {
          wizdict[list[i].pk].anchor.setAttribute('href', list[i].fields.url_internaldoc);
        }
        if (wizdict[list[i].pk].docanchor !== "" && list[i].fields.url_doc !== null) {
          wizdict[list[i].pk].docanchor.setAttribute('href', 'https://frepple.com/docs/{% version_short %}' + list[i].fields.url_doc);
        }
				if (list[i].pk === 'Sales orders') { console.log(list[i]);
					wizdict['Sales orders history'].anchor.setAttribute('href', list[i].fields.url_internaldoc);
					wizdict['Sales orders history'].anchor.setAttribute('href', 'https://frepple.com/docs/{% version_short %}' + list[i].fields.url_doc);
				}
			}
    }

		//check elements in graph for data-populated
		$.each(wizdict, function (index, elem) {
			if (isPopulated(elem) === false) {
				removelock(elem);
			} else if (isPopulated(elem)) {
				removelock(elem);
				turngreen(elem);
			}
		});

		//extra logic for the big rectangles
		if (isPopulated(wizdict['Sales orders'])) {
			turngreen(wizdict['Master data']);
			removelock(wizdict['Sales orders history']);
			turngreen(wizdict['Sales orders history']);
			removelock(wizdict['Statistical Forecast']);
			removelock(wizdict['Supply Path']);
			removelock(wizdict['Purchasing']);
			removelock(wizdict['Distribution']);
			removelock(wizdict['Manufacturing BOM']);
		}

		if (isPopulated(wizdict['Item suppliers'])) {
			turngreen(wizdict['Purchasing']);
		}

		if (isPopulated(wizdict['Item distributions'])) {
			turngreen(wizdict['Distribution']);
		}

		if (isPopulated(wizdict['Operation materials'])) {
			turngreen(wizdict['Manufacturing orders']);
		}

		if (isPopulated(wizdict['Item suppliers']) && isPopulated(wizdict['Item distributions']) && isPopulated(wizdict['Operation materials'])) {
			turngreen(wizdict['Supply Path']);
		}

		if (isPopulated(wizdict['Resources']) !== null) {
			removelock(wizdict['Manufacturing Capacity']);
		}

		if (isPopulated(wizdict['Operation Resources'])) {
			turngreen(wizdict['Manufacturing Capacity']);
		}

		if (isPopulated(wizdict['Item suppliers'])===false ||
				isPopulated(wizdict['Item distributions'])===false ||
				isPopulated(wizdict['Operation materials'])===false) {
			removelock(wizdict['Plan generation']);
		}

		if (isPopulated(wizdict['Item suppliers']) &&
				isPopulated(wizdict['Item distributions']) &&
				isPopulated(wizdict['Operation materials']) ) {
			turngreen(wizdict['Plan generation']);
		}

		if (isPopulated(wizdict['Statistical Forecast'])) {
			turngreen(wizdict['Statistical Forecast']);
		}

		if (isPopulated(wizdict['Inventory Plan Parameters'])===false) {
			removelock(wizdict['Inventory Planning']);
			removelock(wizdict['Inventory Plan Parameters']);
		}

		if (isPopulated(wizdict['Inventory Plan Parameters'])===true) {
			turngreen(wizdict['Inventory Planning']);
			turngreen(wizdict['Inventory Plan Parameters']);
			removelock(wizdict['Safety Stock']);
		}

		if (isPopulated(wizdict['Safety Stock'])) {
			turngreen(wizdict['Safety Stock']);
		}

  });
</script>
{% endblock %}

  {% block content_title %}
    <div class="row">
    <div class="col-xs-12">
  {% if title %}
      <h1>{{ title|capfirst }}</h1>
  {% endif %}
    </div></div>
  {% endblock %}

{% block content %}

<div id="content-main">
  <!-- change display:none to block for graph to show. -->
  <div id="wizardsvg" class="panel" style="max-width:700px; min-width: 1220px; display: none;">
		{% include "common/wizard.svg" %}
  </div>
	<div class="panel" style="max-width:700px; min-width: 600px">
		<div class="panel-body">
			<div class="table-reponsive">
				<table>
					<thead>
						<tr id="overall">
						  <th></th>
							<th style="text-align: right">
								<span>{% trans "overall progress"|capfirst %}:&nbsp;</span>
							</th>
							<th colspan="3">
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-valuemin="0" data-valuemax="1" data-valuenow="0" style="width: 0%; min-width: 0px;">
									 <span class="progressspan"></span>
									</div>
								</div>
						  </th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
