<div>
    <div id="scrolldayview" class="scrollable" data-ng-style="{'height': getHeight(25)}">
        <table class="table table-bordered table-fixed" >
            <tbody>
              <tr data-ng-repeat="cat in categories track by cat" data-row="{{cat}}">
                <td data-ng-if="grouping">{{cat}}</td>
                <td class="datecell" data-date="{{dt.date| date: 'yyyy-MM-dd'}}">
                    <div>
                        <div data-ng-repeat="opplan in events track by $index" class="card-month"
                             data-ng-click="selectCard(opplan)"
                             data-ng-if="(!grouping || (opplan[grouping] || '') == (cat || '')) && displayEvent(opplan, dt)">
                               <ng-include src="'/input/card.html'"/>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>