<div>
    <div id="scrolldayview" class="scrollable" data-ng-style="{'height': getHeight(25)}">
        <table class="table table-bordered table-fixed">
            <tbody data-ng-switch="calendarmode">
            <tr data-ng-switch-when="duration" ng-repeat="dt in rows track by $index">
                <td class="calendar-hour-column text-center">
                    {{dt.date | date: formatHourColumn}}
                </td>
                <td class="calendar-cell">
                    <div data-ng-class="{'calendar-event-wrap': dt.events}" ng-if="dt.events">                   
                        <div data-ng-repeat="opplan in dt.events" class="calendar-event"
                             data-ng-click="selectCard(opplan.event)"
                             data-ng-style="{top: (37*opplan.startOffset/hourParts)+'px', left: 100/opplan.overlapNumber*opplan.position+'%', width: 100/opplan.overlapNumber+'%', height: 37*(opplan.endIndex -opplan.startIndex - (opplan.endOffset + opplan.startOffset)/hourParts)+'px'}">
                               <div class="calendar-event-inner card-day">
                               <ng-include src="'/input/card.html'"/>
                               </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-switch-default>
                <td>
                    <div>                   
                        <div data-ng-repeat="opplan in events" class="card-month" 
                             data-ng-click="selectCard(opplan)"
                             data-ng-if="displayEvent(opplan, dt)">
                               <ng-include src="'/input/card.html'"/>
                        </div>
                    </div>
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>