
  <div class="row">
    <div data-ng-class="{'col-md-6': detailposition=='bottom', 'col-md-12': detailposition!='bottom'}">
      <div class="card mb-3" id="attributes-operationplan" showoperationplan-drv></div>
    </div>
    <div data-ng-class="{'col-md-6': detailposition=='bottom', 'col-md-12': detailposition!='bottom'}">
      <div class="card mb-3" id="attributes-inventorydata" data-ng-if="operationplan.id !== -1 && operationplan.inventoryreport != undefined" data="operationplan" showinventorydata-drv></div>
    </div>
    <div data-ng-class="{'col-md-6': detailposition=='bottom', 'col-md-12': detailposition!='bottom'}">
      <div class="card mb-3" id="attributes-inventorygraph" data-ng-if="operationplan.id !== -1 && operationplan.inventoryreport != undefined" data="operationplan" showinventorygraph-drv></div>
    </div>
    <div data-ng-class="{'col-md-6': detailposition=='bottom', 'col-md-12': detailposition!='bottom'}">
      <div class="card mb-3" id="attributes-operationproblems" data-ng-if="operationplan.id !== -1 && operationplan.problems != undefined" data="operationplan" showproblemspanel-drv></div>
      <div class="card mb-3" id="attributes-operationresources" data-ng-if="operationplan.id !== -1 && operationplan.loadplans != undefined" data="operationplan" data-mode="mode" showresourcespanel-drv></div>
      <div class="card mb-3" id="attributes-operationflowplans" data-ng-if="operationplan.id !== -1 && operationplan.flowplans != undefined" data="operationplan" showbufferspanel-drv></div>
      <div class="card mb-3" id="attributes-operationdemandpegging" data-ng-if="operationplan.id !== -1 && operationplan.pegging_demand.length > 0" data="operationplan" showoperationpeggingpanel-drv></div>
    </div>
  </div>
  <!-- row end  -->
  <div class="row" data-ng-if="detailposition=='bottom'">
    <div class="col">
      <div class="card" id="attributes-networkstatus" data-ng-if="operationplan.network !== undefined" data="operationplan" shownetworkstatus-drv style="margin-bottom: 18px;"></div>
    </div>
  </div>
  <!-- row end  -->
  <div class="row" data-ng-if="detailposition=='bottom'">
    <div class="col">
      <div class="card" id="attributes-downstreamoperationplans" data-ng-if="operationplan.downstreamoperationplans !== undefined" data="operationplan" showdownstreamoperationplans-drv style="margin-bottom: 18px;"></div>
    </div>
  </div>
  <div class="row" data-ng-if="detailposition=='bottom'">
    <div class="col">
      <div class="card" id="attributes-upstreamoperationplans" data-ng-if="operationplan.upstreamoperationplans !== undefined" data="operationplan" showupstreamoperationplans-drv style="margin-bottom: 18px;"></div>
    </div>
  </div>
  <!-- row end  -->
  <div class="row">
    <div class="col">
      <div class="card" id="attributes-supplyinformation" data-ng-if="operationplan.attributes !== undefined" data="operationplan" showsupplyinformation-drv style="margin-bottom: 18px;"></div>
    </div>
  </div>
  <!-- row end  -->
  <div id="popup2" class="modal" role="dialog" style="z-index: 10000; overflow-y: visible">
    <div class="modal-dialog" data-ng-style="{'width': (databaseerrormodal) ? '500px' : '300px'}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" data-ng-if="!databaseerrormodal && !rowlimiterrormodal" translate>unsaved changes</h5>
          <h5 class="modal-title text-capitalize" data-ng-if="rowlimiterrormodal && rowlimiterrormodal" translate>gantt chart rows limit</h5>
          <h5 class="modal-title text-capitalize" data-ng-if="databaseerrormodal" translate>database transaction failed</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" ng-if="!databaseerrormodal && !rowlimiterrormodal">
          <p translate>Do you want to save your changes first?</p>
        </div>
        <div class="modal-body" ng-if="!databaseerrormodal && rowlimiterrormodal">
          <p translate>The Gantt chart is limited to {{rowlimit}} rows.</p>
          <p translate>Please be patient, the chart may take some time to complete.</p>
        </div>
        <div class="modal-body" ng-if="databaseerrormodal" style="height: 350px; overflow: auto;"></div>
        <div class="modal-footer justify-content-between">
          <input type="submit" id="cancelAbutton" role="button" data-ng-click="modalcallback.resolve('continue'); rowlimiterrormodal = false;" class="btn btn-primary" data-bs-dismiss="modal" value="{{'Continue'|translate }}">
          <input type="submit" id="saveAbutton" role="button" data-ng-if="!databaseerrormodal  && !rowlimiterrormodal" data-ng-click="modalcallback.resolve('save')" class="btn btn-primary" data-bs-dismiss="modal" value="{{'Save'|translate }}">
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      setTimeout(function () {
        //very simple way to adjust grid width without introducing a new watch in angular controller
        $('#grid').setGridWidth($('#content-main').width());
      }, 50);
    });
  </script>
