<style>
#setQuantity.ng-dirty {
  background: none !important;
}
#opplan-attributes-drvtable tbody tr td {
    border: 0px;
    vertical-align: middle;
}
#opplan-attributes-drvtable thead tr td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbb;
}
</style>
<div class="panel-heading">
  <strong style="text-transform: capitalize;">
    &nbsp;{{opptype[operationplan.type]}}
  </strong>
</div>
<table class="table table-condensed table-hover" id="opplan-attributes-drvtable">
  <thead>
    <tr>
      <td style="min-width: 250px; width:30%">
        <b id="thead1" style="text-transform: capitalize;">{{ 'name'|translate }}&nbsp;</b>
      </td>
      <td>
        <b style="text-transform: capitalize;" data-ng-if="operationplan.hasOwnProperty('operation')">{{operationplan.operation.name}}</b>
        <b style="text-transform: capitalize;" data-ng-if="!operationplan.hasOwnProperty('operation')">{{operationplan.name}}</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-if="!operationplan.id === -1">
      <td><b style="text-transform: capitalize;">{{'identifier'|translate}}</b></td>
      <td id="idrow">{{(operationplan.hasOwnProperty('id') && operationplan.id > -1)?operationplan.id:''}}</td>
    </tr>
    <tr data-ng-if="!operationplan.id === -1">
      <td><b style="text-transform: capitalize;">{{'reference'|translate}}</b></td>
      <td id="referencerow">{{operationplan.reference}}</td>
    </tr>
    <tr data-ng-if="operationplan.item  !== null && operationplan.id !== -1">
      <td><b style="text-transform: capitalize;" translate>item</b></td>
      <td id="itemrow">{{operationplan.item}}</td>
    </tr>
    <tr ng-if="operationplan.supplier !== null && operationplan.id !== undefined && operationplan.id !== -1">
      <td><b style="text-transform: capitalize;">{{'supplier'|translate}}</b></td>
      <td id="supplierrow">{{operationplan.supplier}}</td>
    </tr>
    <tr ng-if="operationplan.location !== null && operationplan.id !== -1">
      <td><b style="text-transform: capitalize;">{{'location'|translate}}</b></td>
      <td id="locationrow">{{operationplan.location}}</td>
    </tr>
    <tr ng-if="operationplan.origin !== null && operationplan.id !== undefined && operationplan.id !== -1">
      <td><b style="text-transform: capitalize;">{{'origin'|translate}}</b></td>
      <td id="originrow">{{operationplan.origin}}</td>
    </tr>
    <tr ng-if="operationplan.destination !== null && operationplan.id !== undefined && operationplan.id !== -1">
      <td><b style="text-transform: capitalize;">{{'destination'|translate}}</b></td>
      <td id="destinationrow">{{operationplan.destination}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize" ng-if="operationplan.type == 'MO'">{{'start date'|translate}}</b>
        <b style="text-transform: capitalize" ng-if="operationplan.type == 'PO'">{{'ordering date'|translate}}</b>
        <b style="text-transform: capitalize" ng-if="operationplan.type == 'DO'">{{'shipping date'|translate}}</b>&nbsp;
        <small data-ng-if="operationplan.colmodel.startdate">({{ operationplan.colmodel.startdate.type|translate }})</small>
      </td>
      <td id="startrow">
        <input id="setStart" type="text" size="9" class="vDateField form-control" value="{{operationplan.start|formatdate}}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;" ng-if="operationplan.type == 'MO'">{{'end date'|translate}}</b>
        <b style="text-transform: capitalize;" ng-if="operationplan.type == 'PO'">{{'receipt date'|translate}}</b>
        <b style="text-transform: capitalize;" ng-if="operationplan.type == 'DO'">{{'receipt date'|translate}}</b>&nbsp;
        <small data-ng-if="operationplan.colmodel.enddate">({{ operationplan.colmodel.enddate.type|translate }})</small>
      </td>
      <td id="endrow">
        <input id="setEnd" type="text" size="9" class="vDateField form-control" value="{{operationplan.end|formatdate}}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;">{{'quantity'|translate}}</b>&nbsp;
        <small data-ng-if="operationplan.colmodel.quantity">({{ operationplan.colmodel.quantity.type|translate }})</small>
      </td>
      <td id="quantityrow">
        <input id="setQuantity" class="form-control" type="number" ng-model="operationplan.quantity" ng-model-options="{debounce: 300}" disabled>
      </td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;">{{'criticality'|translate}}</b>&nbsp;
        <small data-ng-if="operationplan.colmodel.criticality">({{ operationplan.colmodel.criticality.type|translate }})</small>
      </td>
      <td id="criticalityrow">{{operationplan.criticality}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;">{{'delay'|translate}}</b>&nbsp;
        <small data-ng-if="operationplan.colmodel.delay">({{ operationplan.colmodel.delay.type|translate }})</small>
      </td>
      <td id="delayrow">{{(operationplan.delay / 86400)|number:0}}</td>
    </tr>
    <tr data-ng-repeat="(key, value) in operationplan.colmodel"
      data-ng-if="['delay', 'criticality', 'quantity', 'startdate', 'enddate', 'color'].indexOf(key) == -1">
      <td><b style="text-transform: capitalize;">{{value.label|translate}}</b>&nbsp;
        <small>({{ value.type|translate }})</small>
      </td>
      <td>{{(operationplan[key])|number:0}}</td>
    </tr>
    <tr>
      <td><b style="text-transform: capitalize;">{{'status'|translate}}</b></td>
      <td id="statusrow">
        <div class="btn-group" role="group">
          <button id="proposedBtn" data-ng-if="actions.hasOwnProperty('proposed')" type="button" class="btn btn-primary" ng-click="operationplan.status = 'proposed'" style="text-transform: capitalize;" disabled="disabled">{{'proposed'|translate}}</button>
          <button id="approvedBtn" data-ng-if="actions.hasOwnProperty('approved')" type="button" class="btn btn-primary" ng-click="operationplan.status = 'approved'" style="text-transform: capitalize;" disabled="disabled">{{'approved'|translate}}</button>
          <button id="confirmedBtn" data-ng-if="actions.hasOwnProperty('confirmed')" type="button" class="btn btn-primary" ng-click="operationplan.status = 'confirmed'" style="text-transform: capitalize;" disabled="disabled">{{'confirmed'|translate}}</button>
          <button id="closedBtn" data-ng-if="actions.hasOwnProperty('closed')" type="button" class="btn btn-primary" ng-click="operationplan.status = 'closed'" style="text-transform: capitalize;" disabled="disabled">{{'closed'|translate}}</button>

          <button id="proposedBtn" data-ng-if="!actions.hasOwnProperty('proposed')" data-ng-disabled="operationplan.status !== 'proposed'" type="button" class="btn btn-primary" ng-click="operationplan.status = 'proposed'" style="text-transform: capitalize;" disabled="disabled">{{'proposed'|translate}}</button>
          <button id="approvedBtn" data-ng-if="!actions.hasOwnProperty('approved')" data-ng-disabled="operationplan.status !== 'proposed'" type="button" class="btn btn-primary" ng-click="operationplan.status = 'approved'" style="text-transform: capitalize;" disabled="disabled">{{'approved'|translate}}</button>
          <button id="confirmedBtn" data-ng-if="!actions.hasOwnProperty('confirmed')" data-ng-disabled="operationplan.status !== 'proposed'" type="button" class="btn btn-primary" ng-click="operationplan.status = 'confirmed'" style="text-transform: capitalize;" disabled="disabled">{{'confirmed'|translate}}</button>
          <button id="closedBtn" data-ng-if="!actions.hasOwnProperty('closed')" data-ng-disabled="operationplan.status !== 'proposed'" type="button" class="btn btn-primary" ng-click="operationplan.status = 'closed'" style="text-transform: capitalize;" disabled="disabled">{{'closed'|translate}}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
