.input-container{
    width: 180px;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 75%;
    border: none;
}

.input-container button {
    float: right;
    width: 44px;
}