{% extends "admin/change_form.html" %}
{% load i18n %}

{% block inline_field_sets %}
{{ block.super }}
{% if object_id %}
<div class="col-lg-auto col-md-6 col-sm-12 mb-3">
<div class="card">
  <div class="card-header">
    <h5 class="card-title text-capitalize">{% trans "related" %}</h5>
  </div>
  <div class="card-body">

  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/itemsupplier/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "item suppliers"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/itemdistribution/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "item distributions"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/operation/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "operations"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/operationmaterial/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "operation materials"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/demand/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "sales orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/manufacturingorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "manufacturing orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/purchaseorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "purchase orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/distributionorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "distribution orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
  <div class="w-100 mb-2 ms-3 me-3">
     <a href="{{ request.prefix }}/data/input/buffer/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "buffer"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>

</div>  <!-- card body -->
</div>  <!-- card -->
</div>  <!-- col -->
{% endif %}
{% endblock %}
