{% extends "admin/change_form.html" %}
{% load i18n %}

{% block inline_field_sets %}
{{ block.super }}
{% if object_id %}
<fieldset class="module mb-3 container-fluid" id="fieldset-3" style="background:transparent">
<h1 class="text-capitalize">{% trans "related" %}</h1>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/itemsupplier/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "item suppliers"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/itemdistribution/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "item distributions"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/operation/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "operations"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/operationmaterial/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "operation materials"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/demand/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "sales orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/manufacturingorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "manufacturing orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/purchaseorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "purchase orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/distributionorder/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "distribution orders"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-form-label col-3">
     <a href="{{ request.prefix }}/data/input/buffer/?item__name__ico={{ object_id | urlencode }}&noautofilter">
     {% trans "buffer"|capfirst %}&nbsp;<i class="fa fa-caret-right"></i></a>
  </div>
</div>
</fieldset>
{% endif %}
{% endblock %}
