{% extends "admin/base_site_nav.html" %}
{% comment %}
This template overrides one of the standard admin ones.
The changes are:
   - extend base_site_nav rather than base_site
{% endcomment %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="{{request.prefix}}/">{% trans 'home'|capfirst %}</a> &rsaquo; {% trans 'Password change'|capfirst context 'Translation included with django' %}</div>{% endblock %}

{% block title %}{% trans 'Password change successful' context 'Translation included with django' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password change successful' context 'Translation included with django' %}</h1>

<p>{% trans 'Your password was changed.' context 'Translation included with django' %}</p>

{% endblock %}
