{% extends "admin/base_site_nav.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
  function calcUtil()
  {
    var clusters = parseInt(document.getElementById("0").value);
    var fcst = parseInt(document.getElementById("1").value);
    var demands = parseInt(document.getElementById("2").value);
    var levels = parseInt(document.getElementById("3").value);
    var rsrc_number = parseInt(document.getElementById("4").value);
    var rsrc_size = parseInt(document.getElementById("5").value);
    // Available capacity:  rsrc_number * rsrc_size * 365 days/year
    // Required capacity: clusters * fcst * 12 months/day * 1 day/unit
    // Levels has no influence since we load a resource only at 1 step
    // Demands also has no influence, as we assume that the forecast quantity is bigger than the orders.
    var util = (clusters * fcst * 12) / (rsrc_number * rsrc_size * 365)
	  document.getElementById("util").innerHTML = (util * 100).toFixed(1);
  }
</script>

{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div id="content-main">

{% if perms.execute %}

{% if perms.execute.run_frepple %}
<div class="module">
<table summary="Extra commands.">
<caption>frePPLe</caption>

<form method="post" action="/execute/runfrepple/"><tr>
{% blocktrans %}<th scope="row"><a>Run frePPLe</a></th>
<td>Load frePPLe from the database...  <br/>
and create a <select name="type" id="type">
<option value="7">constrained</option>
<option value="3">material constrained</option>
<option value="4">capacity constrained</option>
<option value="0">unconstrained</option>
</select> plan in frePPLe...<br/>
and export results into the database<br/><br/>
<a href="/execute/logfrepple/">View latest log file</a></td>
<td><input id="run" type="submit" value="Run" /></td>{% endblocktrans %}
</tr></form>

</table>
</div>
{% endif %}

{% if perms.execute.run_db %}
<div class="module">
<table summary="Extra commands.">
<caption>{% trans "Database" %}</caption>

<form method="post" action="/execute/erase/"><tr>
{% blocktrans %}<th scope="row"><a>Erase</a></th>
<td>Erase all data from the database.</td>
<td><input id="erase" type="submit" value="Erase" /></td>{% endblocktrans %}
</tr></form>

<form method="post" action="/execute/fixture/"><tr>
{% blocktrans %}<th scope="row"><a>Load a dataset</a></th>
<td>Load a dataset from a file in the database.<br/>
Available datasets: <select name="datafile" id="entity">
<option value="-" selected="selected">-</option>
<option value="small_demo">Small demo dataset</option>
<option value="dates">Dates</option>
<option value="unicode_test">Unicode test</option>
</select>
</td>
<td><input id="load" type="submit" value="Load"/></td>{% endblocktrans %}
</tr></form>

</table>
</div>
{% endif %}

{% if perms.execute.run_db %}
<div class="module">
<table summary="Extra commands.">
<caption>{% trans "Model generator" %}</caption>

<form method="post" action="/execute/create/"><tr>
{% blocktrans %}<th scope="row"><a>Create a model</a></th>
<td>Create a sample model in the database.<br/>
The parameters control the size and complexity.<br/>
Number of end items: <input id="0" name="clusters" type="text" maxlength="5" size="5" value="100" onchange="calcUtil()"/><br/>
<b>Demand:</b></br>
&nbsp;&nbsp;Monthly forecast per end item: <input id="1" name="fcst" type="text" maxlength="4" size="4" value="50" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Demands per end item: <input id="2" name="demands" type="text" maxlength="4" size="4" value="30" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Average delivery lead time: <input id="2" name="deliver_lt" type="text" maxlength="4" size="4" value="30" onchange="calcUtil()"/> days<br/>
<b>Raw Materials:</b></br>
&nbsp;&nbsp;Depth of bill-of-material: <input id="3" name="levels" type="text" maxlength="2" size="2" value="5" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Total number of components: <input id="0" name="components" type="text" maxlength="5" size="5" value="200" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Number of components per end item: <input id="0" name="components_per" type="text" maxlength="5" size="5" value="4" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Average procurement lead time: <input id="2" name="procure_lt" type="text" maxlength="4" size="4" value="40" onchange="calcUtil()"/> days<br/>
<b>Capacity:</b></br>
&nbsp;&nbsp;Number of resources: <input id="4" name="rsrc_number" type="text" maxlength="3" size="3" value="50" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Size of each resource: <input id="5" name="rsrc_size" type="text" maxlength="3" size="3" value="4" onchange="calcUtil()"/><br/>
&nbsp;&nbsp;Expected average resource utilization: <span id="util">82.2</span>%%<br/>
</td>
<td><input id="create" type="submit" value="Create"/></td>{% endblocktrans %}
</tr></form>

</table>
</div>
{% endif %}

{% else %}
{% trans "Sorry, You don't have any execute permissions..." %}
{% endif %}

</div>
{% endblock %}
