{% extends "admin/base_site_grid.html" %}
{% load i18n %}
{% block extrahead %}{{block.super}}
<script type="text/javascript">

  var refresh = null;

  function updateRefresh()
  {
    if (refresh !== null)
    {
       // Disable the refresh which is currently active
       clearInterval(refresh);
       $('#autorefresh').addClass("ui-state-disabled");
       refresh = null;
    }
    else
    {
      // Enable the refresh which is currently inactive
      refresh = setInterval(function() {
        $("#grid").trigger("reloadGrid",[{current:true}]);
        }, 5000);
      $('#autorefresh').removeClass("ui-state-disabled");
    }
  }

  function status (cellvalue, options, rowdata) {
    if (rowdata.name == "generate plan"
        && !('finished' in rowdata)
        && cellvalue.charAt(cellvalue.length-1) == "%"
        )
      {% comment %}Translators: Translation included with Django {% endcomment %}
      return cellvalue + "&nbsp;&nbsp;<button class='ui-button ui-widget ui-state-default ui-corner-all' style='padding:0 0.5em 0 0.5em; font-size:66%' onclick='cancelTask(" + rowdata['id'] + ")'>{% filter force_escape %}{% trans 'Cancel' %}{% endfilter %}</button>";
    if (cellvalue == 'Failed')
      return "<span class='taskfailed'>{% trans 'failed'|capfirst %}</span>";
    else if (cellvalue == 'Waiting')
    {% comment %}Translators: Translation included with Django{% endcomment %} 
      return "{% trans 'waiting'|capfirst|force_escape %}&nbsp;&nbsp;<button class='ui-button ui-widget ui-state-default ui-corner-all' style='padding:0 0.5em 0 0.5em; font-size:66%' onclick='cancelTask(" + rowdata['id'] + ")'>{% filter force_escape %}{% trans 'Cancel' %}{% endfilter %}</button>";
    else if (cellvalue == 'Done')
      return "{% trans 'done'|capfirst %}";
    else if (cellvalue == 'Canceled')
      return "{% trans 'canceled'|capfirst %}";
    else
      return cellvalue;
  }

  function cancelTask(id)
  {
    $('#popup').html(
      interpolate(gettext('You are about to cancel task %s'), [id])
      ).dialog({
        title: gettext('Cancel task'),
        autoOpen: true,
        resizable: false,
        width: 'auto',
        height: 'auto',
        buttons: [
          {
            text: gettext("Confirm"),
            click: function() {
              $.ajax({
                url: "{{request.prefix}}/execute/cancel/" + id + "/",
                type: "POST",
                success: function () {
                  $('#popup').dialog().dialog('close');
                  },
                error: function (result, stat, errorThrown) {
                  $('#popup').html(result.responseText)
                    .dialog({
                      title: gettext("Error canceling data"),
                      autoOpen: true,
                      resizable: true,
                      width: 'auto',
                      height: 'auto'
                    });
                  }
              });
            }
          },
          {
            text: gettext("Cancel"),
            click: function() { $(this).dialog("close"); }
          }
          ]
      });
    $.jgrid.hideModal("#searchmodfbox_grid");
  }

  function calcUtil()
  {
    var clusters = parseInt($("#create0").val());
    var fcst = parseInt($("#create1").val());
    var demands = parseInt($("#create2").val());
    var levels = parseInt($("#create3").val());
    var rsrc_number = parseInt($("#create8").val());
    var rsrc_size = parseInt($("#create9").val());
    // Available capacity:  rsrc_number * rsrc_size * 365 days/year
    // Required capacity: clusters * fcst * 12 months/day * 1 day/unit
    // Levels has no influence since we load a resource only at 1 step
    // Demands also has no influence, as we assume that the forecast quantity is bigger than the orders.
    // * 7 / 5: to account for non-working weekends
    var util = (clusters * fcst * 12) / (rsrc_number * rsrc_size * 365) * 7.0 / 5.0
	  $("#util").html( (util * 100).toFixed(1) );
  }

  function checkChildren(id)
  {
    var m = id.substring(6,100);
    $("#" + id.replace(".","\\.")).prop("checked",true);  // Jquery has issues with dots in identifiers
    for (var child in models[m])
      checkChildren("empty_" + models[m][child]);
  }

  function importWorkbook()
  {
    // Nothing to import
    if ($('#spreadsheet').val() == "")
      return;

    // Create dialog box
    $('#uploadResponse').val("");
    $("#uploadSpreadsheet").dialog({
      title: gettext("Uploading spreadsheet"),
      autoOpen: true,
      resizable: false,
      width: 600,
      height: 'auto',
      modal: true
      });

    // Upload the file
    var data = new FormData();
    data.append("spreadsheet", $('#spreadsheet').get(0).files[0]);
    $.ajax({
      type: 'post',
      url: '{{request.prefix}}/execute/launch/importworkbook/',
      cache: false,
      data: data,
      success: function (data) {
        var el = $('#uploadResponse');
        el.val(data);
        el.scrollTop(el[0].scrollHeight - el.height());
      },
      xhrFields: {
        onprogress: function (e) {
          var el = $('#uploadResponse');
          el.val(e.currentTarget.response);
          el.scrollTop(el[0].scrollHeight - el.height());
        }
      },
      processData: false,
      contentType: false
      });
  }

  $(function() {
    // Buttons
    $("input:submit,#logfile").button();
    // Accordions
    $("#tasks").accordion({
      collapsible: true, active: 0, heightStyle: "content"
      });
    // Date picker
    $(".date").datepicker({
        showOtherMonths: true, selectOtherMonths: true,
        dateFormat: "yy-mm-dd", changeMonth:true,
        changeYear:true, yearRange: "c-5:c+5"
        });
    {% if not "refresh" in preferences or preferences.refresh %}
    // Refresh the grid every 5 seconds
    refresh = setInterval(function() {
      $("#grid").trigger("reloadGrid",[{current:true}]);
      }, 5000);{% endif %}
    // Checkboxes for workbook export
    $(".chck_all").click( function() {
      $(".chck_entity").prop("checked", $(this).prop("checked"));
      });
    $(".chck_entity").click( function() {
      $(".chck_all").prop("checked",$(".chck_entity:not(:checked)").length == 0);
      });
    // Checkboxes for emptying the database
    $(".empty_all").click( function() {
      $(".empty_entity").prop("checked", $(this).prop("checked"));
      });
    $(".empty_entity").click( function() {
      $(".empty_all").prop("checked",$(".empty_entity:not(:checked)").length == 0);
      if ($(this).prop("checked")) checkChildren($(this).attr('id'));
      });
    // Tooltips
    $(document).tooltip({
      show: {effect: "fade", delay: 500},
      content: function() {
        return $(this).attr("title");
        }
      });
  });

  var models = {% getModelDependencies %};
</script>

<style>
#scenarios td {
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
}
.ui-jqgrid tr.jqgrow td
{
  padding: 0;
}
#grid tr td {
  line-height: 22px;
}
#grid_frozen tr td {
  line-height: 22px;
}
.chck_all, .chck_entity, .empty_all, .empty_entity {
  margin-left: 20px;
  margin-right: 20px;
}
</style>
{% endblock %}
{% block actions %}
<span id="autorefresh" onclick="updateRefresh()" class="fa fa-refresh{% if "refresh" in preferences and not preferences.refresh %} ui-state-disabled{% endif %}" title="{% trans 'autorefresh'|capfirst|force_escape %}"></span>&nbsp;&nbsp;
{{block.super}}{% endblock %}
{% block after_table %}
<br><h1>{% trans "launch new tasks"|capfirst %}</h1>
<div id="tasks" style="max-width:700px">

{% if perms.execute %}

{% if perms.execute.generate_plan %}
<h3><a href="#plan">{% trans 'Create a plan' %}</a></h3>
<div>
<table>
<form method="post" action="{{request.prefix}}/execute/launch/frepple_run/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% blocktrans %}
Load frePPLe from the database and live data sources...<br>
and create a plan in frePPLe...<br>
and export results.<br>
<br>
<b>Plan type</b><br>{% endblocktrans %}
<input type="radio" name="plantype" {% ifnotequal request.session.plantype '2' %}checked {% endifnotequal %}value="1"/>
{% blocktrans %}<span title="This plan respects the constraints enabled below.<br>In case of shortages the demand is planned late or short.">Constrained plan</span>{% endblocktrans %}
<span class="fa fa-question-circle" style="display:inline-block;"></span><br>
<input type="radio" name="plantype" {% ifequal  request.session.plantype '2' %}checked {% endifequal %}value="2"/>
{% blocktrans %}<span title="This plan shows material, capacity and operation problems that prevent the demand from being planned in time.<br/>The demand is always met completely and on time.">Unconstrained plan</span>{% endblocktrans %}
<span class="fa fa-question-circle" style="display:inline-block;"></span><br>
<br>
<b>{% trans "constraints"|capfirst %}</b><br>
<input type="checkbox" name="constraint" {% if capacityconstrained %}checked {% endif %}value="4" id="cb4"/><label for="cb4">&nbsp;&nbsp;{% trans "Capacity: respect capacity limits" %}</label><br>
<input type="checkbox" name="constraint" {% if materialconstrained %}checked {% endif %}value="2" id="cb2"/><label for="cb2">&nbsp;&nbsp;{% trans "Material: respect procurement limits" %}</label><br>
<input type="checkbox" name="constraint" {% if leadtimeconstrained %}checked {% endif %}value="1" id="cb1"/><label for="cb1">&nbsp;&nbsp;{% trans "Lead time: do not plan in the past" %}</label><br>
<input type="checkbox" name="constraint" {% if fenceconstrained %}checked {% endif %}value="8" id="cb8"/><label for="cb8">&nbsp;&nbsp;{% trans "Release fence: do not plan within the release time window" %}</label><br>
<br>
{% if odoo %}
{% blocktrans %}<b title="A live data source allows your frePPLe plan to be 100% in sync with data in an external system.<br><br>FrePPLe will read data from them before planning.<br>And after the plan is generated frePPLe directly exports the results to them.<br>FrePPLe also saves a copy of the data in its own database for reporting.">Live data sources</b>{% endblocktrans %}
<span class="fa fa-question-circle" style="display:inline-block;"></span><br>
<table>
<tr><td></td>
<td style="padding: 0px 5px">{% trans "read"|capfirst %}</td>
<td style="padding: 0px 5px">{% trans "write"|capfirst %}</td></tr>
<tr><td style="padding-right: 10px">Odoo</td>
<td style="text-align:center"><input type="checkbox" name="odoo_read" {% if odoo_read %}checked {% endif %}value="1"/></td>
<td style="text-align:center"><input type="checkbox" name="odoo_write" {% if odoo_write %}checked {% endif %}value="1"/></td></tr>
</table><br>
{% endif %}
<a id="logfile" href="{{request.prefix}}/execute/logfrepple/">{% trans "View log file" %}</a></td>
</tr></form>
</table>
</div>
{% endif %}

<h3><a href="#exportworkbook">{% trans "Export a spreadsheet" %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/exportworkbook/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input id="export" type="submit" value="{% trans "export"|capfirst %}" /></td>
<td>{% trans "Download all input data in a single spreadsheet." %}<br><br>
{% getMenu as menu %}
<input class="chck_all" type="checkbox" name="all" value="1" checked><br>
{% for group in menu %}{% for item in group.1 %}{% if item.1.model and not item.1.excludeFromBulkOperations %}
<label for="chbx_{{ item.1.model | model_name }}"><input class="chck_entity" type="checkbox" name="entities" value="{{ item.1.model | model_name }}" checked id="chbx_{{ item.1.model | model_name }}">{{ group.0 }} - {{ item.0 }}</label><br>{% endif %}{% endfor %}{% endfor %}
</td></tr></form>
</table></div>

<h3><a href="#importworkbook">{% trans "Import a spreadsheet" %}</a></h3>
<div><table>
<tr>
<td style="vertical-align:top; padding: 15px"><input id="import" type="submit" onclick="importWorkbook()" value="{% trans "import"|capfirst %}" /></td>
<td>{% trans "Import input data from a spreadsheet.<br>The spreadsheet must match the structure exported with the task above." %}<br>
{% trans "Data file" %}:<input type="file" id="spreadsheet" name="spreadsheet" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
</td></tr>
</table></div>

{% if scenarios.count > 1 %}
<h3><a href="#scenarios">{% trans "scenario management"|capfirst %}</a></h3>
<div>
<table id="scenarios">
<form method="post" action="{{request.prefix}}/execute/launch/frepple_copy/">{% csrf_token %}<tr>
{% comment %}Translators: Translation included with Django {% endcomment %}
<th>{% trans 'name'|capfirst %}</th>
<th>{% trans 'status'|capfirst %}</th>
<th>{% trans 'description'|capfirst %}</th>
<th>{% trans 'last refresh'|capfirst %}</th></tr>
{% for j in scenarios %}{% ifnotequal j.name 'default' %}
<tr><td><input type=checkbox name="{{j.name}}" id="sc{{j.name}}"/><label for="sc{{j.name}}">&nbsp;<strong>{{j.name|capfirst}}</strong></label></td>
<td>{{j.status}}</td>
<td>{{j.description}}</td>
<td>{{j.lastrefresh|date:"DATETIME_FORMAT"}}</td></tr>
{% endifnotequal %}{% endfor %}
{% if perms.execute.copy_scenario %}
<tr><td><input name="copy" type="submit" value="{% trans "copy"|capfirst %}" style="width:100%"/></td>
<td colspan="2">{% trans "copy"|capfirst %} <select name="source">{% for j in scenarios %}{% ifequal j.status 'In use' %}<option value="{{j.name}}">{{j.name}}</option>{% endifequal %}{% endfor %}</select> {% trans "into selected scenarios" %}</td>
</tr>{% endif %}
{% if perms.execute.release_scenario %}
<tr><td><input name="release" type="submit" value="{% trans "release"|capfirst %}" style="width:100%"/></td>
<td colspan="2">{% trans "release selected scenarios"|capfirst %}</td>
</tr>
<tr><td><input name="update" type="submit" value="{% trans "update"|capfirst %}" style="width:100%"/></td>
<td colspan="2">{% trans "Update description of selected scenarios" %}<br>
<input name="description" type="text" size="40" /></td>
</tr>{% endif %}
</form>
</table>
</div>
{% endif %}

{% if perms.execute.run_db %}
<h3><a href="#backup">{% trans "Back up the database" %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/frepple_backup/">{% csrf_token %}<tr>
<td><input id="backup" type="submit" value="{% trans "launch"|capfirst %}" /></td>
<td>{% trans "Dump the database contents to a file." %}</td>
</tr></form>
</table></div>

<h3><a href="#empty">{% trans "Empty the database" %}</a></h3>
<div>
<table>
<form method="post" action="{{request.prefix}}/execute/launch/frepple_flush/">{% csrf_token %}<tr>
<td><input id="erase" type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% trans "Erase selected tables in the database." %}<br><br>
<input class="empty_all" type="checkbox" name="all" value="1"><br>
{% for group in menu %}{% for item in group.1 %}{% if item.1.model and not item.1.excludeFromBulkOperations %}
<label for="empty_{{ item.1.model | model_name }}"><input class="empty_entity" type="checkbox" name="entities" value="{{ item.1.model | model_name }}" {% if group.0 != _("Admin") %}checked {% endif %}id="empty_{{ item.1.model | model_name }}">{{ group.0 }} - {{ item.0 }}</label><br>{% endif %}{% endfor %}{% endfor %}
</td></tr></form>
</table></div>

<h3><a href="#load">{% trans "Load a dataset" %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/loaddata/">{% csrf_token %}<tr>
<td><input id="load" type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% trans "Load a dataset from a file in the database." %}<br>
{% trans "Available datasets:" %} <select name="datafile" id="entity">
<option value="-" selected="selected">-</option>
{% for i in fixtures %}<option value="{{i}}">{{i}}</option>
{% endfor %}
</select>
</td>
</tr></form></table></div>
{% endif %}

{% if openbravo %}
<h3><a href="#openbravo_import">{% blocktrans with erp="Openbravo" %}Import data from {{ erp }}{% endblocktrans %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/openbravo_import/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% blocktrans with delta="<input name='delta' type='text' maxlength='4' size='5' value='7' />" %}Import data changes in the last {{ delta }} days from the ERP into frePPLe.{% endblocktrans %}
</td></tr></form></table></div>

<h3><a href="#openbravo_export">{% blocktrans with erp="Openbravo" %}Export data to {{ erp }}{% endblocktrans %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/openbravo_export/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% trans "Export frePPLe plan to the ERP." %}</td></tr></form></table></div>
{% endif %}

{% if perms.execute.run_db %}
<h3><a href="#buckets">{% trans "Generate buckets" %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/frepple_createbuckets/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% blocktrans %}Create time buckets for reporting.<br>
Start date: <input class="date" name="start" type="text" maxlength="5" size="12"/><br>
End date: <input class="date" name="end" type="text" maxlength="5" size="12"/><br>
Week starts on: <select name="weekstart">
<option value="0">Sunday</option>
<option value="1" selected="selected">Monday</option>
<option value="2">Tuesday</option>
<option value="3">Wednesday</option>
<option value="4">Thursday</option>
<option value="5">Friday</option>
<option value="6">Saturday</option>
</select>
{% endblocktrans %}</td>
</tr></form></table></div>

<h3><a href="#generator">{% trans "Generate model" %}</a></h3>
<div><table>
<form method="post" action="{{request.prefix}}/execute/launch/frepple_createmodel/">{% csrf_token %}<tr>
<td style="vertical-align:top; padding: 15px"><input type="submit" value="{% trans "launch"|capfirst %}"/></td>
<td>{% blocktrans %}Create a sample model in the database.<br>
The parameters control the size and complexity.<br>
Number of end items: <input id="create0" name="clusters" type="text" maxlength="5" size="5" value="100" onchange="calcUtil()"/><br>
<b>Demand:</b><br>
&nbsp;&nbsp;Monthly forecast per end item: <input id="create1" name="fcst" type="text" maxlength="4" size="4" value="50" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Demands per end item: <input id="create2" name="demands" type="text" maxlength="4" size="4" value="30" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Average delivery lead time: <input id="create3" name="deliver_lt" type="text" maxlength="4" size="4" value="30" onchange="calcUtil()"/> days<br>
<b>Raw Materials:</b><br>
&nbsp;&nbsp;Depth of bill-of-material: <input id="create4" name="levels" type="text" maxlength="2" size="2" value="5" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Total number of components: <input id="create5" name="components" type="text" maxlength="5" size="5" value="200" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Number of components per end item: <input id="create6" name="components_per" type="text" maxlength="5" size="5" value="4" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Average procurement lead time: <input id="create7" name="procure_lt" type="text" maxlength="4" size="4" value="40" onchange="calcUtil()"/> days<br>
<b>Capacity:</b><br>
&nbsp;&nbsp;Number of resources: <input id="create8" name="rsrc_number" type="text" maxlength="3" size="3" value="60" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Size of each resource: <input id="create9" name="rsrc_size" type="text" maxlength="3" size="3" value="5" onchange="calcUtil()"/><br>
&nbsp;&nbsp;Expected average resource utilization: <span id="util">76.7</span>&#37;<br>
{% endblocktrans %}</td>
</tr></form></table></div>
{% endif %}

{% else %}
{% trans "Sorry, You don't have any execute permissions..." %}
{% endif %}

</div>

<div id="uploadSpreadsheet" style="display:none">
<div style="margin: 5px 0">
<textarea id="uploadResponse" rows="20" style="width:100%; background-color: inherit; border: none" readonly="readonly"></textarea>
</div></div>
{% endblock %}
