{% extends "admin/base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin">{% trans "Home" %}</a> &rsaquo; <a href="/execute">Execute</a> &rsaquo; Log file</div>{% endblock %}
{% block content %}
<div id="content-main">

<p><b>Log file:</b></p>

<blockquote><pre>
{% include "frepple.log" %}
</pre></blockquote>

</div>
{% endblock %}
