{% extends "admin/base_site_nav.html" %}
{% load i18n admin_list adminmedia %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrahead %}{{ block.super }}
{% for js in javascript_imports %}<script type="text/javascript" src="{{js}}"></script>
{% endfor %}
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block tools %}<div class="tools">
<a href="{% addurlparameter type csv %}" title="Export as CSV"><img src="/static/csv.png"/></a>
</div>{% endblock %}
{% block content %}
<div id="content-main">

<div style="overflow-x: scroll; overflow-y: auto;">
<table>
<thead><tr>{{ rowheader }}</tr></thead>

<tbody>{% for i in objectlist %}
<tr class="{% cycle row1,row2 %}">

<td>{{i.category}}</td>
<td>{{i.message}}</td>
<td>{{i.lastmodified}}</td>

</tr>{% endfor %}
</tbody></table>
</div>

{% block pagination %}<p class="paginator">
{% if is_paginated %}
{% for x in page_htmls %} {{x}} {% endfor %}
{% endif %}
&nbsp;&nbsp;{{hits}} log entries {% ifnotequal hits fullhits %} (total <a class="showall" href="/execute/log">{{fullhits}}</a>){% endifnotequal %}
{% endblock %}</p></div>

{% endblock %}
