/***************************************************************************
  file : $URL$
  version : $LastChangedRevision$  $LastChangedBy$
  date : $LastChangedDate$
  email : jdetaeye@users.sourceforge.net
 ***************************************************************************/

/***************************************************************************
 *                                                                         *
 * Copyright (C) 2007 by Johan De Taeye                                    *
 *                                                                         *
 * This library is free software; you can redistribute it and/or modify it *
 * under the terms of the GNU Lesser General Public License as published   *
 * by the Free Software Foundation; either version 2.1 of the License, or  *
 * (at your option) any later version.                                     *
 *                                                                         *
 * This library is distributed in the hope that it will be useful,         *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of          *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser *
 * General Public License for more details.                                *
 *                                                                         *
 * You should have received a copy of the GNU Lesser General Public        *
 * License along with this library; if not, write to the Free Software     *
 * Foundation Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA *
 *                                                                         *
 ***************************************************************************/

#include <windows.h>

// Language
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// Version
VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,3,1,0
  PRODUCTVERSION 0,3,1,0
  FILEFLAGSMASK 0x17L
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x4L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Frepple"
      VALUE "FileDescription",
            "Frepple Console Application - Free Production Planning Library"
      VALUE "FileVersion", "0, 3, 1, 0"
      VALUE "InternalName", "frepple.exe"
      VALUE "LegalCopyright",
            "Licenced under the GNU Lesser General Public License"
      VALUE "OriginalFilename", "frepple.exe"
      VALUE "ProductName", " Frepple Console Application"
      VALUE "ProductVersion", "0, 3, 1, 0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x409, 1200
  END
END
